{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Programme</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'add_programmes' %}">Programmes</a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
            {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Info("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if activetab == 'list' %} active show {% endif %}">List</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#add"
                                                        class="nav-link {% if activetab == 'add' %} active show {% endif %}">Add</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#reassign"
                                                        class="nav-link {% if activetab == 'reassign' %} active show {% endif %}">Re-Assign</a>
                                </li>

                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %}" id="list">

                                    <div class="row clearfix">

                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="body">

                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">

                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
                                                            <th>College</th>
                                                            <th>Duration</th>
                                                            <th>Passing Percentage</th>
                                                            <th>Seats</th>
                                                            <th>Semester</th>
                                                            <th>Action</th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for programme in programme %}

                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td><span
                                                                        class="list-name">{{ programme.name}}</span>
                                                                </td>
                                                                <td>{{ programme.college }}</td>

                                                                <td>{% if programme.duration == '1' %}
                                                                    {{ programme.duration }} year
                                                                {% else %}
                                                                    {{ programme.duration }} years
                                                                {% endif %}

                                                                </td>

                                                                <td>{{ programme.passing_percentage }}%</td>
                                                                <td>{{ programme.seats }}</td>
                                                                <td><a href="{% url 'display_semester' programme.id %}">
                                                                    <button type="button"
                                                                            class="btn btn-outline-info"><i
                                                                            class="fa fa-info-circle"></i>
                                                                        <span>Semester</span>
                                                                    </button>
                                                                </a></td>
                                                                <td>
                                                                    {% if programme.is_active %}

                                                                        <a href="{% url 'active_pro' programme.id %}"  class="button-remove">
                                                                            <button type="button"
                                                                                    class="btn btn-outline-danger"><i
                                                                                    class="fa fa-toggle-off"></i>
                                                                                <span>Deactivate</span>
                                                                            </button>

                                                                        </a>




                                                                    {% else %}
                                                                        <a href="{% url 'disable_pro' programme.id %}">
                                                                            <button type="button"
                                                                                    class="btn btn-outline-success"><i
                                                                                    class="fa fa-toggle-on"></i>
                                                                                <span>Activate</span>
                                                                            </button>

                                                                        </a>




                                                                    {% endif %}
                                                                </td>
                                                            </tr>


                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane {% if activetab == 'add' %} active show {% endif %}" id="add">

                                    <div class="row clearfix">
                                        <div class="col-md-6 col-lg-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Add Programme </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data">

                                                {% csrf_token %}

                                                {% for field in form %}

                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block" name="normal_prog">Add
                                                    Programme
                                                </button>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane {% if activetab == 'reassign' %} active show {% endif %}" id="reassign">

                                    <div class="row clearfix">
                                        <div class="col-md-6 col-lg-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Re-Assign Programme </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data">

                                                {% csrf_token %}

                                                {% for field in spform %}

                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block" name="reassign_prog">Add
                                                    Programme
                                                </button>

                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'programms_css_js.html' %}
{% endblock %}
