{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}
    
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Semester</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item"><a href="{% url 'add_programmes' %}">Programmes</a></li>


                        <li class="breadcrumb-item active">Semesters</li>
                    </ul>
                </div>            
            </div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-12 col-md-12">
                <div class="planned_task">
                    <div class="header">
                        <ul class="nav nav-tabs-new2">
                            <li class="nav-item"><a data-toggle="tab" href="#list" class="nav-link active show">List</a></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="list">

                                <div class="row clearfix">

                                {% for sem in sem_data %}
                                   
                                    <div class="col-md-4 col-lg-3">

                                        <div class="card">    
                                            <div class="header">
                                            <ul class="header-dropdown">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{% url 'course_list' sem.id %}">Courses</a></li>
{#                                                        <li><a href="javascript:void(0);">Edit</a></li>#}
{#                                                        <li><a href="javascript:void(0);">Delete</a></li>#}
                                                    </ul>
                                                </li>
                                            </ul>                    
                                        </div>                     
                                            <div class="body">
                                                <h6 class="mb-2">{{sem.name}}</h6>
                                                <ul class="list-unstyled">
{#                                                    <li>#}
{#                                                        <label class="font-weight-500">No of Course:</label>#}
{#                                                        <span>{{sem.no_of_course}}</span>#}
{#                                                        <span>{{count}}</span>#}
{#                                                    </li>#}
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                                    
                            
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}


{% block include_page %}
    {% include 'programms_css_js.html' %}
{% endblock %}
