{% load static %}
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">

<script src="{% static 'js/datatablescripts.bundle.js' %}"></script>

<script>
  $(document).ready(function () {

    $(function () {
      $('.dataTable').DataTable();
    });

    $('#id_approved').on('change', function() {
        if (this.value == "true"){
          jQuery('#id_remarks').removeAttr('required');     
        }        
        else {
          jQuery('#id_remarks').prop('required',true);                  
        }
      });

    $('a[data-toggle=modal], button[data-toggle=modal]').click(function (e){
            var currentobject = $(this).attr('href');
            e.preventDefault();
           
    $('a[data-toggle=modal], button[data-toggle=modal]').click(function () {

var data_id = '';

if (typeof $(this).data('id') !== 'undefined') {
console.log( $(this).data('id'));
data_id = $(this).data('id');
$(".modal-body #id_id").html(data_id);
document.updateexam.action= "/exam-registration/" + data_id +"/update"
// $(".modal-body #id_receipt_no").hide();
$("#createFormId").modal('show');
}

})
});

  });

</script>