{% load static %}

    <link rel="stylesheet" href="{% static 'css/parsley.css' %}">
    <script src="{% static 'js/parsley.min.js' %}"></script>    

    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <script src="{% static 'js/sweetalert.min.js' %}"></script>    

    
 
<script>

    jQuery('#id_transaction_id').parent(".form-group").hide();                        
    jQuery('#id_cheque_no').parent(".form-group").hide();
    $('#id_category').val("Tution");
    $('#id_payment_mode').val("Cash");

    $(function() {     
        $('#id_payment_mode').on('change', function() {
            if (this.value == "Cash"){
            jQuery('#id_transaction_id').parent(".form-group").hide();                        
            jQuery('#id_cheque_no').parent(".form-group").hide();
            jQuery('#id_transaction_id').removeAttr('required');  
            jQuery('#id_cheque_no').removeAttr('required');  
        }
        else if(this.value == "Cheque"){
            jQuery('#id_transaction_id').parent(".form-group").hide();
            jQuery('#id_transaction_id').removeAttr('required');  
            jQuery('#id_cheque_no').parent(".form-group").show();
            jQuery('#id_cheque_no').prop('required',true);
        }
        else if(this.value == "Online Payment"){
            jQuery('#id_transaction_id').parent(".form-group").show();                        
            jQuery('#id_transaction_id').prop('required',true);
            jQuery('#id_cheque_no').parent(".form-group").hide();
            jQuery('#id_cheque_no').removeAttr('required');  
        }
        });

        $('#add_college').parsley();
    });
</script>