{% load static %}

    <link rel="stylesheet" href="{% static 'css/parsley.css' %}">
    <script src="{% static 'js/parsley.min.js' %}"></script>    

    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <script src="{% static 'js/sweetalert.min.js' %}"></script>    



<script>
    $(function() {
        $('#student_register').parsley();

        jQuery('#id_approved_amount').prop('required',true);
        jQuery('#id_declare_semester').prop('required',true);
        jQuery('#id_remarks').removeAttr('required');  


        $('#id_approved').on('change', function() {
            if (this.value == "0"){
                jQuery('#id_approved_amount').parent(".form-group").hide();                        
                jQuery('#id_declare_semester').parent(".form-group").hide();
                jQuery('#id_approved_amount').removeAttr('required');  
                jQuery('#id_declare_semester').removeAttr('required');  
                jQuery('#id_remarks').prop('required',true);

            }
            else if(this.value == "1"){
                jQuery('#id_approved_amount').parent(".form-group").show();                        
                jQuery('#id_declare_semester').parent(".form-group").show();
                
                jQuery('#id_approved_amount').prop('required',true);
                jQuery('#id_declare_semester').prop('required',true);

                jQuery('#id_remarks').removeAttr('required');  
            }
        });
    });
</script>
