{% load static %}
<link rel="stylesheet" href="{% static 'css/parsley.css' %}">
<script src="{% static 'js/parsley.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
<script src="{% static 'js/sweetalert.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<script src="{% static 'js/datatablescripts.bundle.js' %}"></script>

<script src="{% static 'js/jquery.multi-select.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/multi-select.css' %}">


<script>


    

    $(document).ready(function () {

         
        
        $('#id_courseid').multiSelect({selectableOptgroup: true, keepOrder: true});


        
    });


    $(function () {

        $('#add_college').parsley();
        

      
    });

</script>

<style>
    .college_logo {
        height: 200px;
        object-fit: scale-down;
    }
</style>