{% extends "base.html" %}
{% load humanize %}
{% load indian_currency_tags %}
{% load myfilters %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>reassessment Request</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">reassessment Request Form</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Failure("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">


                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if activetab == 'list' %} active show{% endif %}">reassessment
                                    Requests</a></li>
                                
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %} " id="list">

                                    <div class="row clearfix">

                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="body">

                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">

                                                        <tr>
                                                            <th>#</th>
                                                            <th>Admission</th>
                                                            <th>Name</th>
                                                            <th>Course</th>
                                                            <th> Amount</th>
                                                            <th>Receipt Number</th>
                                                            <th>Date</th>
                                                            <th>Proof</th>
                                                            <th>Edit</th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        
                                                        {% for Fee_Requests in reassessmentfee_Request_data %}

                                                            <tr>

                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ Fee_Requests.student.admission }}</td>
                                                                <td>{{ Fee_Requests.student.full_name }}</td>
                                                                <td>{{ Fee_Requests.courseid|list_to_str }}</td>
                                                                <td>{{ Fee_Requests.amount }}</td>

                                                                <td>{{ Fee_Requests.receipt_no }}</td>
                                                                <td>{{ Fee_Requests.payment_date | naturalday }}</td>
                                                                <td>{% if Fee_Requests.payment_proof %}
                                                                    <a href="{{ Fee_Requests.payment_proof.url }}" target="_blank">
                                                                        <button type="button"
                                                                                class="btn btn-outline-secondary">
                                                                            Document
                                                                        </button>
                                                                    </a>

                                                                {% else %}
                                                                    ---

                                                                {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a href="{% url 'reassessment_approved_id' Fee_Requests.id %}">
                                                                        <button type="button"
                                                                                class="btn btn-outline-warning"><i
                                                                                class="fa fa-edit"></i>
                                                                            <span>Update</span>
                                                                        </button>
                                                                    </a>
                                                                    <!-- <a data-target="#createFormId"
                                                                       data-toggle="modal"
                                                                       data-id="{{ Fee_Requests.id }}"
                                                                       data-category="{{ Fee_Requests.category }}"
                                                                       href="#">
                                                                        <button type="button"
                                                                                class="btn btn-outline-info"
                                                                                data-toggle="modal"
                                                                                data-id="{{ Fee_Requests.id }}"
                                                                                data-category="{{ Fee_Requests.category }}"
                                                                        >
                                                                            <i class="fa fa-info-circle"></i>
                                                                            <span>Edit</span></button>
                                                                    </a> -->
                                                                </td>


                                                            </tr>


                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                

                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock content %}


{% block include_page %}
    {% include 'reassessment_css_js.html' %}
    
{% endblock %}


