{% load static %}
<link rel="stylesheet" href="{% static 'css/parsley.css' %}">
<script src="{% static 'js/parsley.min.js' %}"></script>    

<script>
    $(function() {
        $('#input_marks').parsley();
    });

    $( document ).ready(function() {
        $(document).on('click','.call_marks_modal', function(){
            $('#result_id').val($(this).data('id'));
            $('#id_seat_no').val($(this).data('seatno'));
            // $('#id_marks').val($(this).data('marks'));
        });
    });
 
    

</script>



<style>
.college_logo {
    height: 200px;
    object-fit: scale-down;
}
</style>