{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Input marks</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'viewstudents' %}"><i class="icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Input marks</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class=" row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane show active " id="list">

                                    <div class="row clearfix">

                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="body">
                                                    <div class="row">
                                                
                                                    <div class="col-lg-6"><p>Course Name : {{ course.name }}</p></div>
                                                    <div class="col-lg-6"><p>Maximum Marks : {{ course.max_marks }}</p></div>
                                                </div>
                    <!--  remove block from here when model will start working -->

                    <form method="post" class="form-auth-small" id="update_marks"
                          enctype="multipart/form-data">

                        {% csrf_token %}
                                                

                        <div class="row">
                        {% for field in marks_form %}
                            <div class="form-group col-lg-4">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                        <div class="col-lg-4" style="padding-top:30px;">
                        <button type="submit" class="btn btn-primary" name="reject_request">Update</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                        </div>
                        </div>
                    </form>

                    <!-- till here -->
                                                                
                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">

                                                        <tr>
                                                            <th>Seat No.</th>
                                                            <th>Marks</th>                                                            
                                                            <th>Operations</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        {% for stu_result in result %}
                                                            <tr>
                                                                <td>
                                                                    {{ stu_result.seatno.seatno }}
                                                                </td>                                                                
                                                                <td>
                                                                    {{ stu_result.marks }}
                                                                </td>  
                                                                <td>

                                                                    <a data-id={{ stu_result.id }} href="#defaultModal1"
                                                                       data-seatno="{{ stu_result.seatno.seatno }}"
                                                                       data-marks={{ stu_result.marks }}
                                                                       data-toggle="modal"
                                                                       data-target="#defaultModal1"
                                                                       class="call_marks_modal">
                                                                        <button type="button"
                                                                                class="btn btn-outline-warning"><i
                                                                                class="fa fa-edit"></i> <span>Update</span>
                                                                        </button>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    

{% endblock content %}


{% block include_page %}
    {% include 'update_marks_css_js.html' %}
{% endblock %}
