{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Course List</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'add_programmes' %}">Programmes </a></li>

                                <li class="breadcrumb-item active">Semesters </li>
                            <li class="breadcrumb-item active">Courses</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% if messages %}
                    {% for message in messages %}
                        {% if message.tags %}
                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

            <div class="row clearfix">


                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">


                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if navshow == 'list' %} active show{% endif %}">List</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#add"
                                                        class="nav-link {% if navshow == 'add' %} active show{% endif %}">Add</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if navshow == 'list' %} active show {% endif %}" id="list">

                                <div class="row clearfix">

                <div class="col-lg-12">
                    <div class="card">

                        <div class="body">

                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead class="thead-dark">

                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Maximum Marks</th>
                                    <th>Passing  Marks</th>
                                    <th>Details</th>
                                    <th>Delete</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for course in course_list %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ course.code }}</td>
                                        <td>{{ course.name }}</td>
                                        <td>{{ course.course_type }}</td>
                                        <td>{{ course.max_marks }}</td>
                                        <td>{{ course.pass_marks }}</td>
                                        <td>
                                            {% if course.course_details %}

                                                <a href="{{ course.course_details.url }}">
                                                <button type="button" class="btn btn-outline-secondary">Document</button>
                                                </a>

                                            {% else %}
                                                ---
                                            {% endif %}
                                        </td>
                                        <td><a href="{% url 'course_delete_view' course.id %}" class="remove_button">
                                            <button type="button" class="btn btn-outline-danger">
                                                <i class="fa fa-trash"></i>
                                                <span>Delete</span></button>
                                        </a></td>


                                    </tr>


                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
                                </div>

                                <div class="tab-pane {% if navshow == 'add' %} active show {% endif %}" id="add">

                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Add Course </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data">

                                                {% csrf_token %}

                                                {% for field in form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Add
                                                    Course
                                                </button>

                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'migration_css_js.html' %}
{% endblock %}