{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Input marks</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'viewstudents' %}"><i class="icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active"><a href="{% url 'result_home' %}">Results</a>
                            </li>
                            <li class="breadcrumb-item active">Display marks</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane show active " id="list">

                                    <div class="row clearfix">

                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="body">
                                                <div class="info">

                                                    <p><strong>Programme :</strong> {{ course.programme.name }}</p>
                                                    <p><strong>Course Name :</strong> {{ course.name }}</p>
                                                    <p><strong>Semester :</strong> {{ course.semester_id.name }}</p>
                                                    <p><strong>Maximum Marks :</strong> {{ course.max_marks }}</p>

                                                </div>
                                                    <hr>

                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">

                                                        <tr>
                                                            <th>#</th>
                                                            <th>Seat No.</th>
                                                            <th>Admission</th>
                                                            <th>Name</th>
                                                            <th>Batch</th>
                                                            <th>Marks Obtained</th>
                                                            <th>Operations</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        {% for stu_result in result %}
                                                            <tr>
                                                                <td>  {{ forloop.counter }}</td>
                                                                <td>  {{ stu_result.seatno.seatno.seatno }}</td>
                                                                <td>  {{ stu_result.seatno.seatno.student.admission }}</td>
                                                                <td>  {{ stu_result.seatno.seatno.student.full_name }}</td>
                                                                <td>  {{ stu_result.seatno.seatno.student.batch }}</td>
                                                                <td>
                                                                    {{ stu_result.marks }}
                                                                </td>
                                                                <td>
                                                                    <a data-id={{ stu_result.id }} href="#defaultModal1"
                                                                       data-seatno={{ stu_result.seatno.seatno.seatno }}
                                                                               data-marks={{ stu_result.marks }}
                                                                       data-toggle="modal"
                                                                       data-target="#defaultModal1"
                                                                       class="call_marks_modal">
                                                                        <button type="button"
                                                                                class="btn btn-outline-warning"><i
                                                                                class="fa fa-edit"></i>
                                                                            <span>Update</span>
                                                                        </button>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{#    <!-- uncomment model#}

    <div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="defaultModalLabel">Update Marks</h4>
                </div>
                <div class="modal-body">

                    <form method="post" class="form-auth-small" id="update_marks"
                        enctype="multipart/form-data">

                        {% csrf_token %}
                        
                        <input type="hidden" name="result_id" id="result_id">
                

                        {% for field in marks_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary" name="reject_request">Update</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>

                    </form>

                </div>
            </div>
        </div>
    </div>

{#    -->#}

{% endblock content %}


{% block include_page %}
    {% include 'result_css_js.html' %}
{% endblock %}
