{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Input marks</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'viewstudents' %}"><i class="icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active"><a href="{% url 'result_home' %}">Results</a>
                            </li>
                            <li class="breadcrumb-item active">Input marks</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane show active " id="list">

                                    <div class="row clearfix">

                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="body">
                                                    {% if records_exists %}
                                                        <p> Marks are already inserted </p>

                                                    {% else %}
                                                        <p>Course Name : {{ course.name }}</p>
                                                        <p>Maximum Marks : {{ course.max_marks }}</p>

                                                        <form method="post" data-max_marks={{ max_marks }} enctype="multipart/form-data" class="form-auth-small" id="input_marks">
                                                        {% csrf_token %}

                                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                            <thead class="thead-dark">

                                                            <tr>
                                                                <th>Seat No.</th>
                                                                <th>Marks Obtained</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                            {% for field, seat in forms1 %}
                                                                <tr>
                                                                    <td>
                                                                        {{ seat.seatno.seatno }}
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-group">
                                                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                                            {{ field }}
                                                                            {{ field.errors }}
                                                                        </div>
                                                                    </td>
                                                                </tr>


                                                            {% endfor %}

                                                            </tbody>
                                                        </table>
                                                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                                                            Submit
                                                        </button>
                                                    {% endif %}
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'result_css_js.html' %}
{% endblock %}
