{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> College </h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">College</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Info("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">

                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if show == 'list' %} active show  {% endif %}">List</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#add"
                                                        class="nav-link {% if show == 'add' %} active show  {% endif %}">Add</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if show == 'list' %} active show  {% endif %}" id="list">

                                    <div class="row clearfix">

                                        {% for college in collegedata %}

                                            <div class="col-md-6 col-lg-4">

                                                <div class="card">
                                                    <div class="header">
                                                        <ul class="header-dropdown">
                                                            <li class="dropdown">
                                                                <a href="javascript:void(0);" class="dropdown-toggle"
                                                                   data-toggle="dropdown" role="button"
                                                                   aria-haspopup="true" aria-expanded="false"></a>
                                                                <ul class="dropdown-menu dropdown-menu-right">
                                                                    <li>
                                                                        <a href="{% url 'college_programme_list' college.data.id %}">Programmes</a>
                                                                    </li>
                                                                    {#                                                        <li>#}
                                                                    {#                                                          {% if college.data.is_active %}#}
                                                                    {#                                                            <a href="{% url 'active_col' college.data.id %}" class="button-remove">Disable</a>#}
                                                                    {#                                                          {% else %}#}
                                                                    {#                                                            <a href="{% url 'disable_col' college.data.id %}" class="button-remove">Enable</a>#}
                                                                    {#                                                          {% endif %}#}
                                                                    {#                                                        </li>#}
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="body">
                                                        <img src="{{ college.data.logo.url }}" alt=""
                                                             class="img-fluid rounded m-b-20 college_logo">
                                                        <h6 class="mb-4">{{ college.data.name }}</h6>
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Address:</label>
                                                                <span>{{ college.data.address }}</span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Contact:</label>
                                                                <span>{{ college.data.contact }}</span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Email:</label>
                                                                <span> <a href="mailto:{{ college.data.email }}">{{ college.data.email }}</a></span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Website:</label>
                                                                <span><a target="_blank" href="{{ college.data.website }}">{{ college.data.website }}</a></span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">No. of
                                                                    Programme: </label>
                                                                <span>{{ college.progrmme_count }}</span>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}


                                    </div>
                                </div>

                                <div class="tab-pane {% if show == 'add' %} active show  {% endif %}" id="add">

                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Add College </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data">

                                                {% csrf_token %}

                                                {% for field in form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Add
                                                    College
                                                </button>

                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'college_css_js.html' %}
{% endblock %}
