{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}
    
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> College Programmes</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item active"><a href="{% url 'college_list' %}">Colleges</a></li>
                        <li class="breadcrumb-item active">Programmes</li>
                    </ul>
                </div>            
            </div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-12 col-md-12">
                <div class="planned_task">
                    <div class="header">
                        <ul class="nav nav-tabs-new2">
                            <li class="nav-item"><a data-toggle="tab" href="#list" class="nav-link active show">List</a></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="tab-content">
                            <div class="tab-pane show active " id="list">

                                <div class="row clearfix">

                                {% for college in formdata %}
                                    <div class="col-md-6 col-lg-4">
                                        <div class="card">                        
                                            <div class="body">
                                                <h6 class="mb-4">{{college.name}}</h6>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Seats:</label>
                                                        <span>{{college.seats}}</span>

                                                    </li>

                                                </ul>

                                            </div>

                                        </div>

                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block include_page %}
    {% include 'college_css_js.html' %}
{% endblock %}
