{% extends 'base.html' %}
{% load static %}


{% block content %}

		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">
                    <div class="top">
                                                                                           <img src="{% static 'images/SoluSoft Logo.png' %}" style="width: 254px;" alt="Lucid">

{#                        <img src="http://www.wrraptheme.com/templates/lucid/university/html/assets/images/logo-white.svg" alt="Lucid">#}
                    </div>
					<div class="card">
                        <div class="header">
                            <p class="lead">Forgot password</p>
                        </div>
                        <div class="body">

                        <form method="post" class="form-auth-small" id="university_login">
                            {% csrf_token %}


                            {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}" >{{ field.label }}</label>
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

                            <div class="bottom">
{#                                <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="page-forgot-password.html">Forgot password?</a></span>#}
{#                                <span>Don't have an account? <a href="{% url 'uni_register' %}">Register</a></span>#}
                                                                    <span>Already having an account? <a href="{% url 'login' %}">Login</a></span>

                            </div>

                        </form>


                        </div>
                    </div>
				</div>
			</div>
		</div>

{% endblock content %}

{% block include_page %}
    {% include 'app_css_js.html' %}
{% endblock %}