{% extends 'base.html' %}
{% load static %}

{% block content %}

		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">
                    <div class="top">
                                                <img src="{% static 'images/SoluSoft Logo.png' %}" style="width: 254px;" alt="Lucid">

{#                        <img src="http://www.wrraptheme.com/templates/lucid/university/html/assets/images/logo-white.svg" alt="Lucid">#}
                    </div>
					<div class="card">
                        <div class="header">
                            <p class="lead">Forgot password</p>
                        </div>
                        <div class="body">

                           
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login</a> now.
  </p>


                         
                        </div>
                    </div>
				</div>
			</div>
		</div>

{% endblock content %}

{% block include_page %}
    {% include 'app_css_js.html' %}
{% endblock %}