{% load static %}
<link rel="stylesheet" href="{% static 'css/parsley.css' %}">
<script src="{% static 'js/parsley.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
<script src="{% static 'js/sweetalert.min.js' %}"></script>

<script>
        jQuery('div #id_transaction_id').parent(".form-group").hide();
        jQuery('div #id_cheque_no').parent(".form-group").hide();

        jQuery('div #id_delivery_address').parent(".form-group").hide();
        jQuery('div #id_receiving_person_name').parent(".form-group").hide();

        $('select#id_payment_mode').val("Cash");
        $('select#id_receipt_mode').val("In person");

    $(function () {

        $('select#id_payment_mode').on('change', function() {
            if (this.value == "Cash"){
            jQuery('div #id_transaction_id').parent(".form-group").hide();
            jQuery('div #id_cheque_no').parent(".form-group").hide();
        }
        else if(this.value == "Cheque"){
            jQuery('div #id_transaction_id').parent(".form-group").hide();
            jQuery('div #id_cheque_no').show();
        }
        else if(this.value == "Online Payment"){
            jQuery('div #id_transaction_id').show();
            jQuery('div #id_cheque_no').parent(".form-group").hide();
        }
        });
<!--
        $('select#id_receipt_mode').on('change', function() {
            if (this.value == "In person"){
            jQuery('div #id_delivery_address').parent(".form-group").hide();
            jQuery('div #id_receiving_person_name').parent(".form-group").hide();
        }
        else if(this.value == "On behalf"){
            jQuery('div #id_delivery_address').parent(".form-group").hide();
            jQuery('div #id_receiving_person_name').show();

                            jQuery('#id_receiving_person_name').prop('required',true);

        }
        else if(this.value == "Post"){
            jQuery('div #id_delivery_address').show();
                                        jQuery('#id_delivery_address').prop('required',true);

            jQuery('div #id_receiving_person_name').parent(".form-group").hide();
        }-->
        });

        $('#add_college').parsley();

        $(document).on("click", ".button-remove", function (e) {
            var currentobject = $(this).attr('href');
            e.preventDefault();
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            }, function () {
                console.log(currentobject);
                window.location.href = currentobject;
            });
        });


</script>
<script>

    jQuery('#id_transaction_id').parent(".form-group").hide();
    jQuery('#id_cheque_no').parent(".form-group").hide();
    $('#id_category').val("Tution");
    $('#id_payment_mode').val("Cash");

    $(function() {
        $('#id_payment_mode').on('change', function() {
            if (this.value == "Cash"){
            jQuery('#id_transaction_id').parent(".form-group").hide();
            jQuery('#id_cheque_no').parent(".form-group").hide();
            jQuery('#id_transaction_id').removeAttr('required');
            jQuery('#id_cheque_no').removeAttr('required');
        }
        else if(this.value == "Cheque"){
            jQuery('#id_transaction_id').parent(".form-group").hide();
            jQuery('#id_transaction_id').removeAttr('required');
            jQuery('#id_cheque_no').parent(".form-group").show();
            jQuery('#id_cheque_no').prop('required',true);
        }
        else if(this.value == "Online Payment"){
            jQuery('#id_transaction_id').parent(".form-group").show();
            jQuery('#id_transaction_id').prop('required',true);
            jQuery('#id_cheque_no').parent(".form-group").hide();
            jQuery('#id_cheque_no').removeAttr('required');
        }
        });

        $('#add_college').parsley();
    });
</script>

<style>
    .college_logo {
        height: 200px;
        object-fit: scale-down;
    }
</style>


<style>
    table.dataTable {
        clear: both;
        margin-top: 6px !important;
        margin-bottom: 6px !important;
        max-width: none !important;
        border-collapse: separate !important
    }

    table.dataTable td, table.dataTable th {
        -webkit-box-sizing: content-box;
        box-sizing: content-box
    }

    table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
        text-align: center
    }

    table.dataTable.nowrap th, table.dataTable.nowrap td {
        white-space: nowrap
    }

    div.dataTables_wrapper div.dataTables_length label {
        font-weight: normal;
        text-align: left;
        white-space: nowrap
    }

    div.dataTables_wrapper div.dataTables_length select {
        width: 75px;
        display: inline-block
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: right
    }

    div.dataTables_wrapper div.dataTables_filter label {
        font-weight: normal;
        white-space: nowrap;
        text-align: left
    }

    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0.5em;
        display: inline-block;
        width: auto
    }

    div.dataTables_wrapper div.dataTables_info {
        padding-top: 0.85em;
        white-space: nowrap
    }

    div.dataTables_wrapper div.dataTables_paginate {
        margin: 0;
        white-space: nowrap;
        text-align: right
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
        justify-content: flex-end
    }

    div.dataTables_wrapper div.dataTables_processing {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        margin-top: -26px;
        text-align: center;
        padding: 1em 0
    }

    table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
        padding-right: 30px
    }

    table.dataTable thead > tr > th:active, table.dataTable thead > tr > td:active {
        outline: none
    }

    table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
        cursor: pointer;
        position: relative
    }

    table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        position: absolute;
        bottom: 0.9em;
        display: block;
        opacity: 0.3
    }

    table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
        right: 1em;
        content: "\2191"
    }

    table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
        right: 0.5em;
        content: "\2193"
    }

    table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
        opacity: 1
    }

    table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        opacity: 0
    }

    div.dataTables_scrollHead table.dataTable {
        margin-bottom: 0 !important
    }

    div.dataTables_scrollBody table {
        border-top: none;
        margin-top: 0 !important;
        margin-bottom: 0 !important
    }

    div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
        display: none
    }

    div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
        border-top: none
    }

    div.dataTables_scrollFoot > .dataTables_scrollFootInner {
        box-sizing: content-box
    }

    div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
        margin-top: 0 !important;
        border-top: none
    }

    @media screen and (max-width: 767px) {
        div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
            text-align: center
        }
    }

    table.dataTable.table-sm > thead > tr > th {
        padding-right: 20px
    }

    table.dataTable.table-sm .sorting:before, table.dataTable.table-sm .sorting_asc:before, table.dataTable.table-sm .sorting_desc:before {
        top: 5px;
        right: 0.85em
    }

    table.dataTable.table-sm .sorting:after, table.dataTable.table-sm .sorting_asc:after, table.dataTable.table-sm .sorting_desc:after {
        top: 5px
    }

    table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0
    }

    table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
        border-right-width: 0
    }

    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        border-bottom-width: 0
    }

    div.dataTables_scrollHead table.table-bordered {
        border-bottom-width: 0
    }

    div.table-responsive > div.dataTables_wrapper > div.row {
        margin: 0
    }

    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
        padding-left: 0
    }

    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
        padding-right: 0
    }

</style>

<script>
    !function(a){"function"==typeof define&&define.amd?define(["jquery"],function(b){return a(b,window,document)}):"object"==typeof exports?module.exports=function(b,c){return b||(b=window),c||(c="undefined"!=typeof window?require("jquery"):require("jquery")(b)),a(c,b,b.document)}:a(jQuery,window,document)}(function(a,b,c,d){function e(b){var c,d,f={};a.each(b,function(a){(c=a.match(/^([^A-Z]+?)([A-Z])/))&&-1!=="a aa ai ao as b fn i m o s ".indexOf(c[1]+" ")&&(d=a.replace(c[0],c[2].toLowerCase()),f[d]=a,"o"===c[1]&&e(b[a]))}),b._hungarianMap=f}function f(b,c,g){b._hungarianMap||e(b);var h;a.each(c,function(e){(h=b._hungarianMap[e])===d||!g&&c[h]!==d||("o"===h.charAt(0)?(c[h]||(c[h]={}),a.extend(!0,c[h],c[e]),f(b[h],c[h],g)):c[h]=c[e])})}function g(a){var b=Ua.defaults.oLanguage,c=a.sZeroRecords;!a.sEmptyTable&&c&&"No data available in table"===b.sEmptyTable&&Fa(a,a,"sZeroRecords","sEmptyTable"),!a.sLoadingRecords&&c&&"Loading..."===b.sLoadingRecords&&Fa(a,a,"sZeroRecords","sLoadingRecords"),a.sInfoThousands&&(a.sThousands=a.sInfoThousands),(a=a.sDecimal)&&Oa(a)}function h(a){if(jb(a,"ordering","bSort"),jb(a,"orderMulti","bSortMulti"),jb(a,"orderClasses","bSortClasses"),jb(a,"orderCellsTop","bSortCellsTop"),jb(a,"order","aaSorting"),jb(a,"orderFixed","aaSortingFixed"),jb(a,"paging","bPaginate"),jb(a,"pagingType","sPaginationType"),jb(a,"pageLength","iDisplayLength"),jb(a,"searching","bFilter"),"boolean"==typeof a.sScrollX&&(a.sScrollX=a.sScrollX?"100%":""),"boolean"==typeof a.scrollX&&(a.scrollX=a.scrollX?"100%":""),a=a.aoSearchCols)for(var b=0,c=a.length;b<c;b++)a[b]&&f(Ua.models.oSearch,a[b])}function i(b){jb(b,"orderable","bSortable"),jb(b,"orderData","aDataSort"),jb(b,"orderSequence","asSorting"),jb(b,"orderDataType","sortDataType");var c=b.aDataSort;"number"==typeof c&&!a.isArray(c)&&(b.aDataSort=[c])}function j(c){if(!Ua.__browser){var d={};Ua.__browser=d;var e=a("<div/>").css({position:"fixed",top:0,left:-1*a(b).scrollLeft(),height:1,width:1,overflow:"hidden"}).append(a("<div/>").css({position:"absolute",top:1,left:1,width:100,overflow:"scroll"}).append(a("<div/>").css({width:"100%",height:10}))).appendTo("body"),f=e.children(),g=f.children();d.barWidth=f[0].offsetWidth-f[0].clientWidth,d.bScrollOversize=100===g[0].offsetWidth&&100!==f[0].clientWidth,d.bScrollbarLeft=1!==Math.round(g.offset().left),d.bBounding=!!e[0].getBoundingClientRect().width,e.remove()}a.extend(c.oBrowser,Ua.__browser),c.oScroll.iBarWidth=Ua.__browser.barWidth}function k(a,b,c,e,f,g){var h,i=!1;for(c!==d&&(h=c,i=!0);e!==f;)a.hasOwnProperty(e)&&(h=i?b(h,a[e],e,a):a[e],i=!0,e+=g);return h}function l(b,d){var e=Ua.defaults.column,f=b.aoColumns.length,e=a.extend({},Ua.models.oColumn,e,{nTh:d||c.createElement("th"),sTitle:e.sTitle?e.sTitle:d?d.innerHTML:"",aDataSort:e.aDataSort?e.aDataSort:[f],mData:e.mData?e.mData:f,idx:f});b.aoColumns.push(e),e=b.aoPreSearchCols,e[f]=a.extend({},Ua.models.oSearch,e[f]),m(b,f,a(d).data())}function m(b,c,e){var c=b.aoColumns[c],g=b.oClasses,h=a(c.nTh);if(!c.sWidthOrig){c.sWidthOrig=h.attr("width")||null;var j=(h.attr("style")||"").match(/width:\s*(\d+[pxem%]+)/);j&&(c.sWidthOrig=j[1])}e!==d&&null!==e&&(i(e),f(Ua.defaults.column,e),e.mDataProp!==d&&!e.mData&&(e.mData=e.mDataProp),e.sType&&(c._sManualType=e.sType),e.className&&!e.sClass&&(e.sClass=e.className),e.sClass&&h.addClass(e.sClass),a.extend(c,e),Fa(c,e,"sWidth","sWidthOrig"),e.iDataSort!==d&&(c.aDataSort=[e.iDataSort]),Fa(c,e,"aDataSort"));var k=c.mData,l=z(k),m=c.mRender?z(c.mRender):null,e=function(a){return"string"==typeof a&&-1!==a.indexOf("@")};c._bAttrSrc=a.isPlainObject(k)&&(e(k.sort)||e(k.type)||e(k.filter)),c._setter=null,c.fnGetData=function(a,b,c){var e=l(a,b,d,c);return m&&b?m(e,b,a,c):e},c.fnSetData=function(a,b,c){return A(k)(a,b,c)},"number"!=typeof k&&(b._rowReadObject=!0),b.oFeatures.bSort||(c.bSortable=!1,h.addClass(g.sSortableNone)),b=-1!==a.inArray("asc",c.asSorting),e=-1!==a.inArray("desc",c.asSorting),c.bSortable&&(b||e)?b&&!e?(c.sSortingClass=g.sSortableAsc,c.sSortingClassJUI=g.sSortJUIAscAllowed):!b&&e?(c.sSortingClass=g.sSortableDesc,c.sSortingClassJUI=g.sSortJUIDescAllowed):(c.sSortingClass=g.sSortable,c.sSortingClassJUI=g.sSortJUI):(c.sSortingClass=g.sSortableNone,c.sSortingClassJUI="")}function n(a){if(!1!==a.oFeatures.bAutoWidth){var b=a.aoColumns;pa(a);for(var c=0,d=b.length;c<d;c++)b[c].nTh.style.width=b[c].sWidth}b=a.oScroll,(""!==b.sY||""!==b.sX)&&na(a),Ja(a,null,"column-sizing",[a])}function o(a,b){var c=r(a,"bVisible");return"number"==typeof c[b]?c[b]:null}function p(b,c){var d=r(b,"bVisible"),d=a.inArray(c,d);return-1!==d?d:null}function q(b){var c=0;return a.each(b.aoColumns,function(b,d){d.bVisible&&"none"!==a(d.nTh).css("display")&&c++}),c}function r(b,c){var d=[];return a.map(b.aoColumns,function(a,b){a[c]&&d.push(b)}),d}function s(a){var b,c,e,f,g,h,i,j,k,l=a.aoColumns,m=a.aoData,n=Ua.ext.type.detect;for(b=0,c=l.length;b<c;b++)if(i=l[b],k=[],!i.sType&&i._sManualType)i.sType=i._sManualType;else if(!i.sType){for(e=0,f=n.length;e<f;e++){for(g=0,h=m.length;g<h&&(k[g]===d&&(k[g]=w(a,g,b,"type")),(j=n[e](k[g],a))||e===n.length-1)&&"html"!==j;g++);if(j){i.sType=j;break}}i.sType||(i.sType="string")}}function t(b,c,e,f){var g,h,i,j,k,m,n=b.aoColumns;if(c)for(g=c.length-1;0<=g;g--){m=c[g];var o=m.targets!==d?m.targets:m.aTargets;for(a.isArray(o)||(o=[o]),h=0,i=o.length;h<i;h++)if("number"==typeof o[h]&&0<=o[h]){for(;n.length<=o[h];)l(b);f(o[h],m)}else if("number"==typeof o[h]&&0>o[h])f(n.length+o[h],m);else if("string"==typeof o[h])for(j=0,k=n.length;j<k;j++)("_all"==o[h]||a(n[j].nTh).hasClass(o[h]))&&f(j,m)}if(e)for(g=0,b=e.length;g<b;g++)f(g,e[g])}function u(b,c,e,f){var g=b.aoData.length,h=a.extend(!0,{},Ua.models.oRow,{src:e?"dom":"data",idx:g});h._aData=c,b.aoData.push(h);for(var i=b.aoColumns,j=0,k=i.length;j<k;j++)i[j].sType=null;return b.aiDisplayMaster.push(g),c=b.rowIdFn(c),c!==d&&(b.aIds[c]=h),(e||!b.oFeatures.bDeferRender)&&G(b,g,e,f),g}function v(b,c){var d;return c instanceof a||(c=a(c)),c.map(function(a,c){return d=F(b,c),u(b,d.data,c,d.cells)})}function w(a,b,c,e){var f=a.iDraw,g=a.aoColumns[c],h=a.aoData[b]._aData,i=g.sDefaultContent,j=g.fnGetData(h,e,{settings:a,row:b,col:c});if(j===d)return a.iDrawError!=f&&null===i&&(Ea(a,0,"Requested unknown parameter "+("function"==typeof g.mData?"{function}":"'"+g.mData+"'")+" for row "+b+", column "+c,4),a.iDrawError=f),i;if(j!==h&&null!==j||null===i||e===d){if("function"==typeof j)return j.call(h)}else j=i;return null===j&&"display"==e?"":j}function x(a,b,c,d){a.aoColumns[c].fnSetData(a.aoData[b]._aData,d,{settings:a,row:b,col:c})}function y(b){return a.map(b.match(/(\\.|[^\.])+/g)||[""],function(a){return a.replace(/\\\./g,".")})}function z(b){if(a.isPlainObject(b)){var c={};return a.each(b,function(a,b){b&&(c[a]=z(b))}),function(a,b,e,f){var g=c[b]||c._;return g!==d?g(a,b,e,f):a}}if(null===b)return function(a){return a};if("function"==typeof b)return function(a,c,d,e){return b(a,c,d,e)};if("string"==typeof b&&(-1!==b.indexOf(".")||-1!==b.indexOf("[")||-1!==b.indexOf("("))){var e=function(b,c,f){var g,h;if(""!==f){h=y(f);for(var i=0,j=h.length;i<j;i++){if(f=h[i].match(kb),g=h[i].match(lb),f){if(h[i]=h[i].replace(kb,""),""!==h[i]&&(b=b[h[i]]),g=[],h.splice(0,i+1),h=h.join("."),a.isArray(b))for(i=0,j=b.length;i<j;i++)g.push(e(b[i],c,h));b=f[0].substring(1,f[0].length-1),b=""===b?g:g.join(b);break}if(g)h[i]=h[i].replace(lb,""),b=b[h[i]]();else{if(null===b||b[h[i]]===d)return d;b=b[h[i]]}}}return b};return function(a,c){return e(a,c,b)}}return function(a){return a[b]}}function A(b){if(a.isPlainObject(b))return A(b._);if(null===b)return function(){};if("function"==typeof b)return function(a,c,d){b(a,"set",c,d)};if("string"==typeof b&&(-1!==b.indexOf(".")||-1!==b.indexOf("[")||-1!==b.indexOf("("))){var c=function(b,e,f){var g,f=y(f);g=f[f.length-1];for(var h,i,j=0,k=f.length-1;j<k;j++){if(h=f[j].match(kb),i=f[j].match(lb),h){if(f[j]=f[j].replace(kb,""),b[f[j]]=[],g=f.slice(),g.splice(0,j+1),h=g.join("."),a.isArray(e))for(i=0,k=e.length;i<k;i++)g={},c(g,e[i],h),b[f[j]].push(g);else b[f[j]]=e;return}i&&(f[j]=f[j].replace(lb,""),b=b[f[j]](e)),null!==b[f[j]]&&b[f[j]]!==d||(b[f[j]]={}),b=b[f[j]]}g.match(lb)?b[g.replace(lb,"")](e):b[g.replace(kb,"")]=e};return function(a,d){return c(a,d,b)}}return function(a,c){a[b]=c}}function B(a){return eb(a.aoData,"_aData")}function C(a){a.aoData.length=0,a.aiDisplayMaster.length=0,a.aiDisplay.length=0,a.aIds={}}function D(a,b,c){for(var e=-1,f=0,g=a.length;f<g;f++)a[f]==b?e=f:a[f]>b&&a[f]--;-1!=e&&c===d&&a.splice(e,1)}function E(a,b,c,e){var f,g=a.aoData[b],h=function(c,d){for(;c.childNodes.length;)c.removeChild(c.firstChild);c.innerHTML=w(a,b,d,"display")};if("dom"!==c&&(c&&"auto"!==c||"dom"!==g.src)){var i=g.anCells;if(i)if(e!==d)h(i[e],e);else for(c=0,f=i.length;c<f;c++)h(i[c],c)}else g._aData=F(a,g,e,e===d?d:g._aData).data;if(g._aSortData=null,g._aFilterData=null,h=a.aoColumns,e!==d)h[e].sType=null;else{for(c=0,f=h.length;c<f;c++)h[c].sType=null;H(a,g)}}function F(b,c,e,f){var g,h,i,j=[],k=c.firstChild,l=0,m=b.aoColumns,n=b._rowReadObject,f=f!==d?f:n?{}:[],o=function(a,b){if("string"==typeof a){var c=a.indexOf("@");-1!==c&&(c=a.substring(c+1),A(a)(f,b.getAttribute(c)))}},p=function(b){e!==d&&e!==l||(h=m[l],i=a.trim(b.innerHTML),h&&h._bAttrSrc?(A(h.mData._)(f,i),o(h.mData.sort,b),o(h.mData.type,b),o(h.mData.filter,b)):n?(h._setter||(h._setter=A(h.mData)),h._setter(f,i)):f[l]=i),l++};if(k)for(;k;)g=k.nodeName.toUpperCase(),"TD"!=g&&"TH"!=g||(p(k),j.push(k)),k=k.nextSibling;else for(j=c.anCells,k=0,g=j.length;k<g;k++)p(j[k]);return(c=c.firstChild?c:c.nTr)&&(c=c.getAttribute("id"))&&A(b.rowId)(f,c),{data:f,cells:j}}function G(b,d,e,f){var g,h,i,j,k,l=b.aoData[d],m=l._aData,n=[];if(null===l.nTr){for(g=e||c.createElement("tr"),l.nTr=g,l.anCells=n,g._DT_RowIndex=d,H(b,l),j=0,k=b.aoColumns.length;j<k;j++)i=b.aoColumns[j],h=e?f[j]:c.createElement(i.sCellType),h._DT_CellIndex={row:d,column:j},n.push(h),e&&!i.mRender&&i.mData===j||a.isPlainObject(i.mData)&&i.mData._===j+".display"||(h.innerHTML=w(b,d,j,"display")),i.sClass&&(h.className+=" "+i.sClass),i.bVisible&&!e?g.appendChild(h):!i.bVisible&&e&&h.parentNode.removeChild(h),i.fnCreatedCell&&i.fnCreatedCell.call(b.oInstance,h,w(b,d,j),m,d,j);Ja(b,"aoRowCreatedCallback",null,[g,m,d])}l.nTr.setAttribute("role","row")}function H(b,c){var d=c.nTr,e=c._aData;if(d){var f=b.rowIdFn(e);f&&(d.id=f),e.DT_RowClass&&(f=e.DT_RowClass.split(" "),c.__rowc=c.__rowc?ib(c.__rowc.concat(f)):f,a(d).removeClass(c.__rowc.join(" ")).addClass(e.DT_RowClass)),e.DT_RowAttr&&a(d).attr(e.DT_RowAttr),e.DT_RowData&&a(d).data(e.DT_RowData)}}function I(b){var c,d,e,f,g,h=b.nTHead,i=b.nTFoot,j=0===a("th, td",h).length,k=b.oClasses,l=b.aoColumns;for(j&&(f=a("<tr/>").appendTo(h)),c=0,d=l.length;c<d;c++)g=l[c],e=a(g.nTh).addClass(g.sClass),j&&e.appendTo(f),b.oFeatures.bSort&&(e.addClass(g.sSortingClass),!1!==g.bSortable&&(e.attr("tabindex",b.iTabIndex).attr("aria-controls",b.sTableId),ya(b,g.nTh,c))),g.sTitle!=e[0].innerHTML&&e.html(g.sTitle),La(b,"header")(b,e,g,k);if(j&&N(b.aoHeader,h),a(h).find(">tr").attr("role","row"),a(h).find(">tr>th, >tr>td").addClass(k.sHeaderTH),a(i).find(">tr>th, >tr>td").addClass(k.sFooterTH),null!==i)for(b=b.aoFooter[0],c=0,d=b.length;c<d;c++)g=l[c],g.nTf=b[c].cell,g.sClass&&a(g.nTf).addClass(g.sClass)}function J(b,c,e){var f,g,h,i,j=[],k=[],l=b.aoColumns.length;if(c){for(e===d&&(e=!1),f=0,g=c.length;f<g;f++){for(j[f]=c[f].slice(),j[f].nTr=c[f].nTr,h=l-1;0<=h;h--)!b.aoColumns[h].bVisible&&!e&&j[f].splice(h,1);k.push([])}for(f=0,g=j.length;f<g;f++){if(b=j[f].nTr)for(;h=b.firstChild;)b.removeChild(h);for(h=0,c=j[f].length;h<c;h++)if(i=l=1,k[f][h]===d){for(b.appendChild(j[f][h].cell),k[f][h]=1;j[f+l]!==d&&j[f][h].cell==j[f+l][h].cell;)k[f+l][h]=1,l++;for(;j[f][h+i]!==d&&j[f][h].cell==j[f][h+i].cell;){for(e=0;e<l;e++)k[f+e][h+i]=1;i++}a(j[f][h].cell).attr("rowspan",l).attr("colspan",i)}}}}function K(b){var c=Ja(b,"aoPreDrawCallback","preDraw",[b]);if(-1!==a.inArray(!1,c))la(b,!1);else{var c=[],e=0,f=b.asStripeClasses,g=f.length,h=b.oLanguage,i=b.iInitDisplayStart,j="ssp"==Ma(b),k=b.aiDisplay;b.bDrawing=!0,i!==d&&-1!==i&&(b._iDisplayStart=j?i:i>=b.fnRecordsDisplay()?0:i,b.iInitDisplayStart=-1);var i=b._iDisplayStart,l=b.fnDisplayEnd();if(b.bDeferLoading)b.bDeferLoading=!1,b.iDraw++,la(b,!1);else if(j){if(!b.bDestroying&&!Q(b))return}else b.iDraw++;if(0!==k.length)for(h=j?b.aoData.length:l,j=j?0:i;j<h;j++){var m=k[j],n=b.aoData[m];if(null===n.nTr&&G(b,m),m=n.nTr,0!==g){var o=f[e%g];n._sRowStripe!=o&&(a(m).removeClass(n._sRowStripe).addClass(o),n._sRowStripe=o)}Ja(b,"aoRowCallback",null,[m,n._aData,e,j]),c.push(m),e++}else e=h.sZeroRecords,1==b.iDraw&&"ajax"==Ma(b)?e=h.sLoadingRecords:h.sEmptyTable&&0===b.fnRecordsTotal()&&(e=h.sEmptyTable),c[0]=a("<tr/>",{class:g?f[0]:""}).append(a("<td />",{valign:"top",colSpan:q(b),class:b.oClasses.sRowEmpty}).html(e))[0];Ja(b,"aoHeaderCallback","header",[a(b.nTHead).children("tr")[0],B(b),i,l,k]),Ja(b,"aoFooterCallback","footer",[a(b.nTFoot).children("tr")[0],B(b),i,l,k]),f=a(b.nTBody),f.children().detach(),f.append(a(c)),Ja(b,"aoDrawCallback","draw",[b]),b.bSorted=!1,b.bFiltered=!1,b.bDrawing=!1}}function L(a,b){var c=a.oFeatures,d=c.bFilter;c.bSort&&va(a),d?V(a,a.oPreviousSearch):a.aiDisplay=a.aiDisplayMaster.slice(),!0!==b&&(a._iDisplayStart=0),a._drawHold=b,K(a),a._drawHold=!1}function M(b){var c=b.oClasses,d=a(b.nTable),d=a("<div/>").insertBefore(d),e=b.oFeatures,f=a("<div/>",{id:b.sTableId+"_wrapper",class:c.sWrapper+(b.nTFoot?"":" "+c.sNoFooter)});b.nHolding=d[0],b.nTableWrapper=f[0],b.nTableReinsertBefore=b.nTable.nextSibling;for(var g,h,i,j,k,l,m=b.sDom.split(""),n=0;n<m.length;n++){if(g=null,"<"==(h=m[n])){if(i=a("<div/>")[0],"'"==(j=m[n+1])||'"'==j){for(k="",l=2;m[n+l]!=j;)k+=m[n+l],l++;"H"==k?k=c.sJUIHeader:"F"==k&&(k=c.sJUIFooter),-1!=k.indexOf(".")?(j=k.split("."),i.id=j[0].substr(1,j[0].length-1),i.className=j[1]):"#"==k.charAt(0)?i.id=k.substr(1,k.length-1):i.className=k,n+=l}f.append(i),f=a(i)}else if(">"==h)f=f.parent();else if("l"==h&&e.bPaginate&&e.bLengthChange)g=ha(b);else if("f"==h&&e.bFilter)g=U(b);else if("r"==h&&e.bProcessing)g=ka(b);else if("t"==h)g=ma(b);else if("i"==h&&e.bInfo)g=ba(b);else if("p"==h&&e.bPaginate)g=ia(b);else if(0!==Ua.ext.feature.length)for(i=Ua.ext.feature,l=0,j=i.length;l<j;l++)if(h==i[l].cFeature){g=i[l].fnInit(b);break}g&&(i=b.aanFeatures,i[h]||(i[h]=[]),i[h].push(g),f.append(g))}d.replaceWith(f),b.nHolding=null}function N(b,c){var d,e,f,g,h,i,j,k,l,m,n=a(c).children("tr");for(b.splice(0,b.length),f=0,i=n.length;f<i;f++)b.push([]);for(f=0,i=n.length;f<i;f++)for(d=n[f],e=d.firstChild;e;){if("TD"==e.nodeName.toUpperCase()||"TH"==e.nodeName.toUpperCase()){for(k=1*e.getAttribute("colspan"),l=1*e.getAttribute("rowspan"),k=k&&0!==k&&1!==k?k:1,l=l&&0!==l&&1!==l?l:1,g=0,h=b[f];h[g];)g++;for(j=g,m=1===k,h=0;h<k;h++)for(g=0;g<l;g++)b[f+g][j+h]={cell:e,unique:m},b[f+g].nTr=d}e=e.nextSibling}}function O(a,b,c){var d=[];c||(c=a.aoHeader,b&&(c=[],N(c,b)));for(var b=0,e=c.length;b<e;b++)for(var f=0,g=c[b].length;f<g;f++)!c[b][f].unique||d[f]&&a.bSortCellsTop||(d[f]=c[b][f].cell);return d}function P(b,c,d){if(Ja(b,"aoServerParams","serverParams",[c]),c&&a.isArray(c)){var e={},f=/(.*?)\[\]$/;a.each(c,function(a,b){var c=b.name.match(f);c?(c=c[0],e[c]||(e[c]=[]),e[c].push(b.value)):e[b.name]=b.value}),c=e}var g,h=b.ajax,i=b.oInstance,j=function(a){Ja(b,null,"xhr",[b,a,b.jqXHR]),d(a)};if(a.isPlainObject(h)&&h.data){g=h.data;var k=a.isFunction(g)?g(c,b):g,c=a.isFunction(g)&&k?k:a.extend(!0,c,k);delete h.data}k={data:c,success:function(a){var c=a.error||a.sError;c&&Ea(b,0,c),b.json=a,j(a)},dataType:"json",cache:!1,type:b.sServerMethod,error:function(c,d){var e=Ja(b,null,"xhr",[b,null,b.jqXHR]);-1===a.inArray(!0,e)&&("parsererror"==d?Ea(b,0,"Invalid JSON response",1):4===c.readyState&&Ea(b,0,"Ajax error",7)),la(b,!1)}},b.oAjaxData=c,Ja(b,null,"preXhr",[b,c]),b.fnServerData?b.fnServerData.call(i,b.sAjaxSource,a.map(c,function(a,b){return{name:b,value:a}}),j,b):b.sAjaxSource||"string"==typeof h?b.jqXHR=a.ajax(a.extend(k,{url:h||b.sAjaxSource})):a.isFunction(h)?b.jqXHR=h.call(i,c,j,b):(b.jqXHR=a.ajax(a.extend(k,h)),h.data=g)}function Q(a){return!a.bAjaxDataGet||(a.iDraw++,la(a,!0),P(a,R(a),function(b){S(a,b)}),!1)}function R(b){var c,d,e,f,g=b.aoColumns,h=g.length,i=b.oFeatures,j=b.oPreviousSearch,k=b.aoPreSearchCols,l=[],m=ua(b);c=b._iDisplayStart,d=!1!==i.bPaginate?b._iDisplayLength:-1;var n=function(a,b){l.push({name:a,value:b})};n("sEcho",b.iDraw),n("iColumns",h),n("sColumns",eb(g,"sName").join(",")),n("iDisplayStart",c),n("iDisplayLength",d);var o={draw:b.iDraw,columns:[],order:[],start:c,length:d,search:{value:j.sSearch,regex:j.bRegex}};for(c=0;c<h;c++)e=g[c],f=k[c],d="function"==typeof e.mData?"function":e.mData,o.columns.push({data:d,name:e.sName,searchable:e.bSearchable,orderable:e.bSortable,search:{value:f.sSearch,regex:f.bRegex}}),n("mDataProp_"+c,d),i.bFilter&&(n("sSearch_"+c,f.sSearch),n("bRegex_"+c,f.bRegex),n("bSearchable_"+c,e.bSearchable)),i.bSort&&n("bSortable_"+c,e.bSortable);return i.bFilter&&(n("sSearch",j.sSearch),n("bRegex",j.bRegex)),i.bSort&&(a.each(m,function(a,b){o.order.push({column:b.col,dir:b.dir}),n("iSortCol_"+a,b.col),n("sSortDir_"+a,b.dir)}),n("iSortingCols",m.length)),g=Ua.ext.legacy.ajax,null===g?b.sAjaxSource?l:o:g?l:o}function S(a,b){var c=T(a,b),e=b.sEcho!==d?b.sEcho:b.draw,f=b.iTotalRecords!==d?b.iTotalRecords:b.recordsTotal,g=b.iTotalDisplayRecords!==d?b.iTotalDisplayRecords:b.recordsFiltered;if(e){if(1*e<a.iDraw)return;a.iDraw=1*e}for(C(a),a._iRecordsTotal=parseInt(f,10),a._iRecordsDisplay=parseInt(g,10),e=0,f=c.length;e<f;e++)u(a,c[e]);a.aiDisplay=a.aiDisplayMaster.slice(),a.bAjaxDataGet=!1,K(a),a._bInitComplete||fa(a,b),a.bAjaxDataGet=!0,la(a,!1)}function T(b,c){var e=a.isPlainObject(b.ajax)&&b.ajax.dataSrc!==d?b.ajax.dataSrc:b.sAjaxDataProp;return"data"===e?c.aaData||c[e]:""!==e?z(e)(c):c}function U(b){var d=b.oClasses,e=b.sTableId,f=b.oLanguage,g=b.oPreviousSearch,h=b.aanFeatures,i='<input type="search" class="'+d.sFilterInput+'"/>',j=f.sSearch,j=j.match(/_INPUT_/)?j.replace("_INPUT_",i):j+i,d=a("<div/>",{id:h.f?null:e+"_filter",class:d.sFilter}).append(a("<label/>").append(j)),h=function(){var a=this.value?this.value:"";a!=g.sSearch&&(V(b,{sSearch:a,bRegex:g.bRegex,bSmart:g.bSmart,bCaseInsensitive:g.bCaseInsensitive}),b._iDisplayStart=0,K(b))},i=null!==b.searchDelay?b.searchDelay:"ssp"===Ma(b)?400:0,k=a("input",d).val(g.sSearch).attr("placeholder",f.sSearchPlaceholder).on("keyup.DT search.DT input.DT paste.DT cut.DT",i?qb(h,i):h).on("keypress.DT",function(a){if(13==a.keyCode)return!1}).attr("aria-controls",e);return a(b.nTable).on("search.dt.DT",function(a,d){if(b===d)try{k[0]!==c.activeElement&&k.val(g.sSearch)}catch(a){}}),d[0]}function V(a,b,c){var e=a.oPreviousSearch,f=a.aoPreSearchCols,g=function(a){e.sSearch=a.sSearch,e.bRegex=a.bRegex,e.bSmart=a.bSmart,e.bCaseInsensitive=a.bCaseInsensitive};if(s(a),"ssp"!=Ma(a)){for(Y(a,b.sSearch,c,b.bEscapeRegex!==d?!b.bEscapeRegex:b.bRegex,b.bSmart,b.bCaseInsensitive),g(b),b=0;b<f.length;b++)X(a,f[b].sSearch,b,f[b].bEscapeRegex!==d?!f[b].bEscapeRegex:f[b].bRegex,f[b].bSmart,f[b].bCaseInsensitive);W(a)}else g(b);a.bFiltered=!0,Ja(a,null,"search",[a])}function W(b){for(var c,d,e=Ua.ext.search,f=b.aiDisplay,g=0,h=e.length;g<h;g++){for(var i=[],j=0,k=f.length;j<k;j++)d=f[j],c=b.aoData[d],e[g](b,c._aFilterData,d,c._aData,j)&&i.push(d);f.length=0,a.merge(f,i)}}function X(a,b,c,d,e,f){if(""!==b){for(var g=[],h=a.aiDisplay,d=Z(b,d,e,f),e=0;e<h.length;e++)b=a.aoData[h[e]]._aFilterData[c],d.test(b)&&g.push(h[e]);a.aiDisplay=g}}function Y(a,b,c,d,e,f){var g,d=Z(b,d,e,f),f=a.oPreviousSearch.sSearch,h=a.aiDisplayMaster,e=[];if(0!==Ua.ext.search.length&&(c=!0),g=$(a),0>=b.length)a.aiDisplay=h.slice();else{for((g||c||f.length>b.length||0!==b.indexOf(f)||a.bSorted)&&(a.aiDisplay=h.slice()),b=a.aiDisplay,c=0;c<b.length;c++)d.test(a.aoData[b[c]]._sFilterRow)&&e.push(b[c]);a.aiDisplay=e}}function Z(b,c,d,e){return b=c?b:mb(b),d&&(b="^(?=.*?"+a.map(b.match(/"[^"]+"|[^ ]+/g)||[""],function(a){if('"'===a.charAt(0))var b=a.match(/^"(.*)"$/),a=b?b[1]:a;return a.replace('"',"")}).join(")(?=.*?")+").*$"),RegExp(b,e?"i":"")}function $(a){var b,c,d,e,f,g,h,i,j=a.aoColumns,k=Ua.ext.type.search;for(b=!1,c=0,e=a.aoData.length;c<e;c++)if(i=a.aoData[c],!i._aFilterData){for(g=[],d=0,f=j.length;d<f;d++)b=j[d],b.bSearchable?(h=w(a,c,d,"filter"),k[b.sType]&&(h=k[b.sType](h)),null===h&&(h=""),"string"!=typeof h&&h.toString&&(h=h.toString())):h="",h.indexOf&&-1!==h.indexOf("&")&&(nb.innerHTML=h,h=ob?nb.textContent:nb.innerText),h.replace&&(h=h.replace(/[\r\n]/g,"")),g.push(h);i._aFilterData=g,i._sFilterRow=g.join("  "),b=!0}return b}function _(a){return{search:a.sSearch,smart:a.bSmart,regex:a.bRegex,caseInsensitive:a.bCaseInsensitive}}function aa(a){return{sSearch:a.search,bSmart:a.smart,bRegex:a.regex,bCaseInsensitive:a.caseInsensitive}}function ba(b){var c=b.sTableId,d=b.aanFeatures.i,e=a("<div/>",{class:b.oClasses.sInfo,id:d?null:c+"_info"});return d||(b.aoDrawCallback.push({fn:ca,sName:"information"}),e.attr("role","status").attr("aria-live","polite"),a(b.nTable).attr("aria-describedby",c+"_info")),e[0]}function ca(b){var c=b.aanFeatures.i;if(0!==c.length){var d=b.oLanguage,e=b._iDisplayStart+1,f=b.fnDisplayEnd(),g=b.fnRecordsTotal(),h=b.fnRecordsDisplay(),i=h?d.sInfo:d.sInfoEmpty;h!==g&&(i+=" "+d.sInfoFiltered),i+=d.sInfoPostFix,i=da(b,i),d=d.fnInfoCallback,null!==d&&(i=d.call(b.oInstance,b,e,f,g,h,i)),a(c).html(i)}}function da(a,b){var c=a.fnFormatNumber,d=a._iDisplayStart+1,e=a._iDisplayLength,f=a.fnRecordsDisplay(),g=-1===e;return b.replace(/_START_/g,c.call(a,d)).replace(/_END_/g,c.call(a,a.fnDisplayEnd())).replace(/_MAX_/g,c.call(a,a.fnRecordsTotal())).replace(/_TOTAL_/g,c.call(a,f)).replace(/_PAGE_/g,c.call(a,g?1:Math.ceil(d/e))).replace(/_PAGES_/g,c.call(a,g?1:Math.ceil(f/e)))}function ea(a){var b,c,d,e=a.iInitDisplayStart,f=a.aoColumns;c=a.oFeatures;var g=a.bDeferLoading;if(a.bInitialised){for(M(a),I(a),J(a,a.aoHeader),J(a,a.aoFooter),la(a,!0),c.bAutoWidth&&pa(a),b=0,c=f.length;b<c;b++)d=f[b],d.sWidth&&(d.nTh.style.width=ta(d.sWidth));Ja(a,null,"preInit",[a]),L(a),f=Ma(a),("ssp"!=f||g)&&("ajax"==f?P(a,[],function(c){var d=T(a,c);for(b=0;b<d.length;b++)u(a,d[b]);a.iInitDisplayStart=e,L(a),la(a,!1),fa(a,c)},a):(la(a,!1),fa(a)))}else setTimeout(function(){ea(a)},200)}function fa(a,b){a._bInitComplete=!0,(b||a.oInit.aaData)&&n(a),Ja(a,null,"plugin-init",[a,b]),Ja(a,"aoInitComplete","init",[a,b])}function ga(a,b){var c=parseInt(b,10);a._iDisplayLength=c,Ka(a),Ja(a,null,"length",[a,c])}function ha(b){for(var c=b.oClasses,d=b.sTableId,e=b.aLengthMenu,f=a.isArray(e[0]),g=f?e[0]:e,e=f?e[1]:e,f=a("<select/>",{name:d+"_length","aria-controls":d,class:c.sLengthSelect}),h=0,i=g.length;h<i;h++)f[0][h]=new Option("number"==typeof e[h]?b.fnFormatNumber(e[h]):e[h],g[h]);var j=a("<div><label/></div>").addClass(c.sLength);return b.aanFeatures.l||(j[0].id=d+"_length"),j.children().append(b.oLanguage.sLengthMenu.replace("_MENU_",f[0].outerHTML)),a("select",j).val(b._iDisplayLength).on("change.DT",function(){ga(b,a(this).val()),K(b)}),a(b.nTable).on("length.dt.DT",function(c,d,e){b===d&&a("select",j).val(e)}),j[0]}function ia(b){var c=b.sPaginationType,d=Ua.ext.pager[c],e="function"==typeof d,f=function(a){K(a)},c=a("<div/>").addClass(b.oClasses.sPaging+c)[0],g=b.aanFeatures;return e||d.fnInit(b,c,f),g.p||(c.id=b.sTableId+"_paginate",b.aoDrawCallback.push({fn:function(a){if(e){var b,c=a._iDisplayStart,h=a._iDisplayLength,i=a.fnRecordsDisplay(),j=-1===h,c=j?0:Math.ceil(c/h),h=j?1:Math.ceil(i/h),i=d(c,h),j=0;for(b=g.p.length;j<b;j++)La(a,"pageButton")(a,g.p[j],j,i,c,h)}else d.fnUpdate(a,f)},sName:"pagination"})),c}function ja(a,b,c){var d=a._iDisplayStart,e=a._iDisplayLength,f=a.fnRecordsDisplay();return 0===f||-1===e?d=0:"number"==typeof b?(d=b*e)>f&&(d=0):"first"==b?d=0:"previous"==b?0>(d=0<=e?d-e:0)&&(d=0):"next"==b?d+e<f&&(d+=e):"last"==b?d=Math.floor((f-1)/e)*e:Ea(a,0,"Unknown paging action: "+b,5),b=a._iDisplayStart!==d,a._iDisplayStart=d,b&&(Ja(a,null,"page",[a]),c&&K(a)),b}function ka(b){return a("<div/>",{id:b.aanFeatures.r?null:b.sTableId+"_processing",class:b.oClasses.sProcessing}).html(b.oLanguage.sProcessing).insertBefore(b.nTable)[0]}function la(b,c){b.oFeatures.bProcessing&&a(b.aanFeatures.r).css("display",c?"block":"none"),Ja(b,null,"processing",[b,c])}function ma(b){var c=a(b.nTable);c.attr("role","grid");var d=b.oScroll;if(""===d.sX&&""===d.sY)return b.nTable;var e=d.sX,f=d.sY,g=b.oClasses,h=c.children("caption"),i=h.length?h[0]._captionSide:null,j=a(c[0].cloneNode(!1)),k=a(c[0].cloneNode(!1)),l=c.children("tfoot");l.length||(l=null),j=a("<div/>",{class:g.sScrollWrapper}).append(a("<div/>",{class:g.sScrollHead}).css({overflow:"hidden",position:"relative",border:0,width:e?e?ta(e):null:"100%"}).append(a("<div/>",{class:g.sScrollHeadInner}).css({"box-sizing":"content-box",width:d.sXInner||"100%"}).append(j.removeAttr("id").css("margin-left",0).append("top"===i?h:null).append(c.children("thead"))))).append(a("<div/>",{class:g.sScrollBody}).css({position:"relative",overflow:"auto",width:e?ta(e):null}).append(c)),l&&j.append(a("<div/>",{class:g.sScrollFoot}).css({overflow:"hidden",border:0,width:e?e?ta(e):null:"100%"}).append(a("<div/>",{class:g.sScrollFootInner}).append(k.removeAttr("id").css("margin-left",0).append("bottom"===i?h:null).append(c.children("tfoot")))));var c=j.children(),m=c[0],g=c[1],n=l?c[2]:null;return e&&a(g).on("scroll.DT",function(){var a=this.scrollLeft;m.scrollLeft=a,l&&(n.scrollLeft=a)}),a(g).css(f&&d.bCollapse?"max-height":"height",f),b.nScrollHead=m,b.nScrollBody=g,b.nScrollFoot=n,b.aoDrawCallback.push({fn:na,sName:"scrolling"}),j[0]}function na(b){var c,e,f,g,h,i=b.oScroll,j=i.sX,k=i.sXInner,l=i.sY,i=i.iBarWidth,m=a(b.nScrollHead),p=m[0].style,q=m.children("div"),r=q[0].style,s=q.children("table"),q=b.nScrollBody,t=a(q),u=q.style,v=a(b.nScrollFoot).children("div"),w=v.children("table"),x=a(b.nTHead),y=a(b.nTable),z=y[0],A=z.style,B=b.nTFoot?a(b.nTFoot):null,C=b.oBrowser,D=C.bScrollOversize,E=eb(b.aoColumns,"nTh"),F=[],G=[],H=[],I=[],J=function(a){a=a.style,a.paddingTop="0",a.paddingBottom="0",a.borderTopWidth="0",a.borderBottomWidth="0",a.height=0};e=q.scrollHeight>q.clientHeight,b.scrollBarVis!==e&&b.scrollBarVis!==d?(b.scrollBarVis=e,n(b)):(b.scrollBarVis=e,y.children("thead, tfoot").remove(),B&&(f=B.clone().prependTo(y),c=B.find("tr"),f=f.find("tr")),g=x.clone().prependTo(y),x=x.find("tr"),e=g.find("tr"),g.find("th, td").removeAttr("tabindex"),j||(u.width="100%",m[0].style.width="100%"),a.each(O(b,g),function(a,c){h=o(b,a),c.style.width=b.aoColumns[h].sWidth}),B&&oa(function(a){a.style.width=""},f),m=y.outerWidth(),""===j?(A.width="100%",D&&(y.find("tbody").height()>q.offsetHeight||"scroll"==t.css("overflow-y"))&&(A.width=ta(y.outerWidth()-i)),m=y.outerWidth()):""!==k&&(A.width=ta(k),m=y.outerWidth()),oa(J,e),oa(function(b){H.push(b.innerHTML),F.push(ta(a(b).css("width")))},e),oa(function(b,c){-1!==a.inArray(b,E)&&(b.style.width=F[c])},x),a(e).height(0),B&&(oa(J,f),oa(function(b){I.push(b.innerHTML),G.push(ta(a(b).css("width")))},f),oa(function(a,b){a.style.width=G[b]},c),a(f).height(0)),oa(function(a,b){a.innerHTML='<div class="dataTables_sizing" style="height:0;overflow:hidden;">'+H[b]+"</div>",a.style.width=F[b]},e),B&&oa(function(a,b){a.innerHTML='<div class="dataTables_sizing" style="height:0;overflow:hidden;">'+I[b]+"</div>",a.style.width=G[b]},f),y.outerWidth()<m?(c=q.scrollHeight>q.offsetHeight||"scroll"==t.css("overflow-y")?m+i:m,D&&(q.scrollHeight>q.offsetHeight||"scroll"==t.css("overflow-y"))&&(A.width=ta(c-i)),(""===j||""!==k)&&Ea(b,1,"Possible column misalignment",6)):c="100%",u.width=ta(c),p.width=ta(c),B&&(b.nScrollFoot.style.width=ta(c)),!l&&D&&(u.height=ta(z.offsetHeight+i)),j=y.outerWidth(),s[0].style.width=ta(j),r.width=ta(j),k=y.height()>q.clientHeight||"scroll"==t.css("overflow-y"),l="padding"+(C.bScrollbarLeft?"Left":"Right"),r[l]=k?i+"px":"0px",B&&(w[0].style.width=ta(j),v[0].style.width=ta(j),v[0].style[l]=k?i+"px":"0px"),y.children("colgroup").insertBefore(y.children("thead")),t.scroll(),!b.bSorted&&!b.bFiltered||b._drawHold||(q.scrollTop=0))}function oa(a,b,c){for(var d,e,f=0,g=0,h=b.length;g<h;){for(d=b[g].firstChild,e=c?c[g].firstChild:null;d;)1===d.nodeType&&(c?a(d,e,f):a(d,f),f++),d=d.nextSibling,e=c?e.nextSibling:null;g++}}function pa(c){var d,e,f=c.nTable,g=c.aoColumns,h=c.oScroll,i=h.sY,j=h.sX,k=h.sXInner,l=g.length,m=r(c,"bVisible"),p=a("th",c.nTHead),s=f.getAttribute("width"),t=f.parentNode,u=!1,v=c.oBrowser,h=v.bScrollOversize;for((d=f.style.width)&&-1!==d.indexOf("%")&&(s=d),d=0;d<m.length;d++)e=g[m[d]],null!==e.sWidth&&(e.sWidth=qa(e.sWidthOrig,t),u=!0);if(h||!u&&!j&&!i&&l==q(c)&&l==p.length)for(d=0;d<l;d++)null!==(m=o(c,d))&&(g[m].sWidth=ta(p.eq(d).width()));else{l=a(f).clone().css("visibility","hidden").removeAttr("id"),l.find("tbody tr").remove();var w=a("<tr/>").appendTo(l.find("tbody"));for(l.find("thead, tfoot").remove(),l.append(a(c.nTHead).clone()).append(a(c.nTFoot).clone()),l.find("tfoot th, tfoot td").css("width",""),p=O(c,l.find("thead")[0]),d=0;d<m.length;d++)e=g[m[d]],p[d].style.width=null!==e.sWidthOrig&&""!==e.sWidthOrig?ta(e.sWidthOrig):"",e.sWidthOrig&&j&&a(p[d]).append(a("<div/>").css({width:e.sWidthOrig,margin:0,padding:0,border:0,height:1}));if(c.aoData.length)for(d=0;d<m.length;d++)u=m[d],e=g[u],a(ra(c,u)).clone(!1).append(e.sContentPadding).appendTo(w);for(a("[name]",l).removeAttr("name"),e=a("<div/>").css(j||i?{position:"absolute",top:0,left:0,height:1,right:0,overflow:"hidden"}:{}).append(l).appendTo(t),j&&k?l.width(k):j?(l.css("width","auto"),l.removeAttr("width"),l.width()<t.clientWidth&&s&&l.width(t.clientWidth)):i?l.width(t.clientWidth):s&&l.width(s),d=i=0;d<m.length;d++)t=a(p[d]),k=t.outerWidth()-t.width(),t=v.bBounding?Math.ceil(p[d].getBoundingClientRect().width):t.outerWidth(),i+=t,g[m[d]].sWidth=ta(t-k);f.style.width=ta(i),e.remove()}s&&(f.style.width=ta(s)),!s&&!j||c._reszEvt||(f=function(){a(b).on("resize.DT-"+c.sInstance,qb(function(){n(c)}))},h?setTimeout(f,1e3):f(),c._reszEvt=!0)}function qa(b,d){if(!b)return 0;var e=a("<div/>").css("width",ta(b)).appendTo(d||c.body),f=e[0].offsetWidth;return e.remove(),f}function ra(b,c){var d=sa(b,c);if(0>d)return null;var e=b.aoData[d];return e.nTr?e.anCells[c]:a("<td/>").html(w(b,d,c,"display"))[0]}function sa(a,b){for(var c,d=-1,e=-1,f=0,g=a.aoData.length;f<g;f++)c=w(a,f,b,"display")+"",c=c.replace(pb,""),c=c.replace(/&nbsp;/g," "),c.length>d&&(d=c.length,e=f);return e}function ta(a){return null===a?"0px":"number"==typeof a?0>a?"0px":a+"px":a.match(/\d$/)?a+"px":a}function ua(b){var c,e,f,g,h,i,j=[],k=b.aoColumns;c=b.aaSortingFixed,e=a.isPlainObject(c);var l=[];for(f=function(b){b.length&&!a.isArray(b[0])?l.push(b):a.merge(l,b)},a.isArray(c)&&f(c),e&&c.pre&&f(c.pre),f(b.aaSorting),e&&c.post&&f(c.post),b=0;b<l.length;b++)for(i=l[b][0],f=k[i].aDataSort,c=0,e=f.length;c<e;c++)g=f[c],h=k[g].sType||"string",l[b]._idx===d&&(l[b]._idx=a.inArray(l[b][1],k[g].asSorting)),j.push({src:i,col:g,dir:l[b][1],index:l[b]._idx,type:h,formatter:Ua.ext.type.order[h+"-pre"]});return j}function va(a){var b,c,d,e,f=[],g=Ua.ext.type.order,h=a.aoData,i=0,j=a.aiDisplayMaster;for(s(a),e=ua(a),b=0,c=e.length;b<c;b++)d=e[b],d.formatter&&i++,Aa(a,d.col);if("ssp"!=Ma(a)&&0!==e.length){for(b=0,c=j.length;b<c;b++)f[j[b]]=b;i===e.length?j.sort(function(a,b){var c,d,g,i,j=e.length,k=h[a]._aSortData,l=h[b]._aSortData;for(g=0;g<j;g++)if(i=e[g],c=k[i.col],d=l[i.col],0!==(c=c<d?-1:c>d?1:0))return"asc"===i.dir?c:-c;return c=f[a],d=f[b],c<d?-1:c>d?1:0}):j.sort(function(a,b){var c,d,i,j,k=e.length,l=h[a]._aSortData,m=h[b]._aSortData;for(i=0;i<k;i++)if(j=e[i],c=l[j.col],d=m[j.col],j=g[j.type+"-"+j.dir]||g["string-"+j.dir],0!==(c=j(c,d)))return c;return c=f[a],d=f[b],c<d?-1:c>d?1:0})}a.bSorted=!0}function wa(a){
for(var b,c,d=a.aoColumns,e=ua(a),a=a.oLanguage.oAria,f=0,g=d.length;f<g;f++){c=d[f];var h=c.asSorting;b=c.sTitle.replace(/<.*?>/g,"");var i=c.nTh;i.removeAttribute("aria-sort"),c.bSortable&&(0<e.length&&e[0].col==f?(i.setAttribute("aria-sort","asc"==e[0].dir?"ascending":"descending"),c=h[e[0].index+1]||h[0]):c=h[0],b+="asc"===c?a.sSortAscending:a.sSortDescending),i.setAttribute("aria-label",b)}}function xa(b,c,e,f){var g=b.aaSorting,h=b.aoColumns[c].asSorting,i=function(b,c){var e=b._idx;return e===d&&(e=a.inArray(b[1],h)),e+1<h.length?e+1:c?null:0};"number"==typeof g[0]&&(g=b.aaSorting=[g]),e&&b.oFeatures.bSortMulti?(e=a.inArray(c,eb(g,"0")),-1!==e?(c=i(g[e],!0),null===c&&1===g.length&&(c=0),null===c?g.splice(e,1):(g[e][1]=h[c],g[e]._idx=c)):(g.push([c,h[0],0]),g[g.length-1]._idx=0)):g.length&&g[0][0]==c?(c=i(g[0]),g.length=1,g[0][1]=h[c],g[0]._idx=c):(g.length=0,g.push([c,h[0]]),g[0]._idx=0),L(b),"function"==typeof f&&f(b)}function ya(a,b,c,d){var e=a.aoColumns[c];Ha(b,{},function(b){!1!==e.bSortable&&(a.oFeatures.bProcessing?(la(a,!0),setTimeout(function(){xa(a,c,b.shiftKey,d),"ssp"!==Ma(a)&&la(a,!1)},0)):xa(a,c,b.shiftKey,d))})}function za(b){var c,d,e=b.aLastSort,f=b.oClasses.sSortColumn,g=ua(b),h=b.oFeatures;if(h.bSort&&h.bSortClasses){for(h=0,c=e.length;h<c;h++)d=e[h].src,a(eb(b.aoData,"anCells",d)).removeClass(f+(2>h?h+1:3));for(h=0,c=g.length;h<c;h++)d=g[h].src,a(eb(b.aoData,"anCells",d)).addClass(f+(2>h?h+1:3))}b.aLastSort=g}function Aa(a,b){var c,d=a.aoColumns[b],e=Ua.ext.order[d.sSortDataType];e&&(c=e.call(a.oInstance,a,b,p(a,b)));for(var f,g=Ua.ext.type.order[d.sType+"-pre"],h=0,i=a.aoData.length;h<i;h++)d=a.aoData[h],d._aSortData||(d._aSortData=[]),(!d._aSortData[b]||e)&&(f=e?c[h]:w(a,h,b,"sort"),d._aSortData[b]=g?g(f):f)}function Ba(b){if(b.oFeatures.bStateSave&&!b.bDestroying){var c={time:+new Date,start:b._iDisplayStart,length:b._iDisplayLength,order:a.extend(!0,[],b.aaSorting),search:_(b.oPreviousSearch),columns:a.map(b.aoColumns,function(a,c){return{visible:a.bVisible,search:_(b.aoPreSearchCols[c])}})};Ja(b,"aoStateSaveParams","stateSaveParams",[b,c]),b.oSavedState=c,b.fnStateSaveCallback.call(b.oInstance,b,c)}}function Ca(b,c,e){var f,g,h=b.aoColumns,c=function(c){if(c&&c.time){var i=Ja(b,"aoStateLoadParams","stateLoadParams",[b,c]);if(-1===a.inArray(!1,i)&&!(0<(i=b.iStateDuration)&&c.time<+new Date-1e3*i||c.columns&&h.length!==c.columns.length)){if(b.oLoadedState=a.extend(!0,{},c),c.start!==d&&(b._iDisplayStart=c.start,b.iInitDisplayStart=c.start),c.length!==d&&(b._iDisplayLength=c.length),c.order!==d&&(b.aaSorting=[],a.each(c.order,function(a,c){b.aaSorting.push(c[0]>=h.length?[0,c[1]]:c)})),c.search!==d&&a.extend(b.oPreviousSearch,aa(c.search)),c.columns)for(f=0,g=c.columns.length;f<g;f++)i=c.columns[f],i.visible!==d&&(h[f].bVisible=i.visible),i.search!==d&&a.extend(b.aoPreSearchCols[f],aa(i.search));Ja(b,"aoStateLoaded","stateLoaded",[b,c])}}e()};if(b.oFeatures.bStateSave){var i=b.fnStateLoadCallback.call(b.oInstance,b,c);i!==d&&c(i)}else e()}function Da(b){var c=Ua.settings,b=a.inArray(b,eb(c,"nTable"));return-1!==b?c[b]:null}function Ea(a,c,d,e){if(d="DataTables warning: "+(a?"table id="+a.sTableId+" - ":"")+d,e&&(d+=". For more information about this error, please see http://datatables.net/tn/"+e),c)b.console&&console.log&&console.log(d);else if(c=Ua.ext,c=c.sErrMode||c.errMode,a&&Ja(a,null,"error",[a,e,d]),"alert"==c)alert(d);else{if("throw"==c)throw Error(d);"function"==typeof c&&c(a,e,d)}}function Fa(b,c,e,f){a.isArray(e)?a.each(e,function(d,e){a.isArray(e)?Fa(b,c,e[0],e[1]):Fa(b,c,e)}):(f===d&&(f=e),c[e]!==d&&(b[f]=c[e]))}function Ga(b,c,d){var e,f;for(f in c)c.hasOwnProperty(f)&&(e=c[f],a.isPlainObject(e)?(a.isPlainObject(b[f])||(b[f]={}),a.extend(!0,b[f],e)):b[f]=d&&"data"!==f&&"aaData"!==f&&a.isArray(e)?e.slice():e);return b}function Ha(b,c,d){a(b).on("click.DT",c,function(a){b.blur(),d(a)}).on("keypress.DT",c,function(a){13===a.which&&(a.preventDefault(),d(a))}).on("selectstart.DT",function(){return!1})}function Ia(a,b,c,d){c&&a[b].push({fn:c,sName:d})}function Ja(b,c,d,e){var f=[];return c&&(f=a.map(b[c].slice().reverse(),function(a){return a.fn.apply(b.oInstance,e)})),null!==d&&(c=a.Event(d+".dt"),a(b.nTable).trigger(c,e),f.push(c.result)),f}function Ka(a){var b=a._iDisplayStart,c=a.fnDisplayEnd(),d=a._iDisplayLength;b>=c&&(b=c-d),b-=b%d,(-1===d||0>b)&&(b=0),a._iDisplayStart=b}function La(b,c){var d=b.renderer,e=Ua.ext.renderer[c];return a.isPlainObject(d)&&d[c]?e[d[c]]||e._:"string"==typeof d?e[d]||e._:e._}function Ma(a){return a.oFeatures.bServerSide?"ssp":a.ajax||a.sAjaxSource?"ajax":"dom"}function Na(a,b){var c=[],c=Db.numbers_length,d=Math.floor(c/2);return b<=c?c=gb(0,b):a<=d?(c=gb(0,c-2),c.push("ellipsis"),c.push(b-1)):(a>=b-1-d?c=gb(b-(c-2),b):(c=gb(a-d+2,a+d-1),c.push("ellipsis"),c.push(b-1)),c.splice(0,0,"ellipsis"),c.splice(0,0,0)),c.DT_el="span",c}function Oa(b){a.each({num:function(a){return Eb(a,b)},"num-fmt":function(a){return Eb(a,b,$a)},"html-num":function(a){return Eb(a,b,Xa)},"html-num-fmt":function(a){return Eb(a,b,Xa,$a)}},function(a,c){Qa.type.order[a+b+"-pre"]=c,a.match(/^html\-/)&&(Qa.type.search[a+b]=Qa.type.search.html)})}function Pa(a){return function(){var b=[Da(this[Ua.ext.iApiIndex])].concat(Array.prototype.slice.call(arguments));return Ua.ext.internal[a].apply(this,b)}}var Qa,Ra,Sa,Ta,Ua=function(b){this.$=function(a,b){return this.api(!0).$(a,b)},this._=function(a,b){return this.api(!0).rows(a,b).data()},this.api=function(a){return new Ra(a?Da(this[Qa.iApiIndex]):this)},this.fnAddData=function(b,c){var e=this.api(!0),f=a.isArray(b)&&(a.isArray(b[0])||a.isPlainObject(b[0]))?e.rows.add(b):e.row.add(b);return(c===d||c)&&e.draw(),f.flatten().toArray()},this.fnAdjustColumnSizing=function(a){var b=this.api(!0).columns.adjust(),c=b.settings()[0],e=c.oScroll;a===d||a?b.draw(!1):(""!==e.sX||""!==e.sY)&&na(c)},this.fnClearTable=function(a){var b=this.api(!0).clear();(a===d||a)&&b.draw()},this.fnClose=function(a){this.api(!0).row(a).child.hide()},this.fnDeleteRow=function(a,b,c){var e=this.api(!0),a=e.rows(a),f=a.settings()[0],g=f.aoData[a[0][0]];return a.remove(),b&&b.call(this,f,g),(c===d||c)&&e.draw(),g},this.fnDestroy=function(a){this.api(!0).destroy(a)},this.fnDraw=function(a){this.api(!0).draw(a)},this.fnFilter=function(a,b,c,e,f,g){f=this.api(!0),null===b||b===d?f.search(a,c,e,g):f.column(b).search(a,c,e,g),f.draw()},this.fnGetData=function(a,b){var c=this.api(!0);if(a!==d){var e=a.nodeName?a.nodeName.toLowerCase():"";return b!==d||"td"==e||"th"==e?c.cell(a,b).data():c.row(a).data()||null}return c.data().toArray()},this.fnGetNodes=function(a){var b=this.api(!0);return a!==d?b.row(a).node():b.rows().nodes().flatten().toArray()},this.fnGetPosition=function(a){var b=this.api(!0),c=a.nodeName.toUpperCase();return"TR"==c?b.row(a).index():"TD"==c||"TH"==c?(a=b.cell(a).index(),[a.row,a.columnVisible,a.column]):null},this.fnIsOpen=function(a){return this.api(!0).row(a).child.isShown()},this.fnOpen=function(a,b,c){return this.api(!0).row(a).child(b,c).show().child()[0]},this.fnPageChange=function(a,b){var c=this.api(!0).page(a);(b===d||b)&&c.draw(!1)},this.fnSetColumnVis=function(a,b,c){a=this.api(!0).column(a).visible(b),(c===d||c)&&a.columns.adjust().draw()},this.fnSettings=function(){return Da(this[Qa.iApiIndex])},this.fnSort=function(a){this.api(!0).order(a).draw()},this.fnSortListener=function(a,b,c){this.api(!0).order.listener(a,b,c)},this.fnUpdate=function(a,b,c,e,f){var g=this.api(!0);return c===d||null===c?g.row(b).data(a):g.cell(b,c).data(a),(f===d||f)&&g.columns.adjust(),(e===d||e)&&g.draw(),0},this.fnVersionCheck=Qa.fnVersionCheck;var c=this,e=b===d,k=this.length;e&&(b={}),this.oApi=this.internal=Qa.internal;for(var n in Ua.ext.internal)n&&(this[n]=Pa(n));return this.each(function(){var n,o={},p=1<k?Ga(o,b,!0):b,q=0,o=this.getAttribute("id"),r=!1,s=Ua.defaults,w=a(this);if("table"!=this.nodeName.toLowerCase())Ea(null,0,"Non-table node initialisation ("+this.nodeName+")",2);else{h(s),i(s.column),f(s,s,!0),f(s.column,s.column,!0),f(s,a.extend(p,w.data()));var x=Ua.settings,q=0;for(n=x.length;q<n;q++){var y=x[q];if(y.nTable==this||y.nTHead.parentNode==this||y.nTFoot&&y.nTFoot.parentNode==this){var A=p.bRetrieve!==d?p.bRetrieve:s.bRetrieve;if(e||A)return y.oInstance;if(p.bDestroy!==d?p.bDestroy:s.bDestroy){y.oInstance.fnDestroy();break}return void Ea(y,0,"Cannot reinitialise DataTable",3)}if(y.sTableId==this.id){x.splice(q,1);break}}null!==o&&""!==o||(this.id=o="DataTables_Table_"+Ua.ext._unique++);var B=a.extend(!0,{},Ua.models.oSettings,{sDestroyWidth:w[0].style.width,sInstance:o,sTableId:o});B.nTable=this,B.oApi=c.internal,B.oInit=p,x.push(B),B.oInstance=1===c.length?c:w.dataTable(),h(p),p.oLanguage&&g(p.oLanguage),p.aLengthMenu&&!p.iDisplayLength&&(p.iDisplayLength=a.isArray(p.aLengthMenu[0])?p.aLengthMenu[0][0]:p.aLengthMenu[0]),p=Ga(a.extend(!0,{},s),p),Fa(B.oFeatures,p,"bPaginate bLengthChange bFilter bSort bSortMulti bInfo bProcessing bAutoWidth bSortClasses bServerSide bDeferRender".split(" ")),Fa(B,p,["asStripeClasses","ajax","fnServerData","fnFormatNumber","sServerMethod","aaSorting","aaSortingFixed","aLengthMenu","sPaginationType","sAjaxSource","sAjaxDataProp","iStateDuration","sDom","bSortCellsTop","iTabIndex","fnStateLoadCallback","fnStateSaveCallback","renderer","searchDelay","rowId",["iCookieDuration","iStateDuration"],["oSearch","oPreviousSearch"],["aoSearchCols","aoPreSearchCols"],["iDisplayLength","_iDisplayLength"]]),Fa(B.oScroll,p,[["sScrollX","sX"],["sScrollXInner","sXInner"],["sScrollY","sY"],["bScrollCollapse","bCollapse"]]),Fa(B.oLanguage,p,"fnInfoCallback"),Ia(B,"aoDrawCallback",p.fnDrawCallback,"user"),Ia(B,"aoServerParams",p.fnServerParams,"user"),Ia(B,"aoStateSaveParams",p.fnStateSaveParams,"user"),Ia(B,"aoStateLoadParams",p.fnStateLoadParams,"user"),Ia(B,"aoStateLoaded",p.fnStateLoaded,"user"),Ia(B,"aoRowCallback",p.fnRowCallback,"user"),Ia(B,"aoRowCreatedCallback",p.fnCreatedRow,"user"),Ia(B,"aoHeaderCallback",p.fnHeaderCallback,"user"),Ia(B,"aoFooterCallback",p.fnFooterCallback,"user"),Ia(B,"aoInitComplete",p.fnInitComplete,"user"),Ia(B,"aoPreDrawCallback",p.fnPreDrawCallback,"user"),B.rowIdFn=z(p.rowId),j(B);var C=B.oClasses;a.extend(C,Ua.ext.classes,p.oClasses),w.addClass(C.sTable),B.iInitDisplayStart===d&&(B.iInitDisplayStart=p.iDisplayStart,B._iDisplayStart=p.iDisplayStart),null!==p.iDeferLoading&&(B.bDeferLoading=!0,o=a.isArray(p.iDeferLoading),B._iRecordsDisplay=o?p.iDeferLoading[0]:p.iDeferLoading,B._iRecordsTotal=o?p.iDeferLoading[1]:p.iDeferLoading);var D=B.oLanguage;a.extend(!0,D,p.oLanguage),D.sUrl&&(a.ajax({dataType:"json",url:D.sUrl,success:function(b){g(b),f(s.oLanguage,b),a.extend(!0,D,b),ea(B)},error:function(){ea(B)}}),r=!0),null===p.asStripeClasses&&(B.asStripeClasses=[C.sStripeOdd,C.sStripeEven]);var o=B.asStripeClasses,E=w.children("tbody").find("tr").eq(0);if(-1!==a.inArray(!0,a.map(o,function(a){return E.hasClass(a)}))&&(a("tbody tr",this).removeClass(o.join(" ")),B.asDestroyStripes=o.slice()),o=[],x=this.getElementsByTagName("thead"),0!==x.length&&(N(B.aoHeader,x[0]),o=O(B)),null===p.aoColumns)for(x=[],q=0,n=o.length;q<n;q++)x.push(null);else x=p.aoColumns;for(q=0,n=x.length;q<n;q++)l(B,o?o[q]:null);if(t(B,p.aoColumnDefs,x,function(a,b){m(B,a,b)}),E.length){var F=function(a,b){return null!==a.getAttribute("data-"+b)?b:null};a(E[0]).children("th, td").each(function(a,b){var c=B.aoColumns[a];if(c.mData===a){var e=F(b,"sort")||F(b,"order"),f=F(b,"filter")||F(b,"search");null===e&&null===f||(c.mData={_:a+".display",sort:null!==e?a+".@data-"+e:d,type:null!==e?a+".@data-"+e:d,filter:null!==f?a+".@data-"+f:d},m(B,a))}})}var G=B.oFeatures,o=function(){if(p.aaSorting===d){var b=B.aaSorting;for(q=0,n=b.length;q<n;q++)b[q][1]=B.aoColumns[q].asSorting[0]}za(B),G.bSort&&Ia(B,"aoDrawCallback",function(){if(B.bSorted){var b=ua(B),c={};a.each(b,function(a,b){c[b.src]=b.dir}),Ja(B,null,"order",[B,b,c]),wa(B)}}),Ia(B,"aoDrawCallback",function(){(B.bSorted||"ssp"===Ma(B)||G.bDeferRender)&&za(B)},"sc");var b=w.children("caption").each(function(){this._captionSide=a(this).css("caption-side")}),c=w.children("thead");if(0===c.length&&(c=a("<thead/>").appendTo(w)),B.nTHead=c[0],c=w.children("tbody"),0===c.length&&(c=a("<tbody/>").appendTo(w)),B.nTBody=c[0],c=w.children("tfoot"),0===c.length&&b.length>0&&(""!==B.oScroll.sX||""!==B.oScroll.sY)&&(c=a("<tfoot/>").appendTo(w)),0===c.length||0===c.children().length?w.addClass(C.sNoFooter):c.length>0&&(B.nTFoot=c[0],N(B.aoFooter,B.nTFoot)),p.aaData)for(q=0;q<p.aaData.length;q++)u(B,p.aaData[q]);else(B.bDeferLoading||"dom"==Ma(B))&&v(B,a(B.nTBody).children("tr"));B.aiDisplay=B.aiDisplayMaster.slice(),B.bInitialised=!0,!1===r&&ea(B)};p.bStateSave?(G.bStateSave=!0,Ia(B,"aoDrawCallback",Ba,"state_save"),Ca(B,p,o)):o()}}),c=null,this},Va={},Wa=/[\r\n]/g,Xa=/<.*?>/g,Ya=/^\d{2,4}[\.\/\-]\d{1,2}[\.\/\-]\d{1,2}([T ]{1}\d{1,2}[:\.]\d{2}([\.:]\d{2})?)?$/,Za=RegExp("(\\/|\\.|\\*|\\+|\\?|\\||\\(|\\)|\\[|\\]|\\{|\\}|\\\\|\\$|\\^|\\-)","g"),$a=/[',$£€¥%\u2009\u202F\u20BD\u20a9\u20BArfk]/gi,_a=function(a){return!a||!0===a||"-"===a},ab=function(a){var b=parseInt(a,10);return!isNaN(b)&&isFinite(a)?b:null},bb=function(a,b){return Va[b]||(Va[b]=RegExp(mb(b),"g")),"string"==typeof a&&"."!==b?a.replace(/\./g,"").replace(Va[b],"."):a},cb=function(a,b,c){var d="string"==typeof a;return!!_a(a)||(b&&d&&(a=bb(a,b)),c&&d&&(a=a.replace($a,"")),!isNaN(parseFloat(a))&&isFinite(a))},db=function(a,b,c){return!!_a(a)||(_a(a)||"string"==typeof a?!!cb(a.replace(Xa,""),b,c)||null:null)},eb=function(a,b,c){var e=[],f=0,g=a.length;if(c!==d)for(;f<g;f++)a[f]&&a[f][b]&&e.push(a[f][b][c]);else for(;f<g;f++)a[f]&&e.push(a[f][b]);return e},fb=function(a,b,c,e){var f=[],g=0,h=b.length;if(e!==d)for(;g<h;g++)a[b[g]][c]&&f.push(a[b[g]][c][e]);else for(;g<h;g++)f.push(a[b[g]][c]);return f},gb=function(a,b){var c,e=[];b===d?(b=0,c=a):(c=b,b=a);for(var f=b;f<c;f++)e.push(f);return e},hb=function(a){for(var b=[],c=0,d=a.length;c<d;c++)a[c]&&b.push(a[c]);return b},ib=function(a){var b;a:{if(!(2>a.length)){b=a.slice().sort();for(var c=b[0],d=1,e=b.length;d<e;d++){if(b[d]===c){b=!1;break a}c=b[d]}}b=!0}if(b)return a.slice();b=[];var f,e=a.length,g=0,d=0;a:for(;d<e;d++){for(c=a[d],f=0;f<g;f++)if(b[f]===c)continue a;b.push(c),g++}return b};Ua.util={throttle:function(a,b){var c,e,f=b!==d?b:200;return function(){var b=this,g=+new Date,h=arguments;c&&g<c+f?(clearTimeout(e),e=setTimeout(function(){c=d,a.apply(b,h)},f)):(c=g,a.apply(b,h))}},escapeRegex:function(a){return a.replace(Za,"\\$1")}};var jb=function(a,b,c){a[b]!==d&&(a[c]=a[b])},kb=/\[.*?\]$/,lb=/\(\)$/,mb=Ua.util.escapeRegex,nb=a("<div>")[0],ob=nb.textContent!==d,pb=/<.*?>/g,qb=Ua.util.throttle,rb=[],sb=Array.prototype,tb=function(b){var c,d,e=Ua.settings,f=a.map(e,function(a){return a.nTable});return b?b.nTable&&b.oApi?[b]:b.nodeName&&"table"===b.nodeName.toLowerCase()?(c=a.inArray(b,f),-1!==c?[e[c]]:null):b&&"function"==typeof b.settings?b.settings().toArray():("string"==typeof b?d=a(b):b instanceof a&&(d=b),d?d.map(function(){return c=a.inArray(this,f),-1!==c?e[c]:null}).toArray():void 0):[]};Ra=function(b,c){if(!(this instanceof Ra))return new Ra(b,c);var d=[],e=function(a){(a=tb(a))&&(d=d.concat(a))};if(a.isArray(b))for(var f=0,g=b.length;f<g;f++)e(b[f]);else e(b);this.context=ib(d),c&&a.merge(this,c),this.selector={rows:null,cols:null,opts:null},Ra.extend(this,this,rb)},Ua.Api=Ra,a.extend(Ra.prototype,{any:function(){return 0!==this.count()},concat:sb.concat,context:[],count:function(){return this.flatten().length},each:function(a){for(var b=0,c=this.length;b<c;b++)a.call(this,this[b],b,this);return this},eq:function(a){var b=this.context;return b.length>a?new Ra(b[a],this[a]):null},filter:function(a){var b=[];if(sb.filter)b=sb.filter.call(this,a,this);else for(var c=0,d=this.length;c<d;c++)a.call(this,this[c],c,this)&&b.push(this[c]);return new Ra(this.context,b)},flatten:function(){var a=[];return new Ra(this.context,a.concat.apply(a,this.toArray()))},join:sb.join,indexOf:sb.indexOf||function(a,b){for(var c=b||0,d=this.length;c<d;c++)if(this[c]===a)return c;return-1},iterator:function(a,b,c,e){var f,g,h,i,j,k,l,m=[],n=this.context,o=this.selector;for("string"==typeof a&&(e=c,c=b,b=a,a=!1),g=0,h=n.length;g<h;g++){var p=new Ra(n[g]);if("table"===b)(f=c.call(p,n[g],g))!==d&&m.push(f);else if("columns"===b||"rows"===b)(f=c.call(p,n[g],this[g],g))!==d&&m.push(f);else if("column"===b||"column-rows"===b||"row"===b||"cell"===b)for(l=this[g],"column-rows"===b&&(k=yb(n[g],o.opts)),i=0,j=l.length;i<j;i++)f=l[i],(f="cell"===b?c.call(p,n[g],f.row,f.column,g,i):c.call(p,n[g],f,g,i,k))!==d&&m.push(f)}return m.length||e?(a=new Ra(n,a?m.concat.apply([],m):m),b=a.selector,b.rows=o.rows,b.cols=o.cols,b.opts=o.opts,a):this},lastIndexOf:sb.lastIndexOf||function(a,b){return this.indexOf.apply(this.toArray.reverse(),arguments)},length:0,map:function(a){var b=[];if(sb.map)b=sb.map.call(this,a,this);else for(var c=0,d=this.length;c<d;c++)b.push(a.call(this,this[c],c));return new Ra(this.context,b)},pluck:function(a){return this.map(function(b){return b[a]})},pop:sb.pop,push:sb.push,reduce:sb.reduce||function(a,b){return k(this,a,b,0,this.length,1)},reduceRight:sb.reduceRight||function(a,b){return k(this,a,b,this.length-1,-1,-1)},reverse:sb.reverse,selector:null,shift:sb.shift,slice:function(){return new Ra(this.context,this)},sort:sb.sort,splice:sb.splice,toArray:function(){return sb.slice.call(this)},to$:function(){return a(this)},toJQuery:function(){return a(this)},unique:function(){return new Ra(this.context,ib(this))},unshift:sb.unshift}),Ra.extend=function(b,c,d){if(d.length&&c&&(c instanceof Ra||c.__dt_wrapper)){var e,f,g;for(e=0,f=d.length;e<f;e++)g=d[e],c[g.name]="function"==typeof g.val?function(a,b,c){return function(){var d=b.apply(a,arguments);return Ra.extend(d,d,c.methodExt),d}}(b,g.val,g):a.isPlainObject(g.val)?{}:g.val,c[g.name].__dt_wrapper=!0,Ra.extend(b,c[g.name],g.propExt)}},Ra.register=Sa=function(b,c){if(a.isArray(b))for(var d=0,e=b.length;d<e;d++)Ra.register(b[d],c);else for(var f,g,h=b.split("."),i=rb,d=0,e=h.length;d<e;d++){f=(g=-1!==h[d].indexOf("()"))?h[d].replace("()",""):h[d];var j;a:{j=0;for(var k=i.length;j<k;j++)if(i[j].name===f){j=i[j];break a}j=null}j||(j={name:f,val:{},methodExt:[],propExt:[]},i.push(j)),d===e-1?j.val=c:i=g?j.methodExt:j.propExt}},Ra.registerPlural=Ta=function(b,c,e){Ra.register(b,e),Ra.register(c,function(){var b=e.apply(this,arguments);return b===this?this:b instanceof Ra?b.length?a.isArray(b[0])?new Ra(b.context,b[0]):b[0]:d:b})},Sa("tables()",function(b){var c;if(b){c=Ra;var d=this.context;if("number"==typeof b)b=[d[b]];else var e=a.map(d,function(a){return a.nTable}),b=a(e).filter(b).map(function(){var b=a.inArray(this,e);return d[b]}).toArray();c=new c(b)}else c=this;return c}),Sa("table()",function(a){var a=this.tables(a),b=a.context;return b.length?new Ra(b[0]):a}),Ta("tables().nodes()","table().node()",function(){return this.iterator("table",function(a){return a.nTable},1)}),Ta("tables().body()","table().body()",function(){return this.iterator("table",function(a){return a.nTBody},1)}),Ta("tables().header()","table().header()",function(){return this.iterator("table",function(a){return a.nTHead},1)}),Ta("tables().footer()","table().footer()",function(){return this.iterator("table",function(a){return a.nTFoot},1)}),Ta("tables().containers()","table().container()",function(){return this.iterator("table",function(a){return a.nTableWrapper},1)}),Sa("draw()",function(a){return this.iterator("table",function(b){"page"===a?K(b):("string"==typeof a&&(a="full-hold"!==a),L(b,!1===a))})}),Sa("page()",function(a){return a===d?this.page.info().page:this.iterator("table",function(b){ja(b,a)})}),Sa("page.info()",function(){if(0===this.context.length)return d;var a=this.context[0],b=a._iDisplayStart,c=a.oFeatures.bPaginate?a._iDisplayLength:-1,e=a.fnRecordsDisplay(),f=-1===c;return{page:f?0:Math.floor(b/c),pages:f?1:Math.ceil(e/c),start:b,end:a.fnDisplayEnd(),length:c,recordsTotal:a.fnRecordsTotal(),recordsDisplay:e,serverSide:"ssp"===Ma(a)}}),Sa("page.len()",function(a){return a===d?0!==this.context.length?this.context[0]._iDisplayLength:d:this.iterator("table",function(b){ga(b,a)})});var ub=function(a,b,c){if(c){var d=new Ra(a);d.one("draw",function(){c(d.ajax.json())})}if("ssp"==Ma(a))L(a,b);else{la(a,!0);var e=a.jqXHR;e&&4!==e.readyState&&e.abort(),P(a,[],function(c){C(a);for(var c=T(a,c),d=0,e=c.length;d<e;d++)u(a,c[d]);L(a,b),la(a,!1)})}};Sa("ajax.json()",function(){var a=this.context;if(0<a.length)return a[0].json}),Sa("ajax.params()",function(){var a=this.context;if(0<a.length)return a[0].oAjaxData}),Sa("ajax.reload()",function(a,b){return this.iterator("table",function(c){ub(c,!1===b,a)})}),Sa("ajax.url()",function(b){var c=this.context;return b===d?0===c.length?d:(c=c[0],c.ajax?a.isPlainObject(c.ajax)?c.ajax.url:c.ajax:c.sAjaxSource):this.iterator("table",function(c){a.isPlainObject(c.ajax)?c.ajax.url=b:c.ajax=b})}),Sa("ajax.url().load()",function(a,b){return this.iterator("table",function(c){ub(c,!1===b,a)})});var vb=function(b,c,e,f,g){var h,i,j,k,l,m,n=[];for(j=typeof c,c&&"string"!==j&&"function"!==j&&c.length!==d||(c=[c]),j=0,k=c.length;j<k;j++)for(i=c[j]&&c[j].split&&!c[j].match(/[\[\(:]/)?c[j].split(","):[c[j]],l=0,m=i.length;l<m;l++)(h=e("string"==typeof i[l]?a.trim(i[l]):i[l]))&&h.length&&(n=n.concat(h));if(b=Qa.selector[b],b.length)for(j=0,k=b.length;j<k;j++)n=b[j](f,g,n);return ib(n)},wb=function(b){return b||(b={}),b.filter&&b.search===d&&(b.search=b.filter),a.extend({search:"none",order:"current",page:"all"},b)},xb=function(a){for(var b=0,c=a.length;b<c;b++)if(0<a[b].length)return a[0]=a[b],a[0].length=1,a.length=1,a.context=[a.context[b]],a;return a.length=0,a},yb=function(b,c){var d,e,f,g=[],h=b.aiDisplay;d=b.aiDisplayMaster;var i=c.search;if(e=c.order,f=c.page,"ssp"==Ma(b))return"removed"===i?[]:gb(0,d.length);if("current"==f)for(d=b._iDisplayStart,e=b.fnDisplayEnd();d<e;d++)g.push(h[d]);else if("current"==e||"applied"==e)g="none"==i?d.slice():"applied"==i?h.slice():a.map(d,function(b){return-1===a.inArray(b,h)?b:null});else if("index"==e||"original"==e)for(d=0,e=b.aoData.length;d<e;d++)"none"==i?g.push(d):(-1===(f=a.inArray(d,h))&&"removed"==i||0<=f&&"applied"==i)&&g.push(d);return g};Sa("rows()",function(b,c){b===d?b="":a.isPlainObject(b)&&(c=b,b="");var c=wb(c),e=this.iterator("table",function(e){var f,g=c;return vb("row",b,function(b){var c=ab(b);if(null!==c&&!g)return[c];if(f||(f=yb(e,g)),null!==c&&-1!==a.inArray(c,f))return[c];if(null===b||b===d||""===b)return f;if("function"==typeof b)return a.map(f,function(a){var c=e.aoData[a];return b(a,c._aData,c.nTr)?a:null});if(c=hb(fb(e.aoData,f,"nTr")),b.nodeName)return b._DT_RowIndex!==d?[b._DT_RowIndex]:b._DT_CellIndex?[b._DT_CellIndex.row]:(c=a(b).closest("*[data-dt-row]"),c.length?[c.data("dt-row")]:[]);if("string"==typeof b&&"#"===b.charAt(0)){var h=e.aIds[b.replace(/^#/,"")];if(h!==d)return[h.idx]}return a(c).filter(b).map(function(){return this._DT_RowIndex}).toArray()},e,g)},1);return e.selector.rows=b,e.selector.opts=c,e}),Sa("rows().nodes()",function(){return this.iterator("row",function(a,b){return a.aoData[b].nTr||d},1)}),Sa("rows().data()",function(){return this.iterator(!0,"rows",function(a,b){return fb(a.aoData,b,"_aData")},1)}),Ta("rows().cache()","row().cache()",function(a){return this.iterator("row",function(b,c){var d=b.aoData[c];return"search"===a?d._aFilterData:d._aSortData},1)}),Ta("rows().invalidate()","row().invalidate()",function(a){return this.iterator("row",function(b,c){E(b,c,a)})}),Ta("rows().indexes()","row().index()",function(){return this.iterator("row",function(a,b){return b},1)}),Ta("rows().ids()","row().id()",function(a){for(var b=[],c=this.context,d=0,e=c.length;d<e;d++)for(var f=0,g=this[d].length;f<g;f++){var h=c[d].rowIdFn(c[d].aoData[this[d][f]]._aData);b.push((!0===a?"#":"")+h)}return new Ra(c,b)}),Ta("rows().remove()","row().remove()",function(){var a=this;return this.iterator("row",function(b,c,e){var f,g,h,i,j,k=b.aoData,l=k[c];for(k.splice(c,1),f=0,g=k.length;f<g;f++)if(h=k[f],j=h.anCells,null!==h.nTr&&(h.nTr._DT_RowIndex=f),null!==j)for(h=0,i=j.length;h<i;h++)j[h]._DT_CellIndex.row=f;D(b.aiDisplayMaster,c),D(b.aiDisplay,c),D(a[e],c,!1),0<b._iRecordsDisplay&&b._iRecordsDisplay--,Ka(b),(c=b.rowIdFn(l._aData))!==d&&delete b.aIds[c]}),this.iterator("table",function(a){for(var b=0,c=a.aoData.length;b<c;b++)a.aoData[b].idx=b}),this}),Sa("rows.add()",function(b){var c=this.iterator("table",function(a){var c,d,e,f=[];for(d=0,e=b.length;d<e;d++)c=b[d],c.nodeName&&"TR"===c.nodeName.toUpperCase()?f.push(v(a,c)[0]):f.push(u(a,c));return f},1),d=this.rows(-1);return d.pop(),a.merge(d,c),d}),Sa("row()",function(a,b){return xb(this.rows(a,b))}),Sa("row().data()",function(a){var b=this.context;return a===d?b.length&&this.length?b[0].aoData[this[0]]._aData:d:(b[0].aoData[this[0]]._aData=a,E(b[0],this[0],"data"),this)}),Sa("row().node()",function(){var a=this.context;return a.length&&this.length?a[0].aoData[this[0]].nTr||null:null}),Sa("row.add()",function(b){b instanceof a&&b.length&&(b=b[0]);var c=this.iterator("table",function(a){return b.nodeName&&"TR"===b.nodeName.toUpperCase()?v(a,b)[0]:u(a,b)});return this.row(c[0])});var zb=function(a,b){var c=a.context;c.length&&(c=c[0].aoData[b!==d?b:a[0]])&&c._details&&(c._details.remove(),c._detailsShow=d,c._details=d)},Ab=function(a,b){var c=a.context;if(c.length&&a.length){var d=c[0].aoData[a[0]];if(d._details){(d._detailsShow=b)?d._details.insertAfter(d.nTr):d._details.detach();var e=c[0],f=new Ra(e),g=e.aoData;f.off("draw.dt.DT_details column-visibility.dt.DT_details destroy.dt.DT_details"),0<eb(g,"_details").length&&(f.on("draw.dt.DT_details",function(a,b){e===b&&f.rows({page:"current"}).eq(0).each(function(a){a=g[a],a._detailsShow&&a._details.insertAfter(a.nTr)})}),f.on("column-visibility.dt.DT_details",function(a,b){if(e===b)for(var c,d=q(b),f=0,h=g.length;f<h;f++)c=g[f],c._details&&c._details.children("td[colspan]").attr("colspan",d)}),f.on("destroy.dt.DT_details",function(a,b){if(e===b)for(var c=0,d=g.length;c<d;c++)g[c]._details&&zb(f,c)}))}}};Sa("row().child()",function(b,c){var e=this.context;if(b===d)return e.length&&this.length?e[0].aoData[this[0]]._details:d;if(!0===b)this.child.show();else if(!1===b)zb(this);else if(e.length&&this.length){var f=e[0],e=e[0].aoData[this[0]],g=[],h=function(b,c){if(a.isArray(b)||b instanceof a)for(var d=0,e=b.length;d<e;d++)h(b[d],c);else b.nodeName&&"tr"===b.nodeName.toLowerCase()?g.push(b):(d=a("<tr><td/></tr>").addClass(c),a("td",d).addClass(c).html(b)[0].colSpan=q(f),g.push(d[0]))};h(b,c),e._details&&e._details.detach(),e._details=a(g),e._detailsShow&&e._details.insertAfter(e.nTr)}return this}),Sa(["row().child.show()","row().child().show()"],function(){return Ab(this,!0),this}),Sa(["row().child.hide()","row().child().hide()"],function(){return Ab(this,!1),this}),Sa(["row().child.remove()","row().child().remove()"],function(){return zb(this),this}),Sa("row().child.isShown()",function(){var a=this.context;return!(!a.length||!this.length)&&(a[0].aoData[this[0]]._detailsShow||!1)});var Bb=/^([^:]+):(name|visIdx|visible)$/,Cb=function(a,b,c,d,e){for(var c=[],d=0,f=e.length;d<f;d++)c.push(w(a,e[d],b));return c};Sa("columns()",function(b,c){b===d?b="":a.isPlainObject(b)&&(c=b,b="");var c=wb(c),e=this.iterator("table",function(d){var e=b,f=c,g=d.aoColumns,h=eb(g,"sName"),i=eb(g,"nTh");return vb("column",e,function(b){var c=ab(b);if(""===b)return gb(g.length);if(null!==c)return[c>=0?c:g.length+c];if("function"==typeof b){var e=yb(d,f);return a.map(g,function(a,c){return b(c,Cb(d,c,0,0,e),i[c])?c:null})}var j="string"==typeof b?b.match(Bb):"";if(j)switch(j[2]){case"visIdx":case"visible":if((c=parseInt(j[1],10))<0){var k=a.map(g,function(a,b){return a.bVisible?b:null});return[k[k.length+c]]}return[o(d,c)];case"name":return a.map(h,function(a,b){return a===j[1]?b:null});default:return[]}return b.nodeName&&b._DT_CellIndex?[b._DT_CellIndex.column]:(c=a(i).filter(b).map(function(){return a.inArray(this,i)}).toArray(),c.length||!b.nodeName?c:(c=a(b).closest("*[data-dt-column]"),c.length?[c.data("dt-column")]:[]))},d,f)},1);return e.selector.cols=b,e.selector.opts=c,e}),Ta("columns().header()","column().header()",function(){return this.iterator("column",function(a,b){return a.aoColumns[b].nTh},1)}),Ta("columns().footer()","column().footer()",function(){return this.iterator("column",function(a,b){return a.aoColumns[b].nTf},1)}),Ta("columns().data()","column().data()",function(){return this.iterator("column-rows",Cb,1)}),Ta("columns().dataSrc()","column().dataSrc()",function(){return this.iterator("column",function(a,b){return a.aoColumns[b].mData},1)}),Ta("columns().cache()","column().cache()",function(a){return this.iterator("column-rows",function(b,c,d,e,f){return fb(b.aoData,f,"search"===a?"_aFilterData":"_aSortData",c)},1)}),Ta("columns().nodes()","column().nodes()",function(){return this.iterator("column-rows",function(a,b,c,d,e){return fb(a.aoData,e,"anCells",b)},1)}),Ta("columns().visible()","column().visible()",function(b,c){var e=this.iterator("column",function(c,e){if(b===d)return c.aoColumns[e].bVisible;var f,g,h,i=c.aoColumns,j=i[e],k=c.aoData;if(b!==d&&j.bVisible!==b){if(b){var l=a.inArray(!0,eb(i,"bVisible"),e+1);for(f=0,g=k.length;f<g;f++)h=k[f].nTr,i=k[f].anCells,h&&h.insertBefore(i[e],i[l]||null)}else a(eb(c.aoData,"anCells",e)).detach();j.bVisible=b,J(c,c.aoHeader),J(c,c.aoFooter),Ba(c)}});return b!==d&&(this.iterator("column",function(a,d){Ja(a,null,"column-visibility",[a,d,b,c])}),(c===d||c)&&this.columns.adjust()),e}),Ta("columns().indexes()","column().index()",function(a){return this.iterator("column",function(b,c){return"visible"===a?p(b,c):c},1)}),Sa("columns.adjust()",function(){return this.iterator("table",function(a){n(a)},1)}),Sa("column.index()",function(a,b){if(0!==this.context.length){var c=this.context[0];if("fromVisible"===a||"toData"===a)return o(c,b);if("fromData"===a||"toVisible"===a)return p(c,b)}}),Sa("column()",function(a,b){return xb(this.columns(a,b))}),Sa("cells()",function(b,c,e){if(a.isPlainObject(b)&&(b.row===d?(e=b,b=null):(e=c,c=null)),a.isPlainObject(c)&&(e=c,c=null),null===c||c===d)return this.iterator("table",function(c){var f,g,h,i,j,k,l,m=b,n=wb(e),o=c.aoData,p=yb(c,n),q=hb(fb(o,p,"anCells")),r=a([].concat.apply([],q)),s=c.aoColumns.length;return vb("cell",m,function(b){var e="function"==typeof b;if(null===b||b===d||e){for(g=[],h=0,i=p.length;h<i;h++)for(f=p[h],j=0;j<s;j++)k={row:f,column:j},e?(l=o[f],b(k,w(c,f,j),l.anCells?l.anCells[j]:null)&&g.push(k)):g.push(k);return g}return a.isPlainObject(b)?[b]:(e=r.filter(b).map(function(a,b){return{row:b._DT_CellIndex.row,column:b._DT_CellIndex.column}}).toArray(),e.length||!b.nodeName?e:(l=a(b).closest("*[data-dt-row]"),l.length?[{row:l.data("dt-row"),column:l.data("dt-column")}]:[]))},c,n)});var f,g,h,i,j,k=this.columns(c,e),l=this.rows(b,e),m=this.iterator("table",function(a,b){for(f=[],g=0,h=l[b].length;g<h;g++)for(i=0,j=k[b].length;i<j;i++)f.push({row:l[b][g],column:k[b][i]});return f},1);return a.extend(m.selector,{cols:c,rows:b,opts:e}),m}),Ta("cells().nodes()","cell().node()",function(){return this.iterator("cell",function(a,b,c){return(a=a.aoData[b])&&a.anCells?a.anCells[c]:d},1)}),Sa("cells().data()",function(){return this.iterator("cell",function(a,b,c){return w(a,b,c)},1)}),Ta("cells().cache()","cell().cache()",function(a){return a="search"===a?"_aFilterData":"_aSortData",this.iterator("cell",function(b,c,d){return b.aoData[c][a][d]},1)}),Ta("cells().render()","cell().render()",function(a){return this.iterator("cell",function(b,c,d){return w(b,c,d,a)},1)}),Ta("cells().indexes()","cell().index()",function(){return this.iterator("cell",function(a,b,c){return{row:b,column:c,columnVisible:p(a,c)}},1)}),Ta("cells().invalidate()","cell().invalidate()",function(a){return this.iterator("cell",function(b,c,d){E(b,c,a,d)})}),
Sa("cell()",function(a,b,c){return xb(this.cells(a,b,c))}),Sa("cell().data()",function(a){var b=this.context,c=this[0];return a===d?b.length&&c.length?w(b[0],c[0].row,c[0].column):d:(x(b[0],c[0].row,c[0].column,a),E(b[0],c[0].row,"data",c[0].column),this)}),Sa("order()",function(b,c){var e=this.context;return b===d?0!==e.length?e[0].aaSorting:d:("number"==typeof b?b=[[b,c]]:b.length&&!a.isArray(b[0])&&(b=Array.prototype.slice.call(arguments)),this.iterator("table",function(a){a.aaSorting=b.slice()}))}),Sa("order.listener()",function(a,b,c){return this.iterator("table",function(d){ya(d,a,b,c)})}),Sa("order.fixed()",function(b){if(!b){var c=this.context,c=c.length?c[0].aaSortingFixed:d;return a.isArray(c)?{pre:c}:c}return this.iterator("table",function(c){c.aaSortingFixed=a.extend(!0,{},b)})}),Sa(["columns().order()","column().order()"],function(b){var c=this;return this.iterator("table",function(d,e){var f=[];a.each(c[e],function(a,c){f.push([c,b])}),d.aaSorting=f})}),Sa("search()",function(b,c,e,f){var g=this.context;return b===d?0!==g.length?g[0].oPreviousSearch.sSearch:d:this.iterator("table",function(d){d.oFeatures.bFilter&&V(d,a.extend({},d.oPreviousSearch,{sSearch:b+"",bRegex:null!==c&&c,bSmart:null===e||e,bCaseInsensitive:null===f||f}),1)})}),Ta("columns().search()","column().search()",function(b,c,e,f){return this.iterator("column",function(g,h){var i=g.aoPreSearchCols;if(b===d)return i[h].sSearch;g.oFeatures.bFilter&&(a.extend(i[h],{sSearch:b+"",bRegex:null!==c&&c,bSmart:null===e||e,bCaseInsensitive:null===f||f}),V(g,g.oPreviousSearch,1))})}),Sa("state()",function(){return this.context.length?this.context[0].oSavedState:null}),Sa("state.clear()",function(){return this.iterator("table",function(a){a.fnStateSaveCallback.call(a.oInstance,a,{})})}),Sa("state.loaded()",function(){return this.context.length?this.context[0].oLoadedState:null}),Sa("state.save()",function(){return this.iterator("table",function(a){Ba(a)})}),Ua.versionCheck=Ua.fnVersionCheck=function(a){for(var b,c,d=Ua.version.split("."),a=a.split("."),e=0,f=a.length;e<f;e++)if(b=parseInt(d[e],10)||0,c=parseInt(a[e],10)||0,b!==c)return b>c;return!0},Ua.isDataTable=Ua.fnIsDataTable=function(b){var c=a(b).get(0),d=!1;return b instanceof Ua.Api||(a.each(Ua.settings,function(b,e){var f=e.nScrollHead?a("table",e.nScrollHead)[0]:null,g=e.nScrollFoot?a("table",e.nScrollFoot)[0]:null;e.nTable!==c&&f!==c&&g!==c||(d=!0)}),d)},Ua.tables=Ua.fnTables=function(b){var c=!1;a.isPlainObject(b)&&(c=b.api,b=b.visible);var d=a.map(Ua.settings,function(c){if(!b||b&&a(c.nTable).is(":visible"))return c.nTable});return c?new Ra(d):d},Ua.camelToHungarian=f,Sa("$()",function(b,c){var d=this.rows(c).nodes(),d=a(d);return a([].concat(d.filter(b).toArray(),d.find(b).toArray()))}),a.each(["on","one","off"],function(b,c){Sa(c+"()",function(){var b=Array.prototype.slice.call(arguments);b[0]=a.map(b[0].split(/\s/),function(a){return a.match(/\.dt\b/)?a:a+".dt"}).join(" ");var d=a(this.tables().nodes());return d[c].apply(d,b),this})}),Sa("clear()",function(){return this.iterator("table",function(a){C(a)})}),Sa("settings()",function(){return new Ra(this.context,this.context)}),Sa("init()",function(){var a=this.context;return a.length?a[0].oInit:null}),Sa("data()",function(){return this.iterator("table",function(a){return eb(a.aoData,"_aData")}).flatten()}),Sa("destroy()",function(c){return c=c||!1,this.iterator("table",function(d){var e,f=d.nTableWrapper.parentNode,g=d.oClasses,h=d.nTable,i=d.nTBody,j=d.nTHead,k=d.nTFoot,l=a(h),i=a(i),m=a(d.nTableWrapper),n=a.map(d.aoData,function(a){return a.nTr});d.bDestroying=!0,Ja(d,"aoDestroyCallback","destroy",[d]),c||new Ra(d).columns().visible(!0),m.off(".DT").find(":not(tbody *)").off(".DT"),a(b).off(".DT-"+d.sInstance),h!=j.parentNode&&(l.children("thead").detach(),l.append(j)),k&&h!=k.parentNode&&(l.children("tfoot").detach(),l.append(k)),d.aaSorting=[],d.aaSortingFixed=[],za(d),a(n).removeClass(d.asStripeClasses.join(" ")),a("th, td",j).removeClass(g.sSortable+" "+g.sSortableAsc+" "+g.sSortableDesc+" "+g.sSortableNone),i.children().detach(),i.append(n),j=c?"remove":"detach",l[j](),m[j](),!c&&f&&(f.insertBefore(h,d.nTableReinsertBefore),l.css("width",d.sDestroyWidth).removeClass(g.sTable),(e=d.asDestroyStripes.length)&&i.children().each(function(b){a(this).addClass(d.asDestroyStripes[b%e])})),-1!==(f=a.inArray(d,Ua.settings))&&Ua.settings.splice(f,1)})}),a.each(["column","row","cell"],function(a,b){Sa(b+"s().every()",function(a){var c=this.selector.opts,e=this;return this.iterator(b,function(f,g,h,i,j){a.call(e[b](g,"cell"===b?h:c,"cell"===b?c:d),g,h,i,j)})})}),Sa("i18n()",function(b,c,e){var f=this.context[0],b=z(b)(f.oLanguage);return b===d&&(b=c),e!==d&&a.isPlainObject(b)&&(b=b[e]!==d?b[e]:b._),b.replace("%d",e)}),Ua.version="1.10.16",Ua.settings=[],Ua.models={},Ua.models.oSearch={bCaseInsensitive:!0,sSearch:"",bRegex:!1,bSmart:!0},Ua.models.oRow={nTr:null,anCells:null,_aData:[],_aSortData:null,_aFilterData:null,_sFilterRow:null,_sRowStripe:"",src:null,idx:-1},Ua.models.oColumn={idx:null,aDataSort:null,asSorting:null,bSearchable:null,bSortable:null,bVisible:null,_sManualType:null,_bAttrSrc:!1,fnCreatedCell:null,fnGetData:null,fnSetData:null,mData:null,mRender:null,nTh:null,nTf:null,sClass:null,sContentPadding:null,sDefaultContent:null,sName:null,sSortDataType:"std",sSortingClass:null,sSortingClassJUI:null,sTitle:null,sType:null,sWidth:null,sWidthOrig:null},Ua.defaults={aaData:null,aaSorting:[[0,"asc"]],aaSortingFixed:[],ajax:null,aLengthMenu:[10,25,50,100],aoColumns:null,aoColumnDefs:null,aoSearchCols:[],asStripeClasses:null,bAutoWidth:!0,bDeferRender:!1,bDestroy:!1,bFilter:!0,bInfo:!0,bLengthChange:!0,bPaginate:!0,bProcessing:!1,bRetrieve:!1,bScrollCollapse:!1,bServerSide:!1,bSort:!0,bSortMulti:!0,bSortCellsTop:!1,bSortClasses:!0,bStateSave:!1,fnCreatedRow:null,fnDrawCallback:null,fnFooterCallback:null,fnFormatNumber:function(a){return a.toString().replace(/\B(?=(\d{3})+(?!\d))/g,this.oLanguage.sThousands)},fnHeaderCallback:null,fnInfoCallback:null,fnInitComplete:null,fnPreDrawCallback:null,fnRowCallback:null,fnServerData:null,fnServerParams:null,fnStateLoadCallback:function(a){try{return JSON.parse((-1===a.iStateDuration?sessionStorage:localStorage).getItem("DataTables_"+a.sInstance+"_"+location.pathname))}catch(a){}},fnStateLoadParams:null,fnStateLoaded:null,fnStateSaveCallback:function(a,b){try{(-1===a.iStateDuration?sessionStorage:localStorage).setItem("DataTables_"+a.sInstance+"_"+location.pathname,JSON.stringify(b))}catch(a){}},fnStateSaveParams:null,iStateDuration:7200,iDeferLoading:null,iDisplayLength:10,iDisplayStart:0,iTabIndex:0,oClasses:{},oLanguage:{oAria:{sSortAscending:": activate to sort column ascending",sSortDescending:": activate to sort column descending"},oPaginate:{sFirst:"First",sLast:"Last",sNext:"Next",sPrevious:"Previous"},sEmptyTable:"No data available in table",sInfo:"Showing _START_ to _END_ of _TOTAL_ entries",sInfoEmpty:"Showing 0 to 0 of 0 entries",sInfoFiltered:"(filtered from _MAX_ total entries)",sInfoPostFix:"",sDecimal:"",sThousands:",",sLengthMenu:"Show _MENU_ entries",sLoadingRecords:"Loading...",sProcessing:"Processing...",sSearch:"Search:",sSearchPlaceholder:"",sUrl:"",sZeroRecords:"No matching records found"},oSearch:a.extend({},Ua.models.oSearch),sAjaxDataProp:"data",sAjaxSource:null,sDom:"lfrtip",searchDelay:null,sPaginationType:"simple_numbers",sScrollX:"",sScrollXInner:"",sScrollY:"",sServerMethod:"GET",renderer:null,rowId:"DT_RowId"},e(Ua.defaults),Ua.defaults.column={aDataSort:null,iDataSort:-1,asSorting:["asc","desc"],bSearchable:!0,bSortable:!0,bVisible:!0,fnCreatedCell:null,mData:null,mRender:null,sCellType:"td",sClass:"",sContentPadding:"",sDefaultContent:null,sName:"",sSortDataType:"std",sTitle:null,sType:null,sWidth:null},e(Ua.defaults.column),Ua.models.oSettings={oFeatures:{bAutoWidth:null,bDeferRender:null,bFilter:null,bInfo:null,bLengthChange:null,bPaginate:null,bProcessing:null,bServerSide:null,bSort:null,bSortMulti:null,bSortClasses:null,bStateSave:null},oScroll:{bCollapse:null,iBarWidth:0,sX:null,sXInner:null,sY:null},oLanguage:{fnInfoCallback:null},oBrowser:{bScrollOversize:!1,bScrollbarLeft:!1,bBounding:!1,barWidth:0},ajax:null,aanFeatures:[],aoData:[],aiDisplay:[],aiDisplayMaster:[],aIds:{},aoColumns:[],aoHeader:[],aoFooter:[],oPreviousSearch:{},aoPreSearchCols:[],aaSorting:null,aaSortingFixed:[],asStripeClasses:null,asDestroyStripes:[],sDestroyWidth:0,aoRowCallback:[],aoHeaderCallback:[],aoFooterCallback:[],aoDrawCallback:[],aoRowCreatedCallback:[],aoPreDrawCallback:[],aoInitComplete:[],aoStateSaveParams:[],aoStateLoadParams:[],aoStateLoaded:[],sTableId:"",nTable:null,nTHead:null,nTFoot:null,nTBody:null,nTableWrapper:null,bDeferLoading:!1,bInitialised:!1,aoOpenRows:[],sDom:null,searchDelay:null,sPaginationType:"two_button",iStateDuration:0,aoStateSave:[],aoStateLoad:[],oSavedState:null,oLoadedState:null,sAjaxSource:null,sAjaxDataProp:null,bAjaxDataGet:!0,jqXHR:null,json:d,oAjaxData:d,fnServerData:null,aoServerParams:[],sServerMethod:null,fnFormatNumber:null,aLengthMenu:null,iDraw:0,bDrawing:!1,iDrawError:-1,_iDisplayLength:10,_iDisplayStart:0,_iRecordsTotal:0,_iRecordsDisplay:0,oClasses:{},bFiltered:!1,bSorted:!1,bSortCellsTop:null,oInit:null,aoDestroyCallback:[],fnRecordsTotal:function(){return"ssp"==Ma(this)?1*this._iRecordsTotal:this.aiDisplayMaster.length},fnRecordsDisplay:function(){return"ssp"==Ma(this)?1*this._iRecordsDisplay:this.aiDisplay.length},fnDisplayEnd:function(){var a=this._iDisplayLength,b=this._iDisplayStart,c=b+a,d=this.aiDisplay.length,e=this.oFeatures,f=e.bPaginate;return e.bServerSide?!1===f||-1===a?b+d:Math.min(b+a,this._iRecordsDisplay):!f||c>d||-1===a?d:c},oInstance:null,sInstance:null,iTabIndex:0,nScrollHead:null,nScrollFoot:null,aLastSort:[],oPlugins:{},rowIdFn:null,rowId:null},Ua.ext=Qa={buttons:{},classes:{},builder:"-source-",errMode:"alert",feature:[],search:[],selector:{cell:[],column:[],row:[]},internal:{},legacy:{ajax:null},pager:{},renderer:{pageButton:{},header:{}},order:{},type:{detect:[],search:{},order:{}},_unique:0,fnVersionCheck:Ua.fnVersionCheck,iApiIndex:0,oJUIClasses:{},sVersion:Ua.version},a.extend(Qa,{afnFiltering:Qa.search,aTypes:Qa.type.detect,ofnSearch:Qa.type.search,oSort:Qa.type.order,afnSortData:Qa.order,aoFeatures:Qa.feature,oApi:Qa.internal,oStdClasses:Qa.classes,oPagination:Qa.pager}),a.extend(Ua.ext.classes,{sTable:"dataTable",sNoFooter:"no-footer",sPageButton:"paginate_button",sPageButtonActive:"current",sPageButtonDisabled:"disabled",sStripeOdd:"odd",sStripeEven:"even",sRowEmpty:"dataTables_empty",sWrapper:"dataTables_wrapper",sFilter:"dataTables_filter",sInfo:"dataTables_info",sPaging:"dataTables_paginate paging_",sLength:"dataTables_length",sProcessing:"dataTables_processing",sSortAsc:"sorting_asc",sSortDesc:"sorting_desc",sSortable:"sorting",sSortableAsc:"sorting_asc_disabled",sSortableDesc:"sorting_desc_disabled",sSortableNone:"sorting_disabled",sSortColumn:"sorting_",sFilterInput:"",sLengthSelect:"",sScrollWrapper:"dataTables_scroll",sScrollHead:"dataTables_scrollHead",sScrollHeadInner:"dataTables_scrollHeadInner",sScrollBody:"dataTables_scrollBody",sScrollFoot:"dataTables_scrollFoot",sScrollFootInner:"dataTables_scrollFootInner",sHeaderTH:"",sFooterTH:"",sSortJUIAsc:"",sSortJUIDesc:"",sSortJUI:"",sSortJUIAscAllowed:"",sSortJUIDescAllowed:"",sSortJUIWrapper:"",sSortIcon:"",sJUIHeader:"",sJUIFooter:""});var Db=Ua.ext.pager;a.extend(Db,{simple:function(){return["previous","next"]},full:function(){return["first","previous","next","last"]},numbers:function(a,b){return[Na(a,b)]},simple_numbers:function(a,b){return["previous",Na(a,b),"next"]},full_numbers:function(a,b){return["first","previous",Na(a,b),"next","last"]},first_last_numbers:function(a,b){return["first",Na(a,b),"last"]},_numbers:Na,numbers_length:7}),a.extend(!0,Ua.ext.renderer,{pageButton:{_:function(b,e,f,g,h,i){var j,k,l,m=b.oClasses,n=b.oLanguage.oPaginate,o=b.oLanguage.oAria.paginate||{},p=0,q=function(c,d){var e,g,l,r,s=function(a){ja(b,a.data.action,!0)};for(e=0,g=d.length;e<g;e++)if(r=d[e],a.isArray(r))l=a("<"+(r.DT_el||"div")+"/>").appendTo(c),q(l,r);else{switch(j=null,k="",r){case"ellipsis":c.append('<span class="ellipsis">&#x2026;</span>');break;case"first":j=n.sFirst,k=r+(h>0?"":" "+m.sPageButtonDisabled);break;case"previous":j=n.sPrevious,k=r+(h>0?"":" "+m.sPageButtonDisabled);break;case"next":j=n.sNext,k=r+(h<i-1?"":" "+m.sPageButtonDisabled);break;case"last":j=n.sLast,k=r+(h<i-1?"":" "+m.sPageButtonDisabled);break;default:j=r+1,k=h===r?m.sPageButtonActive:""}null!==j&&(l=a("<a>",{class:m.sPageButton+" "+k,"aria-controls":b.sTableId,"aria-label":o[r],"data-dt-idx":p,tabindex:b.iTabIndex,id:0===f&&"string"==typeof r?b.sTableId+"_"+r:null}).html(j).appendTo(c),Ha(l,{action:r},s),p++)}};try{l=a(e).find(c.activeElement).data("dt-idx")}catch(a){}q(a(e).empty(),g),l!==d&&a(e).find("[data-dt-idx="+l+"]").focus()}}}),a.extend(Ua.ext.type.detect,[function(a,b){var c=b.oLanguage.sDecimal;return cb(a,c)?"num"+c:null},function(a){if(a&&!(a instanceof Date)&&!Ya.test(a))return null;var b=Date.parse(a);return null!==b&&!isNaN(b)||_a(a)?"date":null},function(a,b){var c=b.oLanguage.sDecimal;return cb(a,c,!0)?"num-fmt"+c:null},function(a,b){var c=b.oLanguage.sDecimal;return db(a,c)?"html-num"+c:null},function(a,b){var c=b.oLanguage.sDecimal;return db(a,c,!0)?"html-num-fmt"+c:null},function(a){return _a(a)||"string"==typeof a&&-1!==a.indexOf("<")?"html":null}]),a.extend(Ua.ext.type.search,{html:function(a){return _a(a)?a:"string"==typeof a?a.replace(Wa," ").replace(Xa,""):""},string:function(a){return _a(a)?a:"string"==typeof a?a.replace(Wa," "):a}});var Eb=function(a,b,c,d){return 0===a||a&&"-"!==a?(b&&(a=bb(a,b)),a.replace&&(c&&(a=a.replace(c,"")),d&&(a=a.replace(d,""))),1*a):-1/0};a.extend(Qa.type.order,{"date-pre":function(a){return Date.parse(a)||-1/0},"html-pre":function(a){return _a(a)?"":a.replace?a.replace(/<.*?>/g,"").toLowerCase():a+""},"string-pre":function(a){return _a(a)?"":"string"==typeof a?a.toLowerCase():a.toString?a.toString():""},"string-asc":function(a,b){return a<b?-1:a>b?1:0},"string-desc":function(a,b){return a<b?1:a>b?-1:0}}),Oa(""),a.extend(!0,Ua.ext.renderer,{header:{_:function(b,c,d,e){a(b.nTable).on("order.dt.DT",function(a,f,g,h){b===f&&(a=d.idx,c.removeClass(d.sSortingClass+" "+e.sSortAsc+" "+e.sSortDesc).addClass("asc"==h[a]?e.sSortAsc:"desc"==h[a]?e.sSortDesc:d.sSortingClass))})},jqueryui:function(b,c,d,e){a("<div/>").addClass(e.sSortJUIWrapper).append(c.contents()).append(a("<span/>").addClass(e.sSortIcon+" "+d.sSortingClassJUI)).appendTo(c),a(b.nTable).on("order.dt.DT",function(a,f,g,h){b===f&&(a=d.idx,c.removeClass(e.sSortAsc+" "+e.sSortDesc).addClass("asc"==h[a]?e.sSortAsc:"desc"==h[a]?e.sSortDesc:d.sSortingClass),c.find("span."+e.sSortIcon).removeClass(e.sSortJUIAsc+" "+e.sSortJUIDesc+" "+e.sSortJUI+" "+e.sSortJUIAscAllowed+" "+e.sSortJUIDescAllowed).addClass("asc"==h[a]?e.sSortJUIAsc:"desc"==h[a]?e.sSortJUIDesc:d.sSortingClassJUI))})}}});var Fb=function(a){return"string"==typeof a?a.replace(/</g,"&lt;").replace(/>/g,"&gt;").replace(/"/g,"&quot;"):a};return Ua.render={number:function(a,b,c,d,e){return{display:function(f){if("number"!=typeof f&&"string"!=typeof f)return f;var g=0>f?"-":"",h=parseFloat(f);return isNaN(h)?Fb(f):(h=h.toFixed(c),f=Math.abs(h),h=parseInt(f,10),f=c?b+(f-h).toFixed(c).substring(2):"",g+(d||"")+h.toString().replace(/\B(?=(\d{3})+(?!\d))/g,a)+f+(e||""))}}},text:function(){return{display:Fb}}},a.extend(Ua.ext.internal,{_fnExternApiFunc:Pa,_fnBuildAjax:P,_fnAjaxUpdate:Q,_fnAjaxParameters:R,_fnAjaxUpdateDraw:S,_fnAjaxDataSrc:T,_fnAddColumn:l,_fnColumnOptions:m,_fnAdjustColumnSizing:n,_fnVisibleToColumnIndex:o,_fnColumnIndexToVisible:p,_fnVisbleColumns:q,_fnGetColumns:r,_fnColumnTypes:s,_fnApplyColumnDefs:t,_fnHungarianMap:e,_fnCamelToHungarian:f,_fnLanguageCompat:g,_fnBrowserDetect:j,_fnAddData:u,_fnAddTr:v,_fnNodeToDataIndex:function(a,b){return b._DT_RowIndex!==d?b._DT_RowIndex:null},_fnNodeToColumnIndex:function(b,c,d){return a.inArray(d,b.aoData[c].anCells)},_fnGetCellData:w,_fnSetCellData:x,_fnSplitObjNotation:y,_fnGetObjectDataFn:z,_fnSetObjectDataFn:A,_fnGetDataMaster:B,_fnClearTable:C,_fnDeleteIndex:D,_fnInvalidate:E,_fnGetRowElements:F,_fnCreateTr:G,_fnBuildHead:I,_fnDrawHead:J,_fnDraw:K,_fnReDraw:L,_fnAddOptionsHtml:M,_fnDetectHeader:N,_fnGetUniqueThs:O,_fnFeatureHtmlFilter:U,_fnFilterComplete:V,_fnFilterCustom:W,_fnFilterColumn:X,_fnFilter:Y,_fnFilterCreateSearch:Z,_fnEscapeRegex:mb,_fnFilterData:$,_fnFeatureHtmlInfo:ba,_fnUpdateInfo:ca,_fnInfoMacros:da,_fnInitialise:ea,_fnInitComplete:fa,_fnLengthChange:ga,_fnFeatureHtmlLength:ha,_fnFeatureHtmlPaginate:ia,_fnPageChange:ja,_fnFeatureHtmlProcessing:ka,_fnProcessingDisplay:la,_fnFeatureHtmlTable:ma,_fnScrollDraw:na,_fnApplyToChildren:oa,_fnCalculateColumnWidths:pa,_fnThrottle:qb,_fnConvertToWidth:qa,_fnGetWidestNode:ra,_fnGetMaxLenString:sa,_fnStringToCss:ta,_fnSortFlatten:ua,_fnSort:va,_fnSortAria:wa,_fnSortListener:xa,_fnSortAttachListener:ya,_fnSortingClasses:za,_fnSortData:Aa,_fnSaveState:Ba,_fnLoadState:Ca,_fnSettingsFromNode:Da,_fnLog:Ea,_fnMap:Fa,_fnBindAction:Ha,_fnCallbackReg:Ia,_fnCallbackFire:Ja,_fnLengthOverflow:Ka,_fnRenderer:La,_fnDataSource:Ma,_fnRowAttributes:H,_fnCalculateEnd:function(){}}),a.fn.dataTable=Ua,Ua.$=a,a.fn.dataTableSettings=Ua.settings,a.fn.dataTableExt=Ua.ext,a.fn.DataTable=function(b){return a(this).dataTable(b).api()},a.each(Ua,function(b,c){a.fn.DataTable[b]=c}),a.fn.dataTable}),function(a){"function"==typeof define&&define.amd?define(["jquery","datatables.net"],function(b){return a(b,window,document)}):"object"==typeof exports?module.exports=function(b,c){return b||(b=window),c&&c.fn.dataTable||(c=require("datatables.net")(b,c).$),a(c,b,b.document)}:a(jQuery,window,document)}(function(a,b,c,d){var e=a.fn.dataTable;return a.extend(!0,e.defaults,{dom:"<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",renderer:"bootstrap"}),a.extend(e.ext.classes,{sWrapper:"dataTables_wrapper dt-bootstrap4",sFilterInput:"form-control",sLengthSelect:"form-control",sProcessing:"dataTables_processing card",sPageButton:"paginate_button page-item"}),e.ext.renderer.pageButton.bootstrap=function(b,f,g,h,i,j){var k,l,m,n=new e.Api(b),o=b.oClasses,p=b.oLanguage.oPaginate,q=b.oLanguage.oAria.paginate||{},r=0,s=function(c,d){var e,f,h,m,t=function(b){b.preventDefault(),!a(b.currentTarget).hasClass("disabled")&&n.page()!=b.data.action&&n.page(b.data.action).draw("page")};for(e=0,f=d.length;e<f;e++)if(m=d[e],a.isArray(m))s(c,m);else{switch(l=k="",m){case"ellipsis":k="&#x2026;",l="disabled";break;case"first":k=p.sFirst,l=m+(0<i?"":" disabled");break;case"previous":k=p.sPrevious,l=m+(0<i?"":" disabled");break;case"next":k=p.sNext,l=m+(i<j-1?"":" disabled");break;case"last":k=p.sLast,l=m+(i<j-1?"":" disabled");break;default:k=m+1,l=i===m?"active":""}k&&(h=a("<li>",{class:o.sPageButton+" "+l,id:0===g&&"string"==typeof m?b.sTableId+"_"+m:null}).append(a("<a>",{href:"#","aria-controls":b.sTableId,"aria-label":q[m],"data-dt-idx":r,tabindex:b.iTabIndex,class:"page-link"}).html(k)).appendTo(c),b.oApi._fnBindAction(h,{action:m},t),r++)}};try{m=a(f).find(c.activeElement).data("dt-idx")}catch(a){}s(a(f).empty().html('<ul class="pagination"/>').children("ul"),h),m!==d&&a(f).find("[data-dt-idx="+m+"]").focus()},e});
</script>




<script>
  $(document).ready(function () {


      $('.dataTable').DataTable();

  });

</script>