{% extends "base.html" %}
{% load humanize %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Migration Certification</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Migration Certification</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link active show">List</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane show active " id="list">

                                    <div class="row clearfix">

                                        <div class="table-responsive">
                                            <table class="table table-hover  table_custom dataTable table_avatar w35 mb-0">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Number</th>
                                                    <th>Registration</th>
                                                    <th>Programme</th>
                                                    <th>Proof</th>
                                                    <th>Payment</th>
                                                    <th>Date</th>
                                                    <th>Action</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for migration in migration_requests %}
                                                    <tr>

                                                        <td><span class="list-name">{{ forloop.counter }}</span></td>
                                                        <td><span
                                                                class="list-name">{{ migration.student_id.admission }}</span>
                                                        </td>
                                                        <td><span
                                                                class="list-name">{{ migration.student_id.programme }}</span>
                                                        </td>
                                                        <td> {% if migration.documents %}

                                                            <a href="{{ migration.documents.url }}">
                                                                <button type="button" class="btn btn-outline-secondary">
                                                                    Document
                                                                </button>
                                                            </a>

                                                        {% else %}
                                                            ---
                                                        {% endif %}
                                                        </td>
                                                        <td> {% if migration.Fee.payment_proof %}

                                                            <a href="{{ migration.Fee.payment_proof.url }}">
                                                                <button type="button" class="btn btn-outline-secondary">
                                                                    Document
                                                                </button>
                                                            </a>

                                                        {% else %}
                                                            ---
                                                        {% endif %}
                                                        </td>
                                                        <td>{{ migration.created_date | naturalday }}</td>


                                                        <td>
                                                            {% if migration.status == 'Processing' %}
                                                                <a href="{% url 'pro_apr' migration.id %}" class="once_click">
                                                            <button type="button" class="btn btn-outline-success" ><i
                                                                    class="fa fa-check" aria-hidden="true"></i>
                                                                 Approve
                                                            </button></a>
                                                                <a href="{% url 'pro_rej' migration.id %}" class="once_click">
                                                            <button type="button" class="btn btn-outline-danger" ><i
                                                                    class="fa fa-times" aria-hidden="true"></i>
                                                                 Reject
                                                            </button></a>

                                                            {% elif migration.status == 'Approved' %}
                                                                <a href="{% url 'apr_iss' migration.id %}" class="once_click">
                                                            <button type="button" class="btn btn-outline-success" ><i
                                                                    class="fa  fa-check" aria-hidden="true"></i>
                                                                  Issue
                                                            </button>
                                                        </a>

                                                            {% elif migration.status == 'Rejected' %}
                                                                <span class="badge badge-danger">Rejected</span>

                                                            {% else %}

                                                                <span class="badge badge-success">Issued</span>

                                                            {% endif %}


                                                        </a>
                                                        </td>
                                                    </tr>


                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'migration_css_js.html' %}
{% endblock %}
