{% extends 'base.html' %}

{% block content %}
{% include 'sidebar.html' %}

 <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">

                        {% if request.user.Student.is_change_pwd %}

                        <h2><a href="{{request.META.HTTP_REFERER}}" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Change Password </h2>

                        <ul class="breadcrumb">
{#                            <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}"><i class="icon-home"></i></a></li>#}
                            <li class="breadcrumb-item active">Change Password</li>
                        </ul>

                        {% else %}


                            <h2 class="m-b-30">Change Password</h2>


                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12">
                    <div class="card planned_task p-t-10 p-b-10">
                        <div class="body">
                            <form  id="form" class="form-auth-small  col-sm-4 " action="" method="post">

                                {% csrf_token %}

                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {% if field.field.required %} <span class="required_sign">*</span> {% endif %}
                                        {{ field }}
                                        {{ field.errors }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}

                                <button type="submit" class="btn btn-primary btn-lg ">Change Password</button>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{%  endblock %}
