{% extends "base.html" %}
{% load humanize %}
{% load indian_currency_tags %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
    <div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                        class="fa fa-arrow-left"></i></a>Fees Statement</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'request_fee' %}"><i class="icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item active">Fee Request Form</li>
                </ul>
            </div>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}

                <script>
                    Notiflix.Notify.Success("{{ message }}");
                </script>

            {% else %}
                <script>
                    Notiflix.Notify.Failure("{{ message }}");
                </script>
            {% endif %}
        {% endfor %}

    {% endif %}
    <div class="row clearfix">


        <div class="col-lg-12 col-md-12">
            <div class="planned_task">
                <div class="header">
                    <ul class="nav nav-tabs-new2">


                        <li class="nav-item"><a data-toggle="tab" href="#list"
                                                class="nav-link {% if navshow == 'list' %} active show{% endif %}">List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% for fee in fees %}
        <div class="row clearfix">

            <div class="col-lg-12 col-md-12">
                <div class="card invoice1">
                    <div class="body">

                        <div class="invoice-mid clearfix">


                            <div class="info">
                                <h6><strong>Name: </strong>{{ student.full_name }}</h6>
                                <h6><strong>Admission No.: </strong>{{ student.admission }}</h6>
                                <h6><strong>Programme: </strong>{{ fee.programme }}</h6>
                                <h6><strong>Semester: </strong>{{ fee.semister }}</h6>
                                                                <h6><strong>Category: </strong>{{fee.category }}</h6>

                            </div>
                            <hr>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Description</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr> <td>Tuition</td><td> {% currency fee.tution %}</td></tr>
                                <tr> <td>Student Union</td><td> {% currency fee.student_Union %}</td></tr>
                                <tr> <td>Library Fees</td><td> {% currency fee.library_Fees %}</td></tr>
                                <tr> <td>Caution Money</td><td> {% currency fee.caution_Money %}</td></tr>
                                <tr> <td>Registration</td><td> {% currency fee.registration %}</td></tr>
                                <tr> <td>Laboratory</td><td> {% currency fee.laboratory %}</td></tr>
                                <tr> <td>Examination</td><td> {% currency fee.examination %}</td></tr>
                                <tr> <td>Activity</td><td> {% currency fee.activity %}</td></tr>
                                <tr> <td>Student ID</td><td> {% currency fee.student_id %}</td></tr>
                                <tr> <td>ICT charges</td><td> {% currency fee.ict_charges %}</td></tr>
                                <tr> <td>Others</td><td> {% currency fee.others %}</td></tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="row clearfix">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="m-b-0"><b>Sub-total:</b> 560.00</p>
                                <p class="m-b-0">Discout: 12.9%</p>
                                <p class="m-b-0">VAT: 12.9%</p>
                                <h3 class="m-b-0 m-t-10"><strong>Total: </strong>  {% currency fee.total_amount  %}</h3>
                            </div>
                            <div class="hidden-print col-md-12 text-right">
                                <hr>
                                <button class="btn btn-outline-secondary"><i class="icon-printer"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    {% empty %}
        No fees
    {% endfor %}



{% endblock content %}


{% block include_page %}
    {% include 'fee_request_css_js.html' %}
{% endblock %}