{% extends "base.html" %}

{% load my_filters %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Accomodation Request</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Accomodation Request</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Failure("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if activetab == 'list' %} active show {% endif %}">List</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#add"
                                                        class="nav-link {% if activetab == 'add' %} active show {% endif %}">Add</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %}" id="list">

                                    <div class="row clearfix">

                                        <div class="col-lg-12">
                                            <div class="card">
                                                <!-- <div class="header">
                                                    <h2>Table Tools<small>Basic example without any additional modification classes</small> </h2>
                                                </div> -->
                                                <div class="body">
                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>#</th>

                                                            <th>Room Preference</th>
                                                            <th>Sharing Preference</th>
                                                            <th>Hostel Preference</th>
                                                            <!--<th>Rigid</th>-->
                                                            <th>Status</th>

                                                            <th>Allocated Hostel</th>
                                                            <th>Allocated Room</th>
                                                            <th>Operations</th>
                                                        </tr>
                                                        </thead>


                                                        <tbody>
                                                        {% for acc in accRequests %}

                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ acc.room_pref }}</td>
                                                                <td>{{ acc.sharing_pref }}</td>
                                                                <td>{{ acc.hostel_ids|list_to_str }}</td>
                                                                <!--<td>
                                                                {% if acc.rigid %}
                                                                    Yes
                                                                {% else %}
                                                                    No
                                                                {% endif %}
                                                            </td>-->
                                                                <td>
                                                                    {% if acc.status == 0 %}
                                                                        <span class="badge badge-warning">Pending</span>
                                                                    {% elif acc.status == 1 %}
                                                                        <span class="badge badge-success">Accepted</span>
                                                                    {% elif acc.status == 2 %}
                                                                        <span class="badge badge-danger">Rejected</span>
                                                                    {% elif acc.status == 3 %}
                                                                        <span class="badge badge-success">Waiting for Fees Conformations</span>
                                                                    {% elif acc.status == 4 %}
                                                                        <span class="badge badge-danger">Rejected By User</span>
                                                                    {% elif acc.status == 5 %}
                                                                        <span class="badge badge-success">Approved</span>
                                                                    {% elif acc.status == 6 %}
                                                                        <span class="badge badge-danger">Fees Rejected</span>
                                                                    {% endif %}
                                                                </td>

                                                                <td> {{ acc.temp_room_id.hostel_id.name }}</td>
                                                                <td> {{ acc.temp_room_id.room_name }} </td>

                                                                <td>
                                                                    {% if acc.status == 1 %}
                                                                        <a data-id={{ acc.id }}
                                                                           href="#defaultModal" data-toggle="modal"
                                                                           data-target="#defaultModal"
                                                                           class="call_modal">
                                                                            <button type="button"
                                                                                    class="btn btn-outline-success">
                                                                                <i class="fa fa-info-circle"></i>
                                                                                <span>Confirm</span></button>
                                                                        </a>

                                                                        <a href="{% url "studentAccommodationRejectRequest" acc.id %}" >
                                                                            <button type="button"
                                                                                    class="btn btn-outline-danger   ">
                                                                                <i class="fa fa-info-circle"></i>
                                                                                <span>Reject</span></button>
                                                                        </a>

                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="tab-pane {% if activetab == 'add' %} active show {% endif %}" id="add">

                                    <div class="row clearfix">
                                        <div class="col-md-6 col-lg-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Accomodation Request </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data">

                                                {% csrf_token %}

                                                {% for field in form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block"
                                                        name="submit_request">Accomodation Request
                                                </button>

                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="defaultModalLabel">Pay Accommodation Fees</h4>
                </div>
                <div class="modal-body">
                    <form method="post" class="form-auth-small" id="pay_fess_form_id"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        {% for field in fee_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary" name="pay_fees">Pay</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary">SAVE CHANGES</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>

                </div> -->
            </div>
        </div>
    </div>


    <div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="defaultModalLabel">Reject Accomdation Request</h4>
                </div>
                <div class="modal-body">

                    <form method="post" class="form-auth-small" id="add_college_2" data-fees-url="{% url 'load_room' %}"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        {% for field in reject_accomodation_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}


                        <button type="submit" class="btn btn-primary" name="reject_request">Reject</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>

                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary">SAVE CHANGES</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>

                </div> -->
            </div>
        </div>
    </div>


{% endblock content %}


{% block include_page %}
    {% include 'accomodation_css_js1.html' %}
{% endblock %}
