{% extends "base.html" %}
{% block content %}
    {% include 'sidebar.html' %}


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Exam Timetable</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Exam Timetable</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Info("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">


                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if navshow == 'list' %} active show{% endif %}">Exam
                                    Timetable</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#Add_Exam_Timetable"
                                                        class="nav-link {% if navshow == 'add' %} active show{% endif %}">Add
                                    Exam Timetable</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">


                                <div class="tab-pane {% if navshow == 'list' %} active show {% endif %} " id="list">
                                    <div class="row clearfix" style="justify-content: right;"><a
                                            href="{% url 'clear_all_timetables' %}" class="button-remove1">
                                        <button type="button"
                                                class="btn btn-outline-danger"><i
                                                class="fa fa-trash"></i>
                                            <span>Delete All Timetables</span>
                                        </button>

                                    </a></div>
                                    <br>


                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="body">
                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Programme</th>

                                                            <th>Registration start date</th>
                                                            <th>Registration end date</th>
                                                            <th>Document</th>
                                                            <th>Update</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>

                                                        {% for exam_timtable in exam_timtable_list %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ exam_timtable.programme_id }}</td>

                                                                <td>{{ exam_timtable.registration_start_date }}</td>
                                                                <td>{{ exam_timtable.registration_end_date }}</td>
                                                                <td> {% if exam_timtable.pdf %}

                                                                    <a href="{{ exam_timtable.pdf.url }}"
                                                                       target="_blank">
                                                                        <button type="button"
                                                                                class="btn btn-outline-secondary">
                                                                            Document
                                                                        </button>
                                                                    </a>

                                                                {% else %}
                                                                    ---
                                                                {% endif %}</td>
                                                                <td>
                                                                    <a href="{% url 'updatetimetable' exam_timtable.id %}">
                                                                        <button type="button"
                                                                                class="btn btn-outline-warning"><i
                                                                                class="fa fa-edit"></i>
                                                                            <span>Update</span>
                                                                        </button>
                                                                    </a></td>
                                                                <td>
                                                                    <a href="{% url 'deleteexamtimetable' exam_timtable.id %}" class="button-remove1">
                                                                        <button type="button"
                                                                                class="btn btn-outline-danger"><i
                                                                                class="fa fa-trash"></i>
                                                                            <span>Delete</span>
                                                                        </button>
                                                                    </a></td>

                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane {% if navshow == 'add' %} active show {% endif %} "
                                     id="Add_Exam_Timetable">


                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Add Timetable </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data">

                                                {% csrf_token %}

                                                {% for field in form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Add
                                                    Timetable
                                                </button>

                                            </form>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock content %}




{% block include_page %}
    {% include 'exam_css_js.html' %}
    {% include 'exam.html' %}
{% endblock %}