{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Exam Timetable Update</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'exam_timetable_list' %}">Exam Timetables</a></li>
                            <li class="breadcrumb-item active"> Update</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#add" class="nav-link">Edit</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">

                                <div class="tab-pane show active" id="add">

                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            

                                            <form method="post" enctype="multipart/form-data" class="form-auth-small"
                                                  id="student_register">
                                                {% csrf_token %}
                                                {% for field in form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                                    Update
                                                </button>

                                            </form>


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'exam_css_js.html' %}
    {% include 'exam.html' %}
{% endblock %}