{% load static %}
<link rel="stylesheet" href="{% static 'css/parsley.css' %}">
<script src="{% static 'js/parsley.min.js' %}"></script>    

<script>
    $(function() {
        $('#add_college').parsley();
    });
</script>

<style>
.college_logo {
    height: 200px;
    object-fit: scale-down;
}
</style>