{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}
    
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Programme</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item active">Programme</li>
                    </ul>
                </div>            
            </div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-12 col-md-12">
                <div class="planned_task">
                    <div class="header">
                        <ul class="nav nav-tabs-new2">
                            <li class="nav-item"><a data-toggle="tab" href="#list" class="nav-link {% if activetab == 'list' %} active show {% endif %}">List</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#add" class="nav-link {% if activetab == 'add' %} active show {% endif %}">Add</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#assign" class="nav-link {% if activetab == 'assign' %} active show {% endif %}">Assign</a></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="tab-content">
                            <div class="tab-pane {% if activetab == 'list' %} active show {% endif %}" id="list">

                                <div class="row clearfix">

                                {% for programme in programme %}

                                    <div class="col-md-6 col-lg-4">

                                        <div class="card"> 
                                                               
                                            <div class="body">
                                                <h6 class="mb-4">{{programme.name}}</h6>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Duration:</label>
                                                        <span>{{programme.duration}}</span>
                                                    </li>
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Passing Percentage:</label>
                                                        <span>{{programme.passing_percentage}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                                    
                            
                                </div>
                            </div>

                            <div class="tab-pane {% if activetab == 'add' %} active show {% endif %}" id="add">
                                
                                <div class="row clearfix">
                                    <div class="col-md-6 col-lg-6 d-table m-auto card p-10">
                                        <h4 class="text-center m-t-10 m-b-10 text-info "> Add Programme </h4>
                                        <form method="post" class="form-auth-small" id="add_college"  enctype="multipart/form-data">

                                            {% csrf_token %}

                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    {{ field }}
                                                    {{ field.errors }}
                                                </div>
                                            {% endfor %}

                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Add Programme</button>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane {% if activetab == 'assign' %} active show {% endif %}" id="assign">
                                
                                <div class="row clearfix">
                                    <div class="col-md-6 col-lg-6 d-table m-auto card p-10">
                                        <h4 class="text-center m-t-10 m-b-10 text-info "> Assign Programme </h4>

                                        <form method="post" class="form-auth-small" id="add_college"  enctype="multipart/form-data">

                                            {% csrf_token %}

                                            {% for field in assignform %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    {{ field }}
                                                    {{ field.errors }}
                                                </div>
                                            {% endfor %}

                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Add Programme</button>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}


{% block include_page %}
    {% include 'programms_css_js.html' %}
{% endblock %}
