{% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/parsley.css' %}">
    <script src="{% static 'js/parsley.min.js' %}"></script>    

    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <script src="{% static 'js/sweetalert.min.js' %}"></script>    
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">

    <script src="{% static 'js/datatablescripts.bundle.js' %}"></script>
<script>
    $(function() {
        $('#add_college').parsley();
        
          
    $('.dataTable').DataTable();
        });

</script>
