{% extends "base.html" %}

{% load myfiltersbacklog %}
{% load humanize %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>backlog Request</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">backlog Request</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Failure("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if activetab == 'list' %} active show {% endif %}">List</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#add"
                                                        class="nav-link {% if activetab == 'add' %} active show {% endif %}">Add</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %}" id="list">

                                    <div class="row clearfix">


                                        <div class="col-lg-12">
                                            <div class="card">
                                                <!-- <div class="header">
                                                    <h2>Table Tools<small>Basic example without any additional modification classes</small> </h2>
                                                </div> -->
                                                <div class="body">
                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>#</th>
                                                    <th>Receipt Number</th>

                                                    
                                                    <th>Payment mode</th>
                                                    <th>Date</th>
                                                    
                                                    <th>Amount Approved</th>
                                                    <th>course</th>
                                                    <th>Proof</th>
                                                    <th>Status</th>
                                                        </tr>
                                                        </thead>

 
                                                        <tbody>
                                                        {% for backlogdata in data %}



                                                            <tr>
                                                            <td><span class="list-name">{{ forloop.counter }}</span></td>
                                                                <td> {{ backlogdata.receipt_no }}</td>

                                                        
                                                        <td><span
                                                                class="list-name">{{ backlogdata.payment_mode }}</span>
                                                        </td>
                                                        <td>{{ backlogdata.payment_date }}</td>
                                                        <td>{{  backlogdata.amount }}</td>
                                                        <td>{{ backlogdata.courseid |list_to_str1 }}</td>
                                                        
                                                        
                                                        <td>
                                                            {% if backlogdata.payment_proof  %}
                                                                <a href="{{ backlogdata.payment_proof.url }}" target="_blank">
                                                                <button type="button" class="btn btn-outline-secondary">
                                                                    Document
                                                                </button>
                                                            </a>
                                                            {% else %}
                                                                ---
                                                            {% endif %}

                                                        </td>
                                                        <td>
                                                            {% if backlogdata.approved == 0 %}
                                                                <span class="badge badge-warning">Pending</span>
                                                            {% elif backlogdata.approved == 1 %}
                                                                <span class="badge badge-success">Accepted</span>
                                                            {% else %}
                                                                <span class="badge badge-danger">Rejected</span>
                                                            {% endif %}


                                                            {#                                                            <span#}
                                                            {#                                                                class="badge badge-primary">{{ Fee_Request.approved }}</span>#}
                                                        </td>
                                                            </tr>
                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="tab-pane {% if activetab == 'add' %} active show {% endif %}" id="add">

                                    <div class="row clearfix">
                                        <div class="col-md-6 col-lg-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> backlog Request </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data">

                                                {% csrf_token %}
 
                                                

                                                {% for field in form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}




                                                <button type="submit" class="btn btn-primary btn-lg btn-block"
                                                        name="submit_request">backlog Request
                                                </button>

                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}


{% block include_page %}
    {% include 'backlog_css_js.html' %}
{% endblock %}
