ul.errorlist {
    padding-left: 10px;
}

ul.errorlist li {
    color: #de4848;
    font-size: 0.9em;
    margin-top: 3px;
    list-style-type: none;
}

body .form-control {
    margin-bottom: 5px;
}

div#left-sidebar{
    background: #17a2b8;
    color: #fff;
}

.sidebar-nav .metismenu a:hover, .sidebar-nav .metismenu a:focus, .sidebar-nav .metismenu a:active {
    text-decoration: none;
    background: #f1f1f1;
    color: #17a2b8;
    font-weight: bold;
}

.sidebar-nav .metismenu a:active{
    font-weight: bold;
}
.sidebar-nav .metismenu>li a {
    color: #f1f1f1;
}

.theme-blue .sidebar-nav .metismenu>li i {
    color: #ffffff;
}

.sidebar-nav .metismenu a:hover i, .sidebar-nav .metismenu a:focus i, .sidebar-nav .metismenu a:active i {
    color: #17a2b8;
}

.sidebar-nav .metismenu .has-arrow::after {
    color: #f1f1f1;
}

.sidebar-nav .metismenu a:hover::after,  .sidebar-nav .metismenu a:focus::after, .sidebar-nav .metismenu a:active::after{
    color: #17a2b8;
}

.theme-blue:before, .theme-blue:after, .theme-blue #wrapper:before, .theme-blue #wrapper:after {
    background: #17a2b8;
}