{% extends "base.html" %}
{% load static %}

{% block content %}

		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">
                    <div class="top">
                                                <img src="{% static 'images/SoluSoft Logo.png' %}" style="width: 254px;" alt="Lucid">

                    </div>
					<div class="card">
                        <div class="header">
                            <p class="lead">Create an account</p>
                        </div>
                        <div class="body">

                        <form method="post" class="form-auth-small" id="university_register">
                            {% csrf_token %}
                            
                                {% for field in form %}
                                
                                <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {{ field.errors }}
                                </div>

                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-lg btn-block">SIGN UP</button>
                            <br>
                                                          <center><span>Already having an account? <a href="{% url 'login' %}">Login</a></span></center>

                            
                        </form>
                         
                        </div>
                    </div>
				</div>
			</div>
		</div>

{% endblock content %}

{% block include_page %}
    {% include 'css_js/forms_validations.html' %}
{% endblock %}