{% load static %}
<link rel="stylesheet" href="{% static 'css/parsley.css' %}">
<script src="{% static 'js/parsley.min.js' %}"></script>    

<script>
    $(function() {
        $('#university_login').parsley();
    });
</script>