{% extends "base.html" %}
{% load static %}

{% block content %}

		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">
                    <div class="top">
                        <img src="{% static 'images/SoluSoft Logo.png' %}" style="width: 254px;" alt="Lucid">
                    </div>
					<div class="card">
                        <div class="header">
                            <p class="lead">Login to your account</p>
                        </div>
                        <div class="body">
                        {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Failure("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                        <form method="post" class="form-auth-small" id="university_login">
                            {% csrf_token %}

                            {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                
                            <div class="bottom">
                                <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="{% url 'password_reset' %}">Forgot password?</a></span>
                                <span>Don't have an account? <a href="{% url 'uni_register' %}">Register</a></span>
                            </div>
                            
                        </form>

                         
                        </div>
                    </div>
				</div>
			</div>
		</div>

{% endblock content %}

{% block include_page %}
    {% include 'app_css_js.html' %}
{% endblock %}