{% load static %}
<link rel="stylesheet" href="{% static 'css/parsley.css' %}">
<script src="{% static 'js/parsley.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
<script src="{% static 'js/sweetalert.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<script src="{% static 'js/datatablescripts.bundle.js' %}"></script>

<script src="{% static 'js/jquery.multi-select.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/multi-select.css' %}">


<script>


    $.fn.callAjax = function () {
        //alert('You have successfully defined the function!');

        var url = '/accomodation/get_hostel_ids'
        var room_type = $('#id_room_pref').val();
        var sharing_pref = $('#id_sharing_pref').val();

        $.ajax({
            url: url,
            data: {
                'room_type': room_type,
                'sharing_pref': sharing_pref
            },
            success: function (data) {
                console.log(data);
                $('#id_hostels').empty().multiSelect('refresh');
                $.each(data, function (index, value) {
                    $('#id_hostels').multiSelect('addOption', {value: value, text: value, index: index});
                });
            }
        });
    }


    $.fn.callRoomAjax = function () {
        //alert('You have successfully defined the function!');
        // console.log("hello")

        var url = '/accomodation/load_room'
        var hostel_name = $('#id_hostel1').val();
        ;
        var room_pref = $('#id_room_prefrence').val();
        var sharing_pref = $('#id_sharing_prefrence').val();

        console.log(hostel_name)
        console.log(room_pref)

        $.ajax({
            url: url,
            data: {
                'hostel_name': hostel_name,
                'room_type': room_pref,
                'sharing_pref': sharing_pref
            },
            success: function (data) {
                console.log(data);
                $('#id_rooms').html(data);
            }
        });
    }


    $(document).ready(function () {

        $('label[for=id_accomdation_id], input#id_accomdation_id').hide();
        $('label[for=id_student_id], input#id_student_id').hide();
        $('label[for=acc_id], input#acc_id').hide();
        $('label[for=acc_id1], input#acc_id1').hide();

        $('#id_hostels').html("");
        $('#id_hostels').multiSelect({selectableOptgroup: true, keepOrder: true});


        $('.dataTable').DataTable();

        $("#id_rooms").html('');

        $("#id_room_pref").change(function (e) {
            $.fn.callAjax();
        });

        $("#id_sharing_pref").change(function (e) {
            $.fn.callAjax();
        });


        $("#id_hostel1").change(function (e) {
            console.log("hello")

            $.fn.callRoomAjax();
        });


        $(document).on('click', '.call_modal', function () {
            $('#id_accomdation_id').val($(this).data('id'));
            $('#id_student_id').val($(this).data('id2'));
            $('#id_hostel_prefrence').val($(this).data('hostel_prefrence'));

            //console.log($('#id_hostel_prefrence').val());

            $('#id_hostel1').empty()

            var hostel_pref = $('#id_hostel_prefrence').val();

            if (hostel_pref.split(',').length > 0) {
                $(hostel_pref.split(",")).each(function (index, value) {
                    console.log(index + value.trim());
                    $('#id_hostel1').append("<option value='" + value.trim() + "'>" + value.trim() + "</option>");
                });
            } else {
                $('#id_hostel1').append("<option value='" + hostel_pref.trim() + "'>" + hostel_pref.trim() + "</option>");
            }

            $('#id_room_prefrence').val($(this).data('room_prefrence'));
            $('#id_sharing_prefrence').val($(this).data('sharing_prefrence'));

            $.fn.callRoomAjax();
        });

        $(document).on('click', '.call_modal1', function () {
            $('#acc_id').val($(this).data('id'));
        });

        $(document).on('click', '.call_modal2', function () {
            $('#acc_id1').val($(this).data('id'));
            $('#id_amount').val($(this).data('amount'));
        });
    });


    $(function () {

        $('#add_college').parsley();
        $.fn.callAjax();

        $(document).on("click", ".button-remove", function (e) {
            var currentobject = $(this).attr('href');
            e.preventDefault();
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            }, function () {
                console.log(currentobject);
                window.location.href = currentobject;
            });
        });
    });

</script>

<style>
    .college_logo {
        height: 200px;
        object-fit: scale-down;
    }
</style>