{% extends "base.html" %}

{% load my_filters %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Accomodation Request</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Accomodation Request</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Failure("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link active show">Pending Request</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#approved_request" class="nav-link">Payment
                                    Approval Requests</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#view_all" class="nav-link">All
                                    Requests</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#remaining" class="nav-link">Vacant
                                    Rooms</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="list">

                                    <div class="row clearfix">

                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="body">

                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">

                                                        <tr>
                                                            <th>#</th>
                                                            <th>Admission</th>
                                                            <th>Hostels</th>
                                                            <th>Sharing Preference</th>
                                                            <th>Assign</th>
                                                            <th>Reject</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for acc in pending_accomodation %}

                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ acc.student_id }}</td>
                                                                <td>{{ acc.hostel_ids|list_to_str }}</td>

                                                                <td>{{ acc.sharing_pref }}</td>

                                                                <td>
                                                                    <a data-id={{ acc.id }} data-id2={{ acc.student_id_id }}
                                                                       data-hostel_prefrence="{{ acc.hostel_ids|list_to_str }}"
                                                                       data-sharing_prefrence="{{ acc.sharing_pref }}"
                                                                       data-room_prefrence="{{ acc.room_pref }}"
                                                                       href="#defaultModal" data-toggle="modal"
                                                                       data-target="#defaultModal"
                                                                       class="call_modal">
                                                                        <button type="button"
                                                                                class="btn btn-outline-info">
                                                                            <i class="fa fa-info-circle"></i>
                                                                            <span>Assign</span></button>
                                                                    </a></td>
                                                                <td><a data-id={{ acc.id }} href="#defaultModal1"
                                                                       data-toggle="modal"
                                                                       data-target="#defaultModal1"
                                                                       class="call_modal1">
                                                                    <button type="button"
                                                                            class="btn btn-outline-warning"><i
                                                                            class="fa fa-edit"></i> <span>Reject</span>
                                                                    </button>
                                                                </a></td>


                                                            </tr>


                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="tab-pane" id="approved_request">

                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <!-- <div class="header">
                                                    <h2>Table Tools<small>Basic example without any additional modification classes</small> </h2>
                                                </div> -->
                                                <div class="body">
                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Admission</th>
                                                            <th>Name</th>

                                                            <th>Room Preference</th>
                                                            <th>Sharing Preference</th>
                                                            <th>Allocated Hostel</th>
                                                            <th>Allocated Room</th>
                                                            <th>Fee Paid</th>
                                                            <th>Proof</th>
                                                            <th>Update Status</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        {% for acc in payment_approval_request_data %}

                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ acc.student_id.admission }}</td>
                                                                <td>{{ acc.student_id }}</td>
                                                                <td>{{ acc.room_pref }}</td>
                                                                <td>{{ acc.sharing_pref }}</td>
                                                                <td> {{ acc.temp_room_id.hostel_id.name }}</td>
                                                                <td> {{ acc.temp_room_id.room_name }} </td>

                                                                <td>{{ acc.fee.amount }}</td>
                                                                <td>
                                                                    {% if acc.fee.payment_proof %}
                                                                        <a href="{{ acc.fee.payment_proof.url }}">
                                                                            <button type="button"
                                                                                    class="btn btn-outline-secondary">
                                                                                Document
                                                                            </button>
                                                                        </a>
                                                                    {% else %}
                                                                        ---
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a data-id={{ acc.id }} data-amount={{ acc.fee.amount }}
                                                                       href="#defaultModal2" data-toggle="modal"
                                                                       data-target="#defaultModal2"
                                                                       class="call_modal2">
                                                                        <button type="button"
                                                                                class="btn btn-outline-info">
                                                                            <i class="fa fa-info-circle"></i>
                                                                            <span>Update</span></button>
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane" id="view_all">

                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <!-- <div class="header">
                                                    <h2>Table Tools<small>Basic example without any additional modification classes</small> </h2>
                                                </div> -->
                                                <div class="body">
                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Admission</th>
                                                            <th>Name</th>

                                                            <th>Room Preference</th>
                                                            <th>Sharing Preference</th>
                                                            <th>Hostel Preference</th>
                                                            <!--<th>Rigid</th>-->
                                                            <th>Status</th>
                                                            <th>Allocated Hostel</th>
                                                            <th>Allocated Room</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        {% for acc in accomodation %}

                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ acc.student_id.admission }}</td>
                                                                <td>{{ acc.student_id }}</td>
                                                                <td>{{ acc.room_pref }}</td>
                                                                <td>{{ acc.sharing_pref }}</td>
                                                                <td>{{ acc.hostel_ids|list_to_str }}</td>

                                                                <td>
                                                                    {% if acc.status == 0 %}
                                                                        <span class="badge badge-warning">Pending</span>
                                                                    {% elif acc.status == 1 %}
                                                                        <span class="badge badge-success">Accepted</span>
                                                                    {% elif acc.status == 2 %}
                                                                        <span class="badge badge-danger">Rejected</span>
                                                                    {% elif acc.status == 3 %}
                                                                        <span class="badge badge-success">Waiting for Fees Conformations</span>
                                                                    {% elif acc.status == 4 %}
                                                                        <span class="badge badge-danger">Rejected By User</span>
                                                                    {% elif acc.status == 5 %}
                                                                        <span class="badge badge-success">Approved</span>
                                                                    {% elif acc.status == 6 %}
                                                                        <span class="badge badge-danger">Fees Rejected</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td> {{ acc.temp_room_id.hostel_id.name }}</td>
                                                                <td> {{ acc.temp_room_id.room_name }} </td>

                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane " id="remaining">

                                    <div class="row clearfix">

                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="body">

                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">

                                                        <tr>
                                                            <th>#</th>
                                                            <th>Hostel</th>
                                                            <th>Room</th>
                                                            <th>Capacity</th>
                                                            <th>Vacancy</th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for room in empty_rooms %}

                                                            <tr>

                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ room.hostel_id }}</td>
                                                                <td>{{ room.room_name }}</td>

                                                                <td>{{ room.capacity }}</td>
                                                                <td>{{ room.remaining_capacity }}</td>


                                                            </tr>


                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="defaultModalLabel">Assign Hostel-Room</h4>
                </div>
                <div class="modal-body">
                    <form method="post" class="form-auth-small" id="add_college_2" data-fees-url="{% url 'load_room' %}"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        {% for field in assign_hostel_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary" name="assign_request">Assign</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>

                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary">SAVE CHANGES</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>

                </div> -->
            </div>
        </div>
    </div>


    <div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="defaultModalLabel2">Reject Accomdation Request</h4>
                </div>
                <div class="modal-body">

                    <form method="post" class="form-auth-small" id="add_college_2" data-fees-url="{% url 'load_room' %}"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        {% for field in reject_accomodation_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}


                        <button type="submit" class="btn btn-primary" name="reject_request">Reject</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>

                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary">SAVE CHANGES</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>

                </div> -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="defaultModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="defaultModalLabel1">Update Payment Accomdation Request</h4>
                </div>
                <div class="modal-body">

                    <form method="post" class="form-auth-small" id="add_college_3" data-fees-url="{% url 'load_room' %}"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        {% for field in accomodation_feesupdate_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary" name="accept_payment_request">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block include_page %}
    {% include 'accomodation_css_js.html' %}
{% endblock %}
