{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Faculty Registration</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Faculty Details</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#Personal"
                                                        class="nav-link {% if activetab == 'Personal' %} active show {% endif %}">Personal</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#Courses"
                                                        class="nav-link {% if activetab == 'Courses' %} active show {% endif %}">Courses</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if activetab == 'Personal' %} active show {% endif %}"
                                     id="Personal">

                                    <div class="row clearfix">

                                        {% for faculty in faculties %}



                                            <div class="col-lg-4 col-md-12">
                                                <div class="card profile-header">
                                                    <div class="body text-center">
                                                        <div class="profile-image mb-3 text-center"><img
                                                                class="img-fluid rounded"
                                                                src="{{ faculty.photo.url }}" alt=""
                                                                style="height: 200px;width: 200px"></div>
                                                        <div>
                                                            <h4 class="m-b-0">
                                                                <strong>{{ faculty.salutation }}</strong> {{ faculty.first_name }}
                                                                {{ faculty.last_name }} </h4>
                                                            <span class="job_post">{{ faculty.college_id }} </span>
                                                            <ul class="list-unstyled">
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Contact :</label>
                                                                <span>{{ faculty.phone }}</span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Email :</label>
                                                                <span>{{ faculty.email }}</span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Qualification
                                                                    :</label>
                                                                <span>{{ faculty.highest_qualification }}</span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Experience (In
                                                                    Years):</label>
                                                                <span>{{ faculty.years_of_experience }}</span>
                                                            </li>
                                                                </ul>

                                                        </div>
                                                        <div>
                                                        </div>
                                                        <p class="social-icon m-t-5 m-b-0">
                                                            <!--                                <a title="Twitter" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>-->
                                                            <!--                                <a title="Facebook" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>-->
                                                            <!--                                <a title="Google-plus" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>-->
                                                            <!--                                <a title="Behance" href="javascript:void(0);"><i class="fa fa-behance"></i></a>-->
                                                            <!--                                <a title="Instagram" href="javascript:void(0);"><i class="fa fa-instagram "></i></a>-->
                                                        </p>
                                                    </div>
                                                </div>


                                            </div>

                                        {% endfor %}


                                    </div>
                                </div>

                                <div class="tab-pane {% if activetab == 'Courses' %} active show {% endif %}"
                                     id="Courses">
                                    <div class="row clearfix">

                                        {% for course in courses %}

                                            <div class="col-md-6 col-lg-4">

                                                <div class="card">
                                                    <div class="body">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Code :</label>
                                                                <span>{{ course.code }}</span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Type :</label>
                                                                <span>{{ course.course_type }}</span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Maximum marks
                                                                    :</label>
                                                                <span>{{ course.max_marks }}</span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Course
                                                                    Details:</label>
                                                                <a href="{{ course.course_details.url }}"> Click
                                                                    here </a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'faculty_css_js.html' %}

{% endblock %}
