{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Faculty Registration</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Faculty Registration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags %}
                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if activetab == 'list' %} active show {% endif %}">List</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#assign"
                                                        class="nav-link {% if activetab == 'assign' %} active show {% endif %}">Assign</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %}" id="list">

                                    <div class="row clearfix">


                                        {% for faculty in faculties %}



                                            <div class="col-md-6 col-lg-4">


                                                <div class="card">
                                                    <div class="header">
                                                        <ul class="header-dropdown">
                                                            <li class="dropdown">
                                                                <a href="javascript:void(0);" class="dropdown-toggle"
                                                                   data-toggle="dropdown" role="button"
                                                                   aria-haspopup="true" aria-expanded="false"></a>
                                                                <ul class="dropdown-menu dropdown-menu-right">
                                                                    <li>
                                                                        <a href="{% url 'display_faculty_details' faculty.data.id %}">View
                                                                            Details</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="body">
                                                        <img src="{{ faculty.data.photo.url }}" height="100px"
                                                             width="100px"/>
                                                        <ul class="list-unstyled m-t-10">
                                                            <li>
                                                                <span style="font-size:20px;"><b>{{ faculty.data.first_name }} {{ faculty.data.last_name }}</b></span>
                                                            </li>
                                                            <li>
                                                                <label class="m-b-10 font-weight-500">Currently teaching
                                                                    :</label>
                                                                <span>{{ faculty.course_count }} Course(s)</span>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}


                                    </div>
                                </div>

                                <div class="tab-pane {% if activetab == 'assign' %} active show {% endif %}"
                                     id="assign">
                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Faculty Assign </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data">

                                                {% csrf_token %}

                                                {% for field in form %}
                                                    <div class="form-group" id="{{ field.id_for_label }}">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit
                                                </button>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'faculty_css_js.html' %}

{% endblock %}
