{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Faculty Registration</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Faculty Registration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'success' %}

                                                <script>
                                                    Notiflix.Notify.Success("{{ message }}");
                                                </script>

                                            {% else  %}
                                                <script>
                                                    Notiflix.Notify.Failure("{{ message }}");
                                                </script>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if activetab == 'list' %} active show {% endif %}">List</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#add"
                                                        class="nav-link {% if activetab == 'add' %} active show {% endif %}">Add</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %}" id="list">


                                    <div class="row clearfix">
                                        {% for faculty in faculties %}
                                            <div class="col-lg-3 col-md-6 col-sm-12">
                                                <div class="card member-card">
                                                    <div class="body">
                                                        <div class="member-thumb">
                                                            <img src="{{ faculty.photo.url }}" class="img-fluid rounded"
                                                                 alt="profile-image"
                                                                 style="width: 200px; height: 200px">
                                                        </div>
                                                        <div class="detail">
                                                            <p><h4 class="m-b-0">{{ faculty.salutation }} {{ faculty.first_name }} {{ faculty.last_name }}</h4></p>
                                                            <p class="text-muted">{{ faculty.department }}</p>

                                                            <p><a href="{% url 'viewperfaculty' faculty.id %}">
                                                                <button id="delB" type="button"
                                                                        class="btn btn-outline-info">
                                                                    <i class="fa fa-info-circle"></i>
                                                                    <span>View</span></button>
                                                            </a></p>
                                                            <p>
                                                                <a href="{% url 'faculty_delete_view' faculty.id %}"  class="remove_button">
                                                                <button type="button" class="btn btn-outline-danger">
                                                                    <i class="fa fa-trash"></i>
                                                                    <span>Delete</span></button>
                                                            </a></p>



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}

                                    </div>
                                </div>

                                <div class="tab-pane {% if activetab == 'add' %} active show {% endif %}" id="add">
                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Faculty Registration </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data">

                                                {% csrf_token %}

                                                {% for field in form %}
                                                    <div class="form-group" id="{{ field.id_for_label }}">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit
                                                </button>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>



{% endblock content %}


{% block include_page %}
    {% include 'faculty_css_js.html' %}

{% endblock %}
