{% extends "base.html" %}

{% block content %}

{% include 'sidebar.html' %}

<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                            class="fa fa-arrow-left"></i></a> Lecturers</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active"><a
                                href="{% url 'faculty_registration' %}"><i></i>Lecturers</a>
                        </li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card profile-header">
                    <div class="body text-center">
                        <div class="profile-image mb-3 text-center"><img class="img-fluid rounded"
                                                                         src="{{ lecturer.photo.url }}" alt=""
                                                                         style="height: 200px;width: 200px"></div>
                        <div>
                            <h4 class="m-b-0"><strong>{{lecturer.salutation}}</strong> {{lecturer.first_name}}
                                {{lecturer.last_name}} </h4>
                            <span class="job_post">{{lecturer.college_id}} </span>
                        </div>
                        <div>
                        </div>
                        <p class="social-icon m-t-5 m-b-0">
                            <!--                                <a title="Twitter" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>-->
                            <!--                                <a title="Facebook" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>-->
                            <!--                                <a title="Google-plus" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>-->
                            <!--                                <a title="Behance" href="javascript:void(0);"><i class="fa fa-behance"></i></a>-->
                            <!--                                <a title="Instagram" href="javascript:void(0);"><i class="fa fa-instagram "></i></a>-->
                        </p>
                    </div>
                </div>


            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="body">
                        <ul class="nav nav-tabs-new2 mb-3">
                            <li class="nav-item"><a class="nav-link active show" data-toggle="tab"
                                                    href="#about">About</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Account">Account</a></li>
                        </ul>
                        <div class="tab-content padding-0">
                            <div class="tab-pane active show" id="about">
                                <ul class="list-unstyled">
                                    <li><p><i class="fa fa-graduation-cap m-r-5"></i><strong>Degree:</strong>
                                        {{lecturer.highest_qualification}}</p></li>
                                    <li><p><i class="fa fa-star m-r-5"></i><strong>Experience:</strong>{{lecturer.years_of_experience}}
                                        </p></li>
                                    <li><p><i class="fa fa-heart m-r-5"></i><strong>Email:</strong> {{lecturer.email}}
                                    </p></li>
                                    <li><p><i class="fa fa-tag m-r-5"></i><strong>Resume:</strong>


                                    {% if lecturer.resume_doc  %}
                                                                <a href="{{ lecturer.resume_doc.url }}" target="_blank">
                                                                <button type="button" class="btn btn-outline-secondary">
                                                                    Document
                                                                </button>
                                                            </a>
                                                            {% else %}
                                                                ---
                                                            {% endif %}


                                    </li>
                                </ul>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in finibus neque.
                                    Vivamus in ipsum quis elit vehicula tempus vitae quis lacus. Vestibulum interdum
                                    diam non mi cursus venenatis. Morbi lacinia libero et elementum vulputate. Vivamus
                                    et facilisis mauris. Maecenas nec massa auctor, ultricies massa eu, tristique erat.
                                    Vivamus in ipsum quis elit vehicula tempus vitae quis lacus. Eu pellentesque,
                                    accumsan tellus leo, ultrices mi dui lectus sem nulla eu.Eu pellentesque, accumsan
                                    tellus leo, ultrices mi dui</p>
                                <p>lectus sem nulla eu. Maecenas arcu, nec ridiculus quisque orci, vulputate mattis
                                    risus erat. lectus sem nulla eu.Eu pellentesque, accumsan tellus leo, ultrices mi
                                    dui lectus sem nulla eu. Maecenas arcu, nec ridiculus quisque orci, vulputate mattis
                                    risus erat.</p>
                            </div>
                            <div class="tab-pane" id="Account">
                                <div class="row clearfix">
                                    <div class="col-md-6 d-table m-auto card p-10">
                                        <h4 class="text-center m-t-10 m-b-10 text-info "> Update </h4>

                                        <form method="post" enctype="multipart/form-data" class="form-auth-small"
                                              id="student_register">
                                            {% csrf_token %}
                                            {% for field in form %}
                                            <div class="form-group">
                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                {{ field }}
                                                {{ field.errors }}
                                            </div>
                                            {% endfor %}

                                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                                Update
                                            </button>

                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock content %}


{% block include_page %}
{% include 'college_css_js.html' %}
{% endblock %}
