{% extends "base.html" %}
{% load humanize %}
{% load indian_currency_tags %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Fees Approved</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Fees Approved</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Failure("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">


                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if activetab == 'list' %} active show{% endif %}">Fee
                                    Requests</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#remaining_fee"
                                                        class="nav-link {% if activetab == 'remaining_fee' %} active show{% endif %}">Balances</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %} " id="list">

                                    <div class="row clearfix">

                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="body">

                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">

                                                        <tr>
                                                            <th>#</th>
                                                            <th>Admission</th>
                                                            <th>Name</th>
                                                            <th>Declared Semester</th>
                                                            <th>Requested Amount</th>
                                                            <th>Receipt Number</th>
                                                            <th>Date</th>
                                                            <th>Proof</th>
                                                            <th>Edit</th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for Fee_Requests in Fee_Request %}

                                                            <tr>

                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ Fee_Requests.student.admission }}</td>
                                                                <td>{{ Fee_Requests.student.full_name }}</td>
                                                                <td>{{ Fee_Requests.declare_semester }}</td>
                                                                <td>{{ Fee_Requests.requested_amount }}</td>

                                                                <td>{{ Fee_Requests.receipt_no }}</td>
                                                                <td>{{ Fee_Requests.payment_date | naturalday }}</td>
                                                                <td>{% if Fee_Requests.payment_proof %}
                                                                    <a href="{{ Fee_Requests.payment_proof.url }}" target="_blank">
                                                                        <button type="button"
                                                                                class="btn btn-outline-secondary">
                                                                            Document
                                                                        </button>
                                                                    </a>

                                                                {% else %}
                                                                    ---

                                                                {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a href="{% url 'Fee_approved_id' Fee_Requests.id %}">
                                                                        <button type="button"
                                                                                class="btn btn-outline-warning"><i
                                                                                class="fa fa-edit"></i>
                                                                            <span>Update</span>
                                                                        </button>
                                                                    </a>
                                                                    <!-- <a data-target="#createFormId"
                                                                       data-toggle="modal"
                                                                       data-id="{{ Fee_Requests.id }}"
                                                                       data-category="{{ Fee_Requests.category }}"
                                                                       href="#">
                                                                        <button type="button"
                                                                                class="btn btn-outline-info"
                                                                                data-toggle="modal"
                                                                                data-id="{{ Fee_Requests.id }}"
                                                                                data-category="{{ Fee_Requests.category }}"
                                                                        >
                                                                            <i class="fa fa-info-circle"></i>
                                                                            <span>Edit</span></button>
                                                                    </a> -->
                                                                </td>


                                                            </tr>


                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane {% if activetab == 'remaining_fee' %} active show {% endif %} "
                                     id="remaining_fee">


                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">

                                                <!-- <div class="header">
                                                    <h2>Table Tools<small>Basic example without any additional modification classes</small> </h2>
                                                </div> -->
                                                <div class="body">
                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Student</th>
                                                            <th>Name</th>
                                                            <th>Programme</th>
                                                            <th>Semester</th>
                                                            <th>Balance</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>

                                                        {% for data in remain_fee %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ data.student__admission }}</td>
                                                                <td>{{ data.student__firstName }} {{ data.student__lastName }}</td>
                                                                <td>{{ data.student__programme__name }}</td>
                                                                <td>{{ data.student__current_sem__name }}</td>

                                                                <td>
                                                                     {% currency  data.remaining_amount  %}
                                                                </td>
                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="modal fade" id="createFormId">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <center><h3>Approved Form</h3></center>
                                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            </div>
                                            <div class="modal-body">


                                                <form method="post" class="form-auth-small" id="add_college"
                                                      enctype="multipart/form-data">

                                                    {% csrf_token %}

                                                    {{ form.as_p }}

                                                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                                                        Submit
                                                    </button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock content %}


{% block include_page %}
    {% include 'course_css_js.html' %}
    {% include 'fee_tr.html' %}
{% endblock %}


