{% extends "base.html" %}

{% load indian_currency_tags %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Fees Statement</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'fee_structure' %}"><i
                                    class="icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Fee Statement</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags %}
                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"  class="nav-link {% if activetab == 'list' %} active show {% endif %}">List</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#add" class="nav-link {% if activetab == 'add' %} active show {% endif %}">Add</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#viewspecial" class="nav-link {% if activetab == 'view_special' %} active show {% endif %}">List Special Fees</a></li>
                                <li class="nav-item "><a data-toggle="tab" href="#addspecial" class="nav-link {% if activetab == 'add_special' %} active show {% endif %}">Add Special Fees</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %}" id="list">

                                    <div class="row clearfix">

                                        <div class="table-responsive">
                                            <table class="table table-hover table_custom dataTable table_avatar w35 mb-0">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Programme</th>
                                                    <th>Category</th>
                                                    <th>Nationality</th>
                                                    <th>Semester</th>
                                                    <th>Total Fees</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for fee in fees %}

                                                    <tr>
                                                        <td><span class="list-name">{{ forloop.counter }}</span></td>
                                                        <td><span class="list-name">{{ fee.programme }}</span></td>

                                                        <td>{{ fee.category }}</td>
                                                        <td>{{ fee.country }}</td>
                                                        <td>{{ fee.semister }}</td>
                                                        <td> {% currency fee.total_amount %} </td>
                                                        <td><a href="{% url 'fee_statement_update_view' fee.id %}">
                                                            <button type="button" class="btn btn-outline-warning"><i
                                                                    class="fa fa-edit"></i> <span>Update</span></button>
                                                        </a></td>
                                                        <td><a href="{% url 'fee_statement_delete_view' fee.id %}" class="remove_button">
                                                            <button type="button" class="btn btn-outline-danger"><i
                                                                    class="fa fa-trash"></i> <span>Delete</span>
                                                            </button>
                                                        </a></td>

                                                    </tr>


                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>

                                <div class="tab-pane {% if activetab == 'add' %} active show {% endif %}" id="add">

                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Add Fee Statement </h4>

                                            <form method="post" enctype="multipart/form-data" class="form-auth-small"
                                                  id="student_register">
                                                {% csrf_token %}
                                                {% for field in form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block"
                                                        name="normal_fees">
                                                    Add
                                                </button>

                                            </form>


                                        </div>
                                    </div>


                                </div>

                                <div class="tab-pane {% if activetab == 'view_special' %} active show {% endif %}" id="viewspecial">

                                    <div class="row clearfix">

                                        <div class="table-responsive">
                                            <table class="table table-hover table_custom dataTable table_avatar w35 mb-0">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Graduation</th>
                                                    <th>Migration</th>
                                                    <th>Exam</th>
                                                    <th>Accomodation</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for fee in specialfees %}

                                                    <tr>
                                                        <td><span class="list-name">{{ forloop.counter }}</span></td>
                                                        <td><span class="list-name"> </i> {% currency fee.graduation %}  </span></td>

                                                        <td><span class="list-name"> </i> {% currency fee.migration%}</span></td>
                                                        <td> </i> {% currency fee.exam %}</td>
                                                        <td> </i> {% currency fee.accomodation %}</td>
                                                        <td>
                                                            <a href="{% url 'special_fee_statement_update_view' fee.id %}">
                                                                <button type="button" class="btn btn-outline-warning"><i
                                                                        class="fa fa-edit"></i> <span>Update</span>
                                                                </button>
                                                            </a></td>
                                                        <td>
                                                            <a href="{% url 'special_fee_statement_delete_view' fee.id %}" class="remove_button">
                                                                <button type="button" class="btn btn-outline-danger"><i
                                                                        class="fa fa-trash"></i> <span>Delete</span>
                                                                </button>
                                                            </a></td>

                                                    </tr>




                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>

                                <div class="tab-pane {% if activetab == 'add_special' %} active show {% endif %}" id="addspecial">

                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Add Special
                                                Statement </h4>

                                            <form method="post" enctype="multipart/form-data" class="form-auth-small"
                                                  id="sstudent_register">
                                                {% csrf_token %}

                                                {% for field in special_fees_form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-primary btn-lg btn-block"
                                                        name="special_fess">
                                                    Add
                                                </button>

                                            </form>


                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>

    </script>

{% endblock content %}


{% block include_page %}
    {% include 'fee_css_js.html' %}
{% endblock %}

