{% extends "base.html" %}
{% block content %}
    {% include 'sidebar.html' %}
    {% load humanize %}


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Fees Request</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Exam Timetable</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">


                                <li class="nav-item"><a data-toggle="tab" href="#list" class="nav-link active show">Exam
                                    Timetable</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">


                                <div class="tab-pane active show " id="list">


                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="body">
                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>registration start date</th>
                                                            <th>registration end date</th>
                                                            <th>programme</th>
                                                            <th>Timetable</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>

                                                        {% for exam_timtable in exams %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ exam_timtable.registration_start_date | naturalday }}</td>
                                                                <td>{{ exam_timtable.registration_end_date | naturalday }}</td>
                                                                <td>{{ exam_timtable.programme_id }}</td>
{#                                                                <td><a href="{{ exam_timtable.pdf.url }}">click</a></td>#}
                                                            <td> {% if exam_timtable.pdf %}

                                                                    <a href="{{ exam_timtable.pdf.url }}"
                                                                       target="_blank">
                                                                        <button type="button"
                                                                                class="btn btn-outline-secondary">
                                                                            Document
                                                                        </button>
                                                                    </a>

                                                                {% else %}
                                                                    ---
                                                                {% endif %}</td>


                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock content %}




{% block include_page %}
    {% include 'exam_css_js1.html' %}
    {% include 'exam1.html' %}
{% endblock %}