{% load static %}
    <link rel="stylesheet" href="{% static 'css/parsley.css' %}">
    <script src="{% static 'js/parsley.min.js' %}"></script>    

    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <script src="{% static 'js/sweetalert.min.js' %}"></script>    

<script>
    
    $(function() {
        
         
        $('#add_college').parsley();
    });
    
</script>
