
{% load static %}
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">

<script src="{% static 'js/datatablescripts.bundle.js' %}"></script>

<script>
    $(document).ready(function() {
    
      $(function () {
    $('.dataTable').DataTable();
});

  



    });

    </script>
