{% extends "base.html" %}
{% load humanize %}

{% block content %}
{% load dictget %}

{% include 'sidebar.html' %}

<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Marksheet</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'show_marks' %}"><i class="icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active">Marksheet</li>
                    </ul>
                </div>
            </div>
        </div>

        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}

        <script>
            Notiflix.Notify.Success("{{ message }}");
        </script>

        {% else %}
        <script>
            Notiflix.Notify.Failure("{{ message }}");
        </script>
        {% endif %}
        {% endfor %}

        {% endif %}
        <div class="row clearfix">


            <div class="col-lg-12 col-md-12">
                <div class="planned_task">
                    <div class="header">
                        <ul class="nav nav-tabs-new2">


                            <li class="nav-item"><a data-toggle="tab" href="#list"
                                    class="nav-link {% if navshow == 'list' %} active show{% endif %}">List</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <select  name="" id="Semester_select">
            {% for key , values in results.items %}
            <option value="{{key}}">{{key}}</option>
            {% empty %}
                                    No Marks
                                    {% endfor %}
        </select>
        {% for key , values in results.items %}

        <div class="row clearfix {{ key }}"  >

            <div class="col-lg-12 col-md-12">
                <div class="card invoice1">
                    <div class="body">

                        <div class="invoice-mid clearfix">


                            <div class="info">
                                <h6><strong>Name: </strong>{{ student.full_name }}</h6>
                                <h6><strong>Admission No.: </strong>{{ student.admission }}</h6>
                                <h6><strong>Programme: </strong>{{ student.programme }}</h6>
                                <h6><strong>Semester: </strong>{{ key }}</h6>


                            </div>
                            <hr>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Course</th>
                                        <th>Obtained marks</th>
                                        <th>passing criteria</th>
                                        <th>Pass / Fail</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for result in values %}
                                    <tr>
                                        <td>{{result.0}}</td>
                                        <td>{{ result.1}}</td>
                                        <td>{{result.2}}</td>
                                        <td>{% if result.1 >= result.2%}
                                            pass
                                          {% else %}
                                            fail
                                          {% endif %}</td>
                                    </tr>
                                    {% empty %}
                                    No Marks
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="row clearfix">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6 text-right">
                                
                                <p class="m-b-0"><b>Total marks:</b> 
                                    {{ total_marks|get:key }} </p>
                                
                            </div>
                            <div class="hidden-print col-md-12 text-right">
                                <hr>
                                <button class="btn btn-outline-secondary"><i class="icon-printer"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        {% empty %}
        No Marks
        {% endfor %}





        {% endblock content %}


        {% block include_page %}
        <script>
            $('#Semester_select').on('change', function() {
            jQuery('.Sem').hide();

            jQuery('.'+this.value.replace(" ",".")).show();
            
        });
        </script>
        {% include 'exam_css_js1.html' %}
        {% endblock %}