{% load static %}
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
        </div>
        <div class="navbar-brand">
            <a href="index.html"><img
                    {# src="http://www.wrraptheme.com/templates/lucid/university/html/assets/images/logo.svg" #}
                    src="{% static 'images/SoluSoft Logo.png' %}" alt="University Logo" class="img-responsive logo"></a>
        </div>
        <div class="navbar-right">
            <form id="navbar-search" class="navbar-form search-form">
                <input value="" class="form-control" placeholder="Search here..." type="text">
                <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
            </form>
            <div id="navbar-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'logoutfun' %}" class="icon-menu"><i class="icon-login"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div id="left-sidebar" class="sidebar">
    <div class="sidebar-scroll">
        <div class="user-account">
            {% if request.user.groups.all.0.name == 'student' %}

                <img src="{{ request.user.Student.thumbnail.url }}" class="rounded-circle user-photo"
                     alt="User Profile Picture">

             {% elif request.user.groups.all.0.name == 'teacher' %}
                <img src="{{ request.user.Faculty.photo.url }}" class="rounded-circle user-photo"
                     alt="User Profile Picture">
            {% else %}


                <img src="{% static 'images/user.png' %}" class="rounded-circle user-photo"
                     alt="User Profile Picture"> {% endif %}


            <div class="dropdown">
                <span>Welcome, {{ user.groups.all.0 }}  {{ user.university.name }} {{ user.college.name }}</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name"
                   data-toggle="dropdown"><strong>{{ request.user.username }}</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account">
                    <li><a href="{% url 'change_password' %}"><i class="icon-user"></i>Change Password</a></li>
                    {##}
                    {#                    <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li> {##}
                    {#                    <li class="divider"></li>#}
                    <li><a href="{% url 'logoutfun' %}"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane active" id="admin">
                <nav class="sidebar-nav">
                    <ul class="main-menu metismenu">


                        {% if request.user.groups.all.0.name == 'college' %}


                            <li><a href="{% url 'dashboard' %}"><i class="icon-home"></i><span>Dashboard</span></a></li>




                            <li><a href="{% url 'faculty_assign' %}"><i class="fa fa-chalkboard-teacher"></i><span>Assign Lecturer</span></a>
                            </li>
                        {% endif %}

                        {% if request.user.groups.all.0.name == 'student' %}

                        <li><a href="{% url 'eachstudentprofile' request.user.Student.id %}"><i
                                class="icon-user"></i><span>My Profile </span></a>
                        </li>



                        <li><a href="javascript:void(0);" class="has-arrow"><i
                                class="icon-book-open"></i><span>Exams</span> </a>
                            <ul aria-expanded="true" class="collapse" style="">
                                <li><a href="{% url 'stu_exam_register' %}"><span>Exam Registration </span></a>
                                </li>
                                <li><a href="{% url 'studentexamtimetable' request.user.Student.id %}"><span>Exam Timetables </span></a>
                                </li>

                                <li><a href="{% url 'exam_card' %}"><span>exam card </span></a></li>
                                <li><a href="{% url 'view_recheck_request' %}"><span>Recheck </span></a>
                                </li>
                                <li><a href="{% url 'view_backlog_request' %}"><span>backlog </span></a></li>

                            </ul>
                        </li>

                        <li><a href="{% url 'show_marks' %}"><i
                                class="icon-book-open"></i><span> Results </span></a></li>

                        <li><a href="javascript:void(0);" class="has-arrow"><i
                                class="fa fa-money"></i><span>Fees</span> </a>
                            <ul aria-expanded="true" class="collapse" style="">
                                <li>
                                    <a href="{% url 'feestatement' request.user.Student.id %}"><span>My Fees Structure </span></a>
                                </li>
                                <li><a href="{% url 'request_fee' %}"><span>Finance Registration </span></a></li>
                            </ul>
                        </li>





                        <li><a href="{% url 'studentAccommodationRequest' request.user.Student.id %}"><i
                                class="fa fa-hotel"></i><span>Accomodation </span></a></li>

                        <li><a href="{% url 'student_migration' %}"><i class="icon-note"></i><span>Migration </span></a>
                        </li>
                        <li><a href="{% url 'convo_request' %}"><i class="icon-graduation"></i><span>Graduation Application </span></a>
                        </li>

                    {% endif %}

                        {% if request.user.groups.all.0.name == 'university' %}
                        <li><a href="{% url 'dashboard' %}"><i class="icon-home"></i><span>Dashboard</span></a></li>
                        <li><a href="{% url 'college_list' %}"><i class="fa fa-university"></i><span>College</span></a>
                        </li>
                        <li><a href="{% url 'add_programmes' %}"><i class="icon-home"></i><span>Programme</span></a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i
                                    class="fa fa-money"></i><span>Fees</span> </a>
                            <ul aria-expanded="true" class="collapse" style="">


                                <li><a href="{% url 'fee_structure' %}"><i
                                        class="fa fa-money"></i><span>Fee Statements</span></a>

                                <li><a href="{% url 'Fee_approved' %}"><i
                                        class="fa fa-money"></i><span>Fee Approved </span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i
                                    class="icon-book-open"></i><span>Exams</span> </a>
                            <ul aria-expanded="true" class="collapse" style="">

                                <li><a href="{% url 'exam_register' %}"><span>Exam Registrations</span></a>
                                </li>
                                <li><a href="{% url 'exam_timetable_list' %}"><span>Exam Timetable</span></a>
                                </li>
                                <li><a href="{% url 'show_attendance' %}"><span>Exam attendance</span></a>
                                <li><a href="{% url 'recheck_approved' %}"><span>Recheck Approval </span></a></li>
                                <li><a href="{% url 'recheck_home' %}"><span>Recheck Marks </span></a></li>
                                <li><a href="{% url 'backlog_approved' %}"><span>Backlog Approval </span></a></li>
                                <li><a href="{% url 'backlog_attendance_home' %}"><span>Backlog attendance </span></a>
                                </li>

                                <li><a href="{% url 'backlog_marks_home' %}"><span>Backlog marks </span></a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'result_home' %}"><i
                                class="fa fa-user-graduate"></i><span>Results</span></a></li>
                        <li><a href="{% url 'viewstudents' %}"><i
                                class="fa fa-user-graduate"></i><span>Students</span></a></li>
                        <li><a href="{% url 'faculty_registration' %}"><i
                                class="fa fa-chalkboard-teacher"></i><span>Teachers</span></a></li>


                        <li><a href="{% url 'university_migration' %}"><i
                                class="icon-note"></i><span>Migration</span></a></li>

                        <li><a href="{% url 'convo_register' %}"><i
                                class="icon-graduation"></i><span>Convocation </span></a>
                        </li>

                        <li><a href="{% url 'view_accomodation_request' %}"><i class="fa fa-hotel"></i><span>Accomodation</span></a>
                        </li>
                        <li><a href="{% url 'view_hostel' %}"><i class="fa fa-hotel"></i><span>Hostel</span></a>
                        </li>




                    {% endif %}
                        {% if request.user.groups.all.0.name == 'teacher' %}

                        <li><a href="{% url 'viewperfaculty' request.user.Faculty.id %}"><i class="icon-home"></i><span>Profile</span></a>
                        </li>
                        {#                                <li><a href="{% url 'recheck_update_marks' %}"><span>Recheck </span></a></li>#}
                        {#                                <li><a href="{% url 'backlog_update_attendance' %}"><span>Backlog attendance </span></a>#}
                        {#                                </li>#}
                        {##}
                        {#                                <li><a href="{% url 'backlog_update_marks' %}"><span>Backlog marks </span></a></li> #}

                        {% endif %}

                        <li><a href="{% url 'logoutfun' %}"><i class="icon-login"></i><span>Logout</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>