{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Convocation Student List</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Convocation</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Info("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">


                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if activetab == 'list' %} active show{% endif %}">Convocations</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">


                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %} " id="list">


                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <!-- <div class="header">
                                                    <h2>Table Tools<small>Basic example without any additional modification classes</small> </h2>                            
                                                </div> -->
                                                <div class="body">
                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>Student</th>
                                                            <th>Registration Number</th>
                                                            <th>Programme</th>
                                                            <th>Fee Paid</th>
                                                            <th>Document</th>
                                                            <th>Attend</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>

                                                        {% for data in convocation_registration_data %}
                                                            <tr>
                                                                <td>{{ data.student }}</td>
                                                                <td>{{ data.student.admission }}</td>
                                                                <td>{{ data.student.programme }}</td>
                                                                <td><i class="fas fa-inr fa-sm"></i> {{ data.amount }}
                                                                </td>
                                                                <td>{% if data.payment_proof %}
                                                                    <a href="{{ data.payment_proof.url }}">
                                                                        <button type="button"
                                                                                class="btn btn-outline-secondary">
                                                                            Document
                                                                        </button>
                                                                    </a>

                                                                {% else %}
                                                                    ---
                                                                {% endif %}</td>
                                                                <td>{{ data.attend_convo }}</td>

                                                                <td>
                                                                    {% if data.approved == None %}
                                                                        <a href="{% url 'convo_apr' data.id %}"
                                                                           class="once_click">
                                                                            <button type="button"
                                                                                    class="btn btn-outline-success"><i
                                                                                    class="fa fa-check"
                                                                                    aria-hidden="true"></i>
                                                                                Approve
                                                                            </button>
                                                                        </a>
                                                                        <a href="{% url 'convo_rej' data.id %}"
                                                                           class="once_click">
                                                                            <button type="button"
                                                                                    class="btn btn-outline-danger"><i
                                                                                    class="fa fa-times"
                                                                                    aria-hidden="true"></i>
                                                                                Reject
                                                                            </button>
                                                                        </a>

                                                                    {% elif data.approved == 1 %}
                                                                        <span class="badge badge-success">Approved</span>



                                                                    {% elif data.approved == 0 %}
                                                                        <span class="badge badge-danger">Rejected</span>

                                                                    {% else %}

                                                                        <span class="badge badge-success">Issued</span>

                                                                    {% endif %}


                                                                    </a>
                                                                </td>
                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock content %}


{% block include_page %}
    {% include 'course_css_js.html' %}
    {% include 'fee.html' %}
{% endblock %}


