{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Graduation Certification</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Graduation Certification</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link active show">List</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#add" class="nav-link">Add</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane show active " id="list">
                                {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'success' %}

                                                <script>

                                                    Notiflix.Notify.Success("{{ message }}");
                                                </script>

                                            {% else  %}
                                                <script>
                                                    Notiflix.Notify.Failure("{{ message }}");
                                                </script>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                    {% if eligibility > 0 %}
                                        <h2>In order to register, you should be in your last semester and complete your fees</h2>
                                    {% else %}
                                    <div class="row clearfix">

                                        <div class="table-responsive">
                                            <table class="table table-hover table_custom dataTable table_avatar w35 mb-0">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Number</th>
                                                    <th>Student</th>
                                                    <th>Receipt Number</th>
                                                    <th>Payment date</th>
                                                    <th>Status</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for Convo_Request in Convo_Request_list %}
                                                    <tr>

                                                        <td><span class="list-name">{{ forloop.counter }}</span></td>
                                                        <td><span class="list-name">{{ Convo_Request.student_id }}</span>
                                                        </td>
                                                        <td><span
                                                                class="list-name">{{ Convo_Request.receipt_no }}</span>
                                                        </td>

                                                        <td>{{ Convo_Request.payment_date }}</td>
                                                        <td>
                                                            {% if Convo_Request.approved == 1 %}
                                                            <span class="badge badge-success">Approved</span>
                                                                  
                                                            

                                                            {% elif data.approved == 0 %}
                                                                <span class="badge badge-danger">Rejected</span>

                                                            {% else %}

                                                                <span class="badge badge-success">Process</span>

                                                            {% endif %}

                                                            
                                                        </td>
                                                    </tr>






                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                {% endif %}

                                </div>
                                                            <div class="tab-pane" id="add">


                                    {% if eligibility > 0 %}
                                        <h2>In order to register, you should be in your last semester and complete your fees</h2>
                                    {% else %}



                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Request Graduation
                                                Certificate </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data" >

                                                {% csrf_token %}

                                                 {% for field in form_fee %}
                                                    <div class="form-group" id="{{ field.id_for_label }}">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}





                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit
                                                </button>

                                            </form>
                                        </div>
                                    </div>
                                                                                        {% endif %}



                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'convo_request_css_js.html' %}

{% endblock %}
