{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Students</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'viewstudents' %}"><i></i>Students</a>
                            </li>
                            <li class="breadcrumb-item active"><a href="{% url 'viewperstudent' student.id %}"><i></i>Student
                                Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row clearfix">
                <div class="col-lg-4 col-md-12">
                    <div class="card profile-header">
                        <div class="body text-center">
                            <div class="profile-image mb-3 text-center">

                            <img class="img-fluid rounded" src="{{ student.thumbnail.url }}" alt="profile-image" style="width: 200px;height: 200px;"></div>

                            <div>
                                <h4 class="m-b-0"><strong>{{ student.firstName }} {{ student.lastName }}</strong></h4>
                                <span class="job_post"><strong>Registration Number: </strong>{{ student.admission }}</span>
                                <p><span
                                        class="job_post"><strong>Current Semester: </strong>{{ student.current_sem }}</span>
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>Fees Module</h2>
                        </div>
                        <div class="body">
                            <div class="workingtime">
                                <span class="text-muted">Fees Balance</span>
                                <p>09:00 AM - 4:00 PM</p>
                                <hr>
                                <span class="text-muted">Saturday</span>
                                <p>09:00 AM - 12:30 PM</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>Reviews</h2>
                        </div>
                        <div class="body">
                            <div class="reviews">
                                <span class="text-muted">Staff</span>
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-outline"></i>
                                    <i class="fa fa-star-outline"></i>
                                </p>
                                <span class="text-muted">Helpfulness</span>
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </p>
                                <span class="text-muted">Knowledge</span>
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-outline"></i>
                                    <i class="fa fa-star-outline"></i>
                                </p>
                                <span class="text-muted">Cost</span>
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-outline"></i>
                                    <i class="fa fa-star-outline"></i>
                                    <i class="fa fa-star-outline"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="card">

                        <div class="body">
                            <ul class="nav nav-tabs-new2 mb-3">
                                <li class="nav-item active show"><a class="nav-link" data-toggle="tab" href="#about">Personal
                                    Info</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                        href="#academics">Academics</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#guardian">Guardian</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#address">Address</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#previousacademics">Previous
                                    Education</a></li>

                            </ul>
                            <div class="tab-content padding-0">
                                <div class="tab-pane active show" id="about">
                                    <ul class="list-unstyled">
                                        <li><p><i class="fa fa-user-circle-o  m-r-5"></i><strong>Full
                                            Name:</strong> {{ student.firstName }}
                                            {{ student.middleName }}{{ student.lastName }}</p></li>
                                        <li><p><i class="fa fa-graduation-cap m-r-5"></i><strong>Admission
                                            Number:</strong> {{ student.admission }}</p></li>
                                        <li><p><i
                                                class="fa   fa-globe m-r-5"></i><strong>Nationality:</strong> {{ student.nationality }}
                                        </p></li>
                                        <li><p><i
                                                class=" fa fa-user m-r-5"></i><strong>Gender:</strong> {{ student.gender }}
                                        </p></li>
                                        <li><p><i class="fa fa-calendar-check-o m-r-5"></i><strong>Date of
                                            Birth:</strong> {{ student.dob }}</p></li>
                                        <li><p><i
                                                class="fa fa-envelope-o m-r-5"></i><strong>Email</strong> {{ student.email }}
                                        </p></li>
                                        <li><p><i class="fa fa-address-card m-r-5"></i><strong>Aadhar
                                            Number:</strong> {{ student.aadhar }}</p></li>
                                        <li><p><i
                                                class="fa fa-home m-r-5"></i><strong>Religion:</strong> {{ student.religion }}
                                        </p></li>
                                        <li><p><i
                                                class="fa fa-heart m-r-5"></i><strong>Caste:</strong> {{ student.caste }}
                                        </p></li>
                                        <li><p><i class="fa fa-heart m-r-5"></i><strong>Sub
                                            Caste:</strong> {{ student.subcaste }}</p></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="academics">
                                    <ul class="list-unstyled">
                                        <li><p><i
                                                class="fa fa-graduation-cap m-r-5"></i><strong>College:</strong> {{ student.college }}
                                        </p></li>
                                        <li><p><i
                                                class="fa fa-star m-r-5"></i><strong>Programme:</strong> {{ student.programme }}
                                        </p></li>
                                        <li><p><i
                                                class="fa fa-star m-r-5"></i><strong>Batch:</strong> {{ student.batch }}
                                        </p></li>
                                        <li><p><i class="fa fa-graduation-cap m-r-5"></i><strong>Enrollment
                                            Date:</strong> {{ student.enrollmentdate }}</p></li>
                                        <li><p><i class="fa fa-star m-r-5"></i><strong>Study
                                            Mode:</strong> {{ student.studymode }}</p></li>

                                        <li><p><i class="fa fa-star m-r-5"></i><strong>Hostel:</strong> Hostel Name</p>
                                        </li>
                                        <li><p><i class="fa fa-star m-r-5"></i><strong>Room:</strong> Room Name</p></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="guardian">
                                    <ul class="list-unstyled">
                                        <li><p><i
                                                class="fa fa-graduation-cap m-r-5"></i><strong>Guardian:</strong> {{ student.guardian }}
                                        </p></li>
                                        <li><p><i class="fa fa-star m-r-5"></i><strong>Guardian
                                            Relationship:</strong> {{ student.guardianRelationship }}</p></li>
                                        <li><p><i class="fa fa-heart m-r-5"></i><strong>Guardian
                                            Proffession:</strong> {{ student.guardianproffession }}</p></li>
                                        <li><p><i class="fa fa-tag m-r-5"></i><strong>Guardian
                                            Contact:</strong> {{ student.guardiancontact }}</p></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="address">
                                    <ul class="list-unstyled">
                                        <li><p><i class="fa fa-graduation-cap m-r-5"></i><strong>Country of
                                            Origin:</strong> {{ student.country }}</p></li>
                                        <li><p><i class="fa fa-star m-r-5"></i><strong>City:</strong> {{ student.city }}
                                        </p></li>
                                        <li><p><i
                                                class="fa fa-star m-r-5"></i><strong>Zipcode:</strong> {{ student.zipcode }}
                                        </p></li>
                                        <li><p><i
                                                class="fa fa-star m-r-5"></i><strong>Address:</strong> {{ student.address }}
                                        </p></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="previousacademics">
                                    <ul class="list-unstyled">
                                        <li><p><i class="fa fa-graduation-cap m-r-5"></i><strong>Previous
                                            Institution:</strong> {{ student.previousuniversity }}</p></li>
                                        <li><p><i class="fa fa-star m-r-5"></i><strong>Latest Academic
                                            Achievement:</strong> {{ student.latestacademic }}</p></li>
                                        <li><p><i class="fa fa-star m-r-5"></i><strong>Latest Academic
                                            Certificate:</strong> {{ student.lastdegree }}</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2><strong>Academic Report</strong></h2>
                        </div>
                        <div class="body">
                            <div id="m_area_chart" style="position: relative;">
                                <svg height="342" version="1.1" width="649" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     style="overflow: hidden; position: relative; left: -0.666687px; top: -0.199997px;">
                                    <desc>Created with Raphaël 2.2.0</desc>
                                    <defs></defs>
                                    <text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                          x="36.5" y="308.5" text-anchor="end" font-family="sans-serif" font-size="12px"
                                          stroke="none" fill="#888888" font-weight="normal">
                                        <tspan dy="4">0</tspan>
                                    </text>
                                    <path style="" fill="none" stroke="#e0e0e0" d="M49,308.5H624.333"
                                          stroke-width="0.5"></path>
                                    <text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                          x="36.5" y="237.625" text-anchor="end" font-family="sans-serif"
                                          font-size="12px" stroke="none" fill="#888888" font-weight="normal">
                                        <tspan dy="4">75</tspan>
                                    </text>
                                    <path style="" fill="none" stroke="#e0e0e0" d="M49,237.625H624.333"
                                          stroke-width="0.5"></path>
                                    <text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                          x="36.5" y="166.75" text-anchor="end" font-family="sans-serif"
                                          font-size="12px" stroke="none" fill="#888888" font-weight="normal">
                                        <tspan dy="4">150</tspan>
                                    </text>
                                    <path style="" fill="none" stroke="#e0e0e0" d="M49,166.75H624.333"
                                          stroke-width="0.5"></path>
                                    <text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                          x="36.5" y="95.875" text-anchor="end" font-family="sans-serif"
                                          font-size="12px" stroke="none" fill="#888888" font-weight="normal">
                                        <tspan dy="4">225</tspan>
                                    </text>
                                    <path style="" fill="none" stroke="#e0e0e0" d="M49,95.875H624.333"
                                          stroke-width="0.5"></path>
                                    <text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                          x="36.5" y="25" text-anchor="end" font-family="sans-serif" font-size="12px"
                                          stroke="none" fill="#888888" font-weight="normal">
                                        <tspan dy="4">300</tspan>
                                    </text>
                                    <path style="" fill="none" stroke="#e0e0e0" d="M49,25H624.333"
                                          stroke-width="0.5"></path>
                                    <text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                          x="624.333" y="321" text-anchor="middle" font-family="sans-serif"
                                          font-size="12px" stroke="none" fill="#888888" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,7)">
                                        <tspan dy="4">2017</tspan>
                                    </text>
                                    <text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                          x="432.20537408759117" y="321" text-anchor="middle" font-family="sans-serif"
                                          font-size="12px" stroke="none" fill="#888888" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,7)">
                                        <tspan dy="4">2016</tspan>
                                    </text>
                                    <text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                          x="240.60268704379558" y="321" text-anchor="middle" font-family="sans-serif"
                                          font-size="12px" stroke="none" fill="#888888" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,7)">
                                        <tspan dy="4">2015</tspan>
                                    </text>
                                    <text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                          x="49" y="321" text-anchor="middle" font-family="sans-serif" font-size="12px"
                                          stroke="none" fill="#888888" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,7)">
                                        <tspan dy="4">2014</tspan>
                                    </text>
                                    <path style="fill-opacity: 0;" fill="#292929" stroke="none"
                                          d="M49,234.79000000000002C96.9006717609489,210.69250000000002,192.70201528284667,141.58937500000002,240.60268704379558,138.4C288.5033588047445,135.210625,384.30470232664226,212.8139021887825,432.20537408759117,209.275C480.23728056569337,205.7264021887825,576.3010935218978,134.85625000000002,624.333,110.05000000000001L624.333,308.5L49,308.5Z"
                                          fill-opacity="0"></path>
                                    <path style="" fill="none" stroke="#222222"
                                          d="M49,234.79000000000002C96.9006717609489,210.69250000000002,192.70201528284667,141.58937500000002,240.60268704379558,138.4C288.5033588047445,135.210625,384.30470232664226,212.8139021887825,432.20537408759117,209.275C480.23728056569337,205.7264021887825,576.3010935218978,134.85625000000002,624.333,110.05000000000001"
                                          stroke-width="2"></path>
                                    <circle cx="49" cy="234.79000000000002" r="3" fill="#222222" stroke="#222222"
                                            style="" stroke-width="1"></circle>
                                    <circle cx="240.60268704379558" cy="138.4" r="3" fill="#222222" stroke="#222222"
                                            style="" stroke-width="1"></circle>
                                    <circle cx="432.20537408759117" cy="209.275" r="6" fill="#222222" stroke="#222222"
                                            style="" stroke-width="1"></circle>
                                    <circle cx="624.333" cy="110.05000000000001" r="3" fill="#222222" stroke="#222222"
                                            style="" stroke-width="1"></circle>
                                    <path style="fill-opacity: 0;" fill="#f5f5f5" stroke="none"
                                          d="M49,114.775C96.9006717609489,133.91125,192.70201528284667,178.916875,240.60268704379558,191.32C288.5033588047445,203.72312499999998,384.30470232664226,220.60595075239397,432.20537408759117,214C480.23728056569337,207.37595075239398,576.3010935218978,157.3,624.333,138.4L624.333,308.5L49,308.5Z"
                                          fill-opacity="0"></path>
                                    <path style="" fill="none" stroke="#cccccc"
                                          d="M49,114.775C96.9006717609489,133.91125,192.70201528284667,178.916875,240.60268704379558,191.32C288.5033588047445,203.72312499999998,384.30470232664226,220.60595075239397,432.20537408759117,214C480.23728056569337,207.37595075239398,576.3010935218978,157.3,624.333,138.4"
                                          stroke-width="2"></path>
                                    <circle cx="49" cy="114.775" r="3" fill="#cccccc" stroke="#cccccc" style=""
                                            stroke-width="1"></circle>
                                    <circle cx="240.60268704379558" cy="191.32" r="3" fill="#cccccc" stroke="#cccccc"
                                            style="" stroke-width="1"></circle>
                                    <circle cx="432.20537408759117" cy="214" r="6" fill="#cccccc" stroke="#cccccc"
                                            style="" stroke-width="1"></circle>
                                    <circle cx="624.333" cy="138.4" r="3" fill="#cccccc" stroke="#cccccc" style=""
                                            stroke-width="1"></circle>
                                    <path style="fill-opacity: 0;" fill="#48b5ac" stroke="none"
                                          d="M49,180.925C96.9006717609489,179.74375,192.70201528284667,170.29375000000002,240.60268704379558,176.20000000000002C288.5033588047445,182.10625000000002,384.30470232664226,225.81573187414503,432.20537408759117,228.175C480.23728056569337,230.54073187414502,576.3010935218978,203.36875000000003,624.333,195.10000000000002L624.333,308.5L49,308.5Z"
                                          fill-opacity="0"></path>
                                    <path style="" fill="none" stroke="#379c94"
                                          d="M49,180.925C96.9006717609489,179.74375,192.70201528284667,170.29375000000002,240.60268704379558,176.20000000000002C288.5033588047445,182.10625000000002,384.30470232664226,225.81573187414503,432.20537408759117,228.175C480.23728056569337,230.54073187414502,576.3010935218978,203.36875000000003,624.333,195.10000000000002"
                                          stroke-width="2"></path>
                                    <circle cx="49" cy="180.925" r="3" fill="#379c94" stroke="#379c94" style=""
                                            stroke-width="1"></circle>
                                    <circle cx="240.60268704379558" cy="176.20000000000002" r="3" fill="#379c94"
                                            stroke="#379c94" style="" stroke-width="1"></circle>
                                    <circle cx="432.20537408759117" cy="228.175" r="6" fill="#379c94" stroke="#379c94"
                                            style="" stroke-width="1"></circle>
                                    <circle cx="624.333" cy="195.10000000000002" r="3" fill="#379c94" stroke="#379c94"
                                            style="" stroke-width="1"></circle>
                                </svg>
                                <div class="morris-hover morris-default-style" style="left: 373.314px; top: 102px;">
                                    <div class="morris-hover-row-label">2016</div>
                                    <div class="morris-hover-point" style="color: #222222">
                                        Computar:
                                        105
                                    </div>
                                    <div class="morris-hover-point" style="color: #cccccc">
                                        Sport:
                                        100
                                    </div>
                                    <div class="morris-hover-point" style="color: #379c94">
                                        Photoshop:
                                        85
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'college_css_js.html' %}
{% endblock %}
