{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Students</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'viewstudents' %}"><i class="icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Students</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Failure("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if navshow == 'list' %} active show {% endif %}">List</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#add" class="nav-link  {% if navshow == 'add' %} active show {% endif %}">Add</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if navshow == 'list' %} active show {% endif %} " id="list">

                                    <div class="row clearfix">

                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="body">

                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">

                                                        <tr>
                                                            <th>#</th>
                                                            <th>Photo</th>
                                                            <th>Admission</th>
                                                            <th>Name</th>
                                                            <th>Programme</th>
                                                            <th>Semester</th>
                                                            <th>View</th>
                                                            <th>Update</th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for student in students %}

                                                            <tr>
                                                                                                                            <td>{{ forloop.counter }}</td>

                                                                <td><img class="rounded"
                                                                         src="{{ student.thumbnail.url }}"
                                                                         alt=""
                                                                         style="height: 50px;width: 50px;"></td>
                                                                <td><span
                                                                        class="list-name">{{ student.admission }}</span>
                                                                </td>
                                                                <td>{{ student.firstName }} {{ student.lastName }}</td>
                                                                <td>{{ student.programme }}</td>
                                                                <td>{{ student.current_sem }}</td>
                                                                <td><a href="{% url 'viewperstudent' student.id %}">
                                                                    <button type="button" class="btn btn-outline-info">
                                                                        <i class="fa fa-info-circle"></i>
                                                                        <span>View</span></button>
                                                                </a></td>
                                                                <td><a href="{% url 'updateperstudent' student.id %}">
                                                                    <button type="button"
                                                                            class="btn btn-outline-warning"><i
                                                                            class="fa fa-edit"></i> <span>Update</span>
                                                                    </button>
                                                                </a></td>
                                                            </tr>


                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane {% if navshow == 'add' %} active show {% endif %} " id="add">

                                    <div class="row clearfix">
                                        <div class="col-md-12 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Add Student </h4>

                                            <form method="post" enctype="multipart/form-data" class="form-auth-small"
                                                  id="student_register">
                                                {% csrf_token %}

                                                <div class="row">

                                                    {% for field in form %}

                                                        {% if field.field.widget.attrs.class == 'fancy-checkbox' %}


                                                            <div class="fancy-checkbox">
                                                                <label>{{ field }}<span>{{ field.label }}</span></label>
                                                            </div>


                                                        {% else %}

                                                            <div class="form-group col-sm-4">
                                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                                {{ field }}
                                                                {{ field.errors }}
                                                            </div>


                                                        {% endif %}


                                                    {% endfor %}

                                                </div>

                                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                                    Register
                                                </button>

                                            </form>


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
    {% include 'student_css_js.html' %}
{% endblock %}
