{% extends "base.html" %}

{% load my_filters %}

{% block content %}

    {% include 'sidebar.html' %}

    

<div id="main-content">
    <div class="container-fluid">
      
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Hostel</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item active">Hostel</li>
                    </ul>
                </div>            
            </div>
        </div>


        <div class="row clearfix">

            <div class="col-lg-12 col-md-12">
                <div class="planned_task">
                    <div class="header">
                        <ul class="nav nav-tabs-new2">
                            <li class="nav-item"><a data-toggle="tab" href="#list" class="nav-link active show">List</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#add" class="nav-link">Add</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#view_all" class="nav-link">View All Hostels</a></li>
                        </ul>
                    </div>
                    <div class="body">

                        <div class="tab-content">
                            <div class="tab-pane active show" id="list">

                                <div class="row clearfix">

                                {% for hostel in active_data %}

                                    <div class="col-md-6 col-lg-4">

                                        <div class="card">    
                                            <div class="header">
                                            <ul class="header-dropdown">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{% url 'view_room' hostel.id %}">Room</a></li>
                                                        <li><a data-id={{hostel.id}}
                                                            data-name="{{hostel.name}}"
                                                            data-address="{{hostel.address}}"
                                                            data-contact="{{hostel.contact}}"
                                                            data-warden="{{hostel.warden_name}}"
                                                            data-facilities="{{hostel.facilities}}"
                                                            data-no_of_room="{{hostel.no_of_room}}"
                                                            data-hostel_for="{{hostel.hostel_type}}"
                                                            href="#defaultModal" data-toggle="modal" data-target="#defaultModal" class="call_modal">Edit</a></li>
                                                        <li><a href="{% url 'disable_hostel' hostel.id %}">Disable</a></li>
                                                    </ul>
                                                </li>
                                            </ul>                    
                                        </div>                     
                                            <div class="body">
                                                <h6 class="mb-4">{{hostel.name}}</h6>
                                                <ul class="list-unstyled">
                                                  
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Hostel Address:</label>
                                                        <span>{{hostel.address}}</span>
                                                    </li>
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Contact Number:</label>
                                                        <span>{{hostel.contact}}</span>
                                                    </li>
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Warden Name:</label>
                                                        <span>{{hostel.warden_name}}</span>
                                                    </li>
                                                    
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">No of Rooms:</label>
                                                        <span>{{hostel.no_of_room}}</span>
                                                    </li>
                                                    
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Facilities:</label>
                                                        <span>{{hostel.facilities|list_to_str}}</span>
                                                    </li>

                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Hostel Type:</label>
                                                        <span>{{hostel.hostel_type}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                                    
                            
                                </div>
                            </div>

                            <div class="tab-pane" id="add">
                                
                                <div class="row clearfix">
                                    <div class="col-md-6 col-lg-6 d-table m-auto card p-10">
                                        <h4 class="text-center m-t-10 m-b-10 text-info "> Add Hostel </h4>
                                        <form method="post" class="form-auth-small" id="add_college"  enctype="multipart/form-data">

                                            {% csrf_token %}
                                            
                                            {% for field in form %}


                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    {{ field }}
                                                    {{ field.errors }}
                                                </div>


                                            {% endfor %}

                                            <button type="submit" class="btn btn-primary btn-lg btn-block" name="add_hostel">Add Hostel</button>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="tab-pane" id="view_all">
                                
                                <div class="row clearfix">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <!-- <div class="header">
                                                <h2>Table Tools<small>Basic example without any additional modification classes</small> </h2>                            
                                            </div> -->
                                            <div class="body">
                                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Hostel ID</th>
                                                            <th>Hostel Name</th>
                                                        
                                                            <th>Facilities</th>
                                                            <th>Hostal Type</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    
                                                    <tbody>
                                                        {% for hostel in all_data %}

                                                        <tr>
                                                            <td>{{hostel.id}}</td>
                                                            <td>{{hostel.name}}</td>
                                                           
                                                            <td>{{hostel.facilities|list_to_str}}</td>
                                                            <td>{{hostel.hostel_type}}</td>

                                                            <td>
                                                                {% if hostel.is_active %}
                                                                    <a href="{% url 'disable_hostel' hostel.id %}">
                                                                        <button type="button" class="btn btn-outline-danger"  class="fa fa-ban" name="disable_room"><i
                                                                                    class="fa fa-toggle-off"></i><span> Deactivate</span></button>
                                                                    </a>
                                                                {% else %}
                                                                    <a href="{% url 'activate_hostel' hostel.id %}"> <button type="button" class="btn btn-outline-success" name="enable_room"><i
                                                                            class="fa fa-toggle-on"></i><span> Activate</span></button></a>
                                                                {% endif %}
                                                            </td>



                                                        </tr>
                                                        
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>


<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Update Hostel Details</h4>
            </div>
            <div class="modal-body">
                
                <form method="post" class="form-auth-small" id="add_college1" enctype="multipart/form-data">

                    {% csrf_token %}
                    
                    <input type="hidden" name="hostel_id1" id="hostel_id">
                

                    {% for field in form1 %}

                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.errors }}
                        </div>

                    {% endfor %}
                    
                    <button type="submit" class="btn btn-primary" name="update_hostel">Update Hostel</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block include_page %}
    {% include 'hostel_js_css.html' %}
{% endblock %}
