{% load static %}

<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">

<script src="{% static 'js/datatablescripts.bundle.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/parsley.css' %}">
<script src="{% static 'js/parsley.min.js' %}"></script>



<script>
    $(function () {

        $('#add_college').parsley();

        $(document).on("click", ".button-remove", function (e) {
            var currentobject = $(this).attr('href');
            e.preventDefault();
            swal({
                title: "Are you sure?",
                text: "You can activate it later !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            }, function () {
                console.log(currentobject);
                window.location.href = currentobject;
            });
        });


    });
</script>

<style>
    ul#id_hostel_room, ul#id_facilities,  ul#id_f2-facilities{
        padding: 0px;
        border: 0px;
        column-count: 3;
    }

    ul#id_hostel_room li,ul#id_facilities li, ul#id_f2-facilities li {
        list-style-type: none;
        row-gap: 20px;
        grid-row: 2;
    }

    ul#id_hostel_room li label, ul#id_facilities li label, ul#id_f2-facilities li label {
        display: flex;
    }

    ul#id_hostel_room li label input, ul#id_facilities li label input, ul#id_f2-facilities li input {
        display: inline-block;
        width: 26px;
        position: relative;
        top: 3px;
    }

    
</style>

<script>
$(function () {
    $('.dataTable').DataTable();
});


$( document ).ready(function() {

    $('#add_college').parsley();
    $('#add_college1').parsley();

    $(document).on('click','.call_modal', function(){
        console.log($(this).data('id'))
        console.log($(this).data('name'))
        console.log($(this).data('facilities'))
        
        // hide room count
        // $('label[for=id_f2-no_of_rooms], input#id_f2-no_of_rooms').hide();

        $('#hostel_id').val($(this).data('id'));
        $('#id_f2-name').val($(this).data('name'));
        $('#id_f2-address').val($(this).data('address'));
        $('#id_f2-contact').val($(this).data('contact'));
        $('#id_f2-warden_name').val($(this).data('warden'));
        $('#id_f2-no_of_rooms').val($(this).data('no_of_room'));
        $('#id_f2-hostel_type').val($(this).data('hostel_for'));

        
        var facilities = $(this).data('facilities');
        facilities = facilities.replace("[","").replace("]","").split(',');
        $.each(facilities, function( index, value ) {
            // alert( index + ": " + value );
            $("input[value="+value.trim()+"]").prop('checked',true);
        });

    });


    $(document).on('click','.call_room_modal', function(){
        $('#room_id').val($(this).data('id'));
        $('#id_f2-room_name').val($(this).data('room_name'));
        $('#id_f2-room_type').val($(this).data('room_type'));
        $('#id_f2-capacity').val($(this).data('capacity'));
        $('#id_f2-fee_amount').val($(this).data('fee_amount'));
    });

});
</script>