{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}
    
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Room</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item active">Room</li>
                    </ul>
                </div>            
            </div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-12 col-md-12">
                <div class="planned_task">
                    <div class="header">
                        <ul class="nav nav-tabs-new2">
                            <li class="nav-item"><a data-toggle="tab" href="#list" class="nav-link active show">List</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#add" class="nav-link">Manage Room</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#view_all" class="nav-link">View All Room</a></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="list">

                                <div class="row clearfix">
                       
                                {% for room in active_rooms %}

                                    <div class="col-md-6 col-lg-4">

                                        <div class="card">    
                                            <div class="header">
                                            <ul class="header-dropdown">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a
                                                            data-id="{{room.id}}" 
                                                            data-room_name="{{room.room_name}}"
                                                            data-room_type="{{room.room_type}}"
                                                            data-capacity="{{room.capacity}}"
                                                            data-fee_amount="{{room.fee_amount}}"
                                                            data-toggle="modal" data-target="#defaultModal" class="call_room_modal">Edit</a></li>
                                                        <li><a href="{% url 'disable_room' room.hostel_id_id room.id %}">Disable</a></li>
                                                    </ul>
                                                </li>
                                            </ul>                    
                                        </div>                     
                                            <div class="body">
                                               
                                                <h6 class="mb-4">{{ room.room_name }}</h6>
                                                <ul class="list-unstyled">
                                                  
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Room Type:</label>
                                                        <span>{{room.room_type}}</span>
                                                    </li>
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Room Capacity:</label>
                                                        <span>{{room.capacity}} People</span>
                                                    </li>
                                                    <li>
                                                        <label class="m-b-10 font-weight-500">Fee amount:</label>
                                                        <span>{{room.fee_amount}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                                    
                            
                                </div>
                            </div>

                            <div class="tab-pane" id="add">
                                
                                <div class="row clearfix">
                                    <div class="col-md-6 col-lg-6 d-table m-auto card p-10">
                                        <h4 class="text-center m-t-10 m-b-10 text-info "> Manage Room </h4>
                                        <form method="post" class="form-auth-small" id="add_college"  enctype="multipart/form-data">

                                            {% csrf_token %}

                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    {{ field }}
                                                    {{ field.errors }}
                                                </div>
                                            {% endfor %}

                                            <button type="submit" class="btn btn-primary btn-lg btn-block" name="add_room">Add Room</button>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="view_all">
                                
                                <div class="row clearfix">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <!-- <div class="header">
                                                <h2>Table Tools<small>Basic example without any additional modification classes</small> </h2>                            
                                            </div> -->
                                            <div class="body">
                                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Room Name</th>
                                                            <th>Room Type</th>
                                                            <th>Capacity</th>
                                                            <th>Fee amount</th>
                                                            <th>Status</th>
                                                            <th>Operations</th>
                                                        </tr>
                                                    </thead>
                                                    
                                                    <tbody>
                                                        {% for room in all_rooms %}

                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ room.room_name }}</td>
                                                           
                                                            <td>{{ room.room_type }}</td>
                                                            <td>{{ room.capacity }}</td>
                                                            <td>{{ room.fee_amount }}</td>
                                                            
                                                            <td>
                                                                {% if room.is_active %}
                                                                    <span class="badge badge-success">Active</span>
                                                                {% else %}
                                                                    <span class="badge badge-warning">Disable</span>
                                                                {% endif %}

                                                            </td>
                                                            <td>
                                                                {% if room.is_active %}
                                                                    <a href="{% url 'disable_room' room.hostel_id_id room.id %}" class="button-remove">
                                                                            <button type="button"
                                                                                    class="btn btn-outline-danger"><i
                                                                                    class="fa fa-toggle-off"></i>
                                                                                <span>Deactivate</span>
                                                                            </button>

                                                                        </a>
                                                                {% else %}
                                                                    <a href="{% url 'activate_room' room.hostel_id_id room.id %}">
                                                                            <button type="button"
                                                                                    class="btn btn-outline-success"><i
                                                                                    class="fa fa-toggle-on"></i>
                                                                                <span>Activate</span>
                                                                            </button>

                                                                        </a>
                                                                {% endif %}







                                                            </td>
                                                        </tr>
                                                        
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Update Room Details</h4>
            </div>
            <div class="modal-body">
                 
                <form method="post" class="form-auth-small" id="add_college_2" data-fees-url="{% url 'load_room' %}" enctype="multipart/form-data">

                    {% csrf_token %}
                    <input type="hidden" name="room_id" id="room_id">

                    {% for field in form1 %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary" name="update_room">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                
                </form> 
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block include_page %}
    {% include 'hostel_js_css.html' %}
{% endblock %}
