{% extends "base.html" %}
{% load humanize %}
{% load indian_currency_tags %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Finance Registration</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'request_fee' %}"><i class="icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Finance Registration</li>
                        </ul>
                    </div>
                </div>
            </div>

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <script>

                            Notiflix.Notify.Success("{{ message }}");

                        </script>
                        {% else %}
                        <script>

                            Notiflix.Notify.Failure("{{ message }}");

                        </script>
                    {% endif %}
                {% endfor %}

            {% endif %}
            <div class="row clearfix">

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">


                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if navshow == 'list' %} active show{% endif %}">List</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#add"
                                                        class="nav-link {% if navshow == 'add' %} active show{% endif %}">Add</a>
                                </li>
                                <li class="nav-item"><a data-toggle="tab" href="#online_payment"
                                                        class="nav-link {% if navshow == 'online_payment' %} active show{% endif %}">Online
                                    Payment</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if navshow == 'list' %} active show {% endif %}" id="list">

                                    <div class="row clearfix">

                                        <div class="table-responsive">
                                            <table class="table table-hover table_custom dataTable table_avatar w35 mb-0">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Receipt Number</th>

                                                    <th>Semester</th>
                                                    <th>Payment mode</th>
                                                    <th>Date</th>
                                                    <th>Requested Amount</th>
                                                    <th>Amount Approved</th>
                                                    <th>Balance</th>
                                                    <th>Proof</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for  Fee_Request in Fee_Request_list %}
                                                    <tr>

                                                        <td><span class="list-name">{{ forloop.counter }}</span></td>
                                                        <td> {{ Fee_Request.receipt_no }}</td>

                                                        <td><span class="list-name">{{ Fee_Request.declare_semester }}</span>
                                                        </td>
                                                        <td><span
                                                                class="list-name">{{ Fee_Request.payment_mode }}</span>
                                                        </td>
                                                        <td>{{ Fee_Request.payment_date | naturalday }}</td>
                                                        <td>{% currency  Fee_Request.requested_amount %}</td>
                                                        
                                                        <td> {% currency Fee_Request.approved_amount %} </td>
                                                        <td> {% currency Fee_Request.remaining_amount%}</td>
                                                        <td>
                                                            {% if Fee_Request.payment_proof  %}
                                                                <a href="{{ Fee_Request.payment_proof.url }}" target="_blank">
                                                                <button type="button" class="btn btn-outline-secondary">
                                                                    Document
                                                                </button>
                                                            </a>
                                                            {% else %}
                                                                ---
                                                            {% endif %}

                                                        </td>
                                                        <td>
                                                            {% if Fee_Request.approved == 0 %}
                                                                <span class="badge badge-warning">Pending</span>
                                                            {% elif Fee_Request.approved == 1 %}
                                                                <span class="badge badge-success">Accepted</span>
                                                            {% else %}
                                                                <span class="badge badge-danger">Rejected</span>
                                                            {% endif %}


                                                            {#                                                            <span#}
                                                            {#                                                                class="badge badge-primary">{{ Fee_Request.approved }}</span>#}
                                                        </td>
                                                    </tr>








                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>

                                <div class="tab-pane {% if navshow == 'add' %} active show {% endif %}" id="add">

                                    <div class="row clearfix">
                                        <div class="col-md-6 d-table m-auto card p-10">
                                            <h4 class="text-center m-t-10 m-b-10 text-info "> Request Form </h4>
                                            <form method="post" class="form-auth-small" id="add_college"
                                                  enctype="multipart/form-data">

                                                {% csrf_token %}

                                                {% for field in form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}

                                                <button type="submit" id="submit"
                                                        class="btn btn-primary btn-lg btn-block">Submit
                                                </button>

                                            </form>
                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane {% if navshow == 'online_payment' %} active show {% endif %}"
                                     id="online_payment">

                                    <div class="row clearfix">
                                        <h5>Put your integrations here</h5><br>

                                        <ul>
                                            <li>Google Pay</li>
                                            <li>PayTm</li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock content %}


{% block include_page %}
    {% include 'fee_request_css_js.html' %}
{% endblock %}