
{% load static %}
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">

<script src="{% static 'js/datatablescripts.bundle.js' %}"></script>

<script>
    $(document).ready(function() {
    
      $(function () {
    $('.dataTable').DataTable();
});

        $('#id_approved').on('change', function() {
  if (this.value == "true"){
    $('#id_amount').prop('required',true);
  }
  else {
    $('#id_amount').removeAttr('required');
  }
});

        $('a[data-toggle=modal], button[data-toggle=modal]').click(function (e){
            var currentobject = $(this).attr('href');
            e.preventDefault();
           
    $('a[data-toggle=modal], button[data-toggle=modal]').click(function () {

var data_id = '';

if (typeof $(this).data('id') !== 'undefined') {

data_id = $(this).data('id');
$(".modal-body #id_receipt_no").val(data_id).change();
$(".modal-body #id_receipt_no").hide();
$("#createFormId").modal('show');
}

})
});



    });

    </script>
