{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Enter Marks</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Enter Marks</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if activetab == 'list' %} active show {% endif %}">List</a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %}" id="list">

                                    <div class="row clearfix">

                                        <div class="table-responsive">
                                            <table class="table table-hover table_custom dataTable table_avatar w35 mb-0">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Code</th>
                                                    <th>Name</th>
                                                    <th>Programme</th>

                                                    <th>Semester</th>
                                                    
                                                    <th>Display</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for courses in Courses %}

                                                    <tr>
                                                        <td><span class="list-name">{{ forloop.counter }}</span></td>
                                                        <td><span class="list-name">{{ courses.code }}</span></td>

                                                        <td>{{ courses.name }}</td>
                                                        <td>{{ courses.programme }}</td>
                                                        <td>{{ courses.semester_id }}</td>
                                                        
                                                        <td><a href="{% url 'recheck_update_marks' courses.id %}">
                                                            <button type="button" class="btn btn-outline-success"><i
                                                                    class="fa fa-eye"></i> <span>Display Marks</span>
                                                            </button>
                                                        </a></td>

                                                    </tr>


                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block include_page %}
{#    {% include 'result_css_js.html' %}#}
    {% include 'fee_css_js.html' %}
{% endblock %}
