{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Exam Attendance Attendance</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Exam Attendance</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}

                            <script>
                                Notiflix.Notify.Success("{{ message }}");
                            </script>

                        {% else %}
                            <script>
                                Notiflix.Notify.Failure("{{ message }}");
                            </script>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="col-lg-12 col-md-12">
                    <div class="planned_task">
                        <div class="header">
                            <ul class="nav nav-tabs-new2">


                                <li class="nav-item"><a data-toggle="tab" href="#list"
                                                        class="nav-link {% if activetab == 'list' %} active show{% endif %}">Exam
                                    Attendance</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">


                                <div class="tab-pane {% if activetab == 'list' %} active show {% endif %} " id="list">


                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <!-- <div class="header">
                                                        <h2>Table Tools<small>Basic example without any additional modification classes</small> </h2>
                                                    </div> -->
                                                <div class="body">
                                                    <table
                                                            class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Admission</th>
                                                            <th>Seat Number</th>
                                                            <th>Course</th>
                                                            <th>Appear</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>

                                                        {% for data in attendance_data %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ data.seatno.student.admission }}</td>
                                                                <td id="seat{{ data.id }}">{{ data.seatno.seatno }}</td>
                                                                <td>{{ data.courseid}}</td>
                                                                <td>{{ data.appear }}</td>
                                                                <td><a data-toggle="modal" data-id={{ data.id }}
                                                                        class="modelid btn btn-primary"
                                                                    href="#">Edit</a>
                                                                </td>






                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="modal fade" id="createFormId">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <center>
                                                    <h3>Approved Form</h3>
                                                </center>
                                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            </div>
                                            <div class="modal-body">


                                                <form method="post" class="form-auth-small" id="add_college"
                                                      enctype="multipart/form-data" name="updateattendance" action="/">
                                                    <p><label for="id">Id:</label>
                                                        <label for="id" id="id_id"></label>
                                                    </p>
                                                    <p><label for="seatno">Seat No:</label>
                                                        <label for="seatno" id="seatno"></label>
                                                    </p>
                                                    {% csrf_token %}
                                                    {{ form.as_p }}
                                                    <button type="submit"
                                                            class="btn btn-primary btn-lg btn-block">Submit
                                                    </button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock content %}


{% block include_page %}
    {% include 'course_css_js.html' %}
    {% include 'attendance_list_js.html' %}
{% endblock %}