{% extends "base.html" %}

{% block content %}

    {% include 'sidebar.html' %}
    
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Dashboard</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item">Dashboard </li>
                        <li class="breadcrumb-item active">Dashboard </li>
                    </ul>
                </div>            
            </div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-12 col-md-12">
                <div class="card planned_task">
                    <div class="header">
                        <h2>Dashboard Page</h2>
                    </div>
                    <div class="body">
                        <h4>Dashboard Page</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}